force-app/main/default/flows/Account_On_Boarding_KYC_Maintenance_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Submit_KYC_Review_Update_for_Senior_Approval</name>
        <label>Submit KYC Review Update for Senior Approval</label>
        <locationX>489</locationX>
        <locationY>1331</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Approval_Request_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>KYC_Status.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ApprovalRequestStatus</assignToReference>
            <name>instanceStatus</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Auth_Person_To_List</name>
        <label>Add Auth Person To List</label>
        <locationX>1795</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>AuthorisedPersons</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AuthorisedPerson</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Authorisedf_Persons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entity_Address_Stage</name>
        <label>Add Entity Address Stage</label>
        <locationX>1993</locationX>
        <locationY>146</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Entity_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entity_Documents_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entity_Details_Stage</name>
        <label>Add Entity Details Stage</label>
        <locationX>1993</locationX>
        <locationY>29</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Entity_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entity_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entity_Address_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entity_Documents_Stage</name>
        <label>Add Entity Documents Stage</label>
        <locationX>1997</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Entity_Documents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Parties_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_KYC_Review_Outcome_Stage</name>
        <label>Add KYC Review Outcome Stage</label>
        <locationX>1835</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Review_Outcome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Next</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Onboarding_Stages</name>
        <label>Add Onboarding Stages</label>
        <locationX>1422</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Entity_Documents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Authorised_Persons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Related_Parties</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entity_Documents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Review_Outcome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Next</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Related_Party_Stage</name>
        <label>Add Related Party Stage</label>
        <locationX>2004</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Related_Parties</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_KYC_Review_Outcome_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_KYC_Consultant_Assigned</name>
        <label>No KYC Consultant Assigned</label>
        <locationX>1028</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>KYCConsultant.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Assigned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Onboarding_Request_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Stage_to_Authorised_Persons</name>
        <label>Set Current Stage to Authorised Persons</label>
        <locationX>1236</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Authorised_Persons</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Auth_Persons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Stage_to_Entity_Address</name>
        <label>Set Current Stage to Entity Address</label>
        <locationX>424</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entity_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entity_Address_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Stage_to_Entity_Documents</name>
        <label>Set Current Stage to Entity Documents</label>
        <locationX>427</locationX>
        <locationY>754</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entity_Documents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Onboarding_Docs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Stage_to_Related_Parties</name>
        <label>Set Current Stage to Related Parties</label>
        <locationX>1014</locationX>
        <locationY>776</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Parties</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Onboarding_Related_Party_Docs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Stage_to_Review_Outcome</name>
        <label>Set Current Stage to Review Outcome</label>
        <locationX>737</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_Outcome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Onboarding_End</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Status</name>
        <label>Set New Status</label>
        <locationX>745</locationX>
        <locationY>1333</locationY>
        <assignmentItems>
            <assignToReference>KYC_Status.KYC_Review_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KYC_Review_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_KYC_Status_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Approval_Request_Status</name>
        <label>Approval Request Status</label>
        <locationX>272</locationX>
        <locationY>1329</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalRequestStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entity_Address_Changed</name>
        <label>Entity Address Changed?</label>
        <locationX>1657</locationX>
        <locationY>147</locationY>
        <defaultConnector>
            <targetReference>Entity_Documents_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Entity Address Unchanged</defaultConnectorLabel>
        <rules>
            <name>Entity_Address_Was_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KYCMaintenanceRequest.Changes_Made__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Entity Address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Entity_Address_Stage</targetReference>
            </connector>
            <label>Entity Address Was Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entity_Details_Changed</name>
        <label>Entity Details Changed?</label>
        <locationX>1659</locationX>
        <locationY>29</locationY>
        <defaultConnector>
            <targetReference>Entity_Address_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Entity_Details_Was_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KYCMaintenanceRequest.Changes_Made__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Entity Details</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Entity_Details_Stage</targetReference>
            </connector>
            <label>Entity Details Was Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entity_Documents_Changed</name>
        <label>Entity Documents Changed?</label>
        <locationX>1661</locationX>
        <locationY>280</locationY>
        <defaultConnector>
            <targetReference>Related_Parties_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Entity Documents Unchanged</defaultConnectorLabel>
        <rules>
            <name>Entity_Documents_Was_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KYCMaintenanceRequest.Changes_Made__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Entity Document</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Entity_Documents_Stage</targetReference>
            </connector>
            <label>Entity Documents Was Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Authorised_Person</name>
        <label>Is Authorised Person</label>
        <locationX>1797</locationX>
        <locationY>590</locationY>
        <defaultConnector>
            <targetReference>Select_Authorisedf_Persons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorisedPerson.Contact_Role_s_at_Client__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Authorised Person</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Auth_Person_To_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>KYC_Compliant</name>
        <label>KYC Compliant?</label>
        <locationX>741</locationX>
        <locationY>1191</locationY>
        <defaultConnector>
            <targetReference>KYC_Review_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Compliant Yet</defaultConnectorLabel>
        <rules>
            <name>Client_Is_KYC_Compliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KYC_Review_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Status</targetReference>
            </connector>
            <label>Client Is KYC Compliant</label>
        </rules>
    </decisions>
    <decisions>
        <name>KYC_Consultant_Assigned</name>
        <label>KYC Consultant Assigned?</label>
        <locationX>715</locationX>
        <locationY>394</locationY>
        <defaultConnector>
            <targetReference>Onboarding_Request_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KYC Consultant Assigned</defaultConnectorLabel>
        <rules>
            <name>No_KYC_Consulannt_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KYCConsultant.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_KYC_Consultant_Assigned</targetReference>
            </connector>
            <label>No KYC Consulannt Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onboarding_End</name>
        <label>Onboarding End</label>
        <locationX>734</locationX>
        <locationY>897</locationY>
        <defaultConnector>
            <targetReference>KYC_Review_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Onboarding_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onboarding_Related_Party_Docs</name>
        <label>Onboarding Related Party Docs</label>
        <locationX>1158</locationX>
        <locationY>881</locationY>
        <defaultConnector>
            <targetReference>Lookup_Natural_Person_Related_Parties</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Show_Onboarding_RelatedPart_Docs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onboarding_Natural_Person_Related_Parties</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onboarding_Request_Type</name>
        <label>Onboarding Request Type</label>
        <locationX>1312</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>Entity_Details_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Maintenance Request</defaultConnectorLabel>
        <rules>
            <name>New_Onboarding_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingApp.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Onboarding_Stages</targetReference>
            </connector>
            <label>New Onboarding Request</label>
        </rules>
        <rules>
            <name>Hierarchy_Change_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingApp.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hierarchy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Onboarding_Stages</targetReference>
            </connector>
            <label>Hierarchy Change Request</label>
        </rules>
        <rules>
            <name>Migration_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingApp.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Migration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Onboarding_Stages</targetReference>
            </connector>
            <label>Migration Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onboarding_Request_Type_0</name>
        <label>Onboarding Request Type</label>
        <locationX>598</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>Lookup_KYC_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Maintenance Request</defaultConnectorLabel>
        <rules>
            <name>New_Onboarding_Request_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingApp.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KYC_Consultant_Assigned</targetReference>
            </connector>
            <label>New Onboarding Request</label>
        </rules>
        <rules>
            <name>Hierarchy_Change_Request_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingApp.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hierarchy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_KYC_Status</targetReference>
            </connector>
            <label>Hierarchy Change Request</label>
        </rules>
        <rules>
            <name>Migration_Request_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnboardingApp.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Migration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_KYC_Status</targetReference>
            </connector>
            <label>Migration Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Parties_Changed</name>
        <label>Related Parties Changed?</label>
        <locationX>1659</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Add_KYC_Review_Outcome_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Related Parties Unchanged</defaultConnectorLabel>
        <rules>
            <name>Related_Party_Was_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KYCMaintenanceRequest.Changes_Made__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Related Party</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Related_Party_Stage</targetReference>
            </connector>
            <label>Related Party Was Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Show_Onboarding_Docs</name>
        <label>Show Onboarding Docs</label>
        <locationX>422</locationX>
        <locationY>891</locationY>
        <defaultConnector>
            <targetReference>Account_Application_Documents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Show_Onboarding_Docs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onboarding_Application_Documents</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Account_Application_Provided</name>
        <label>Valid Account Application Provided</label>
        <locationX>34</locationX>
        <locationY>121</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Request_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>No Request Id</label>
        </rules>
        <rules>
            <name>KYC_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_KYC_Maintenance_Request</targetReference>
            </connector>
            <label>KYC Maintenance</label>
        </rules>
        <rules>
            <name>New_Onboarding_Migration_Hierarchy_Change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hierarchy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Migration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Onboarding</targetReference>
            </connector>
            <label>New Onboarding / Migration / Hierarchy Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Next</name>
        <label>What Next?</label>
        <locationX>723</locationX>
        <locationY>593</locationY>
        <defaultConnector>
            <targetReference>Set_Current_Stage_to_Review_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Done</defaultConnectorLabel>
        <rules>
            <name>Show_Entity_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.ActiveStages</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Entity_Details</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Entity_Details_Screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Entity_Details</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entity_Details_Screen</targetReference>
            </connector>
            <label>Show Entity Details</label>
        </rules>
        <rules>
            <name>Show_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.ActiveStages</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Entity_Address</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Entity_Address_Screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Stage_to_Entity_Address</targetReference>
            </connector>
            <label>Show Address</label>
        </rules>
        <rules>
            <name>Show_Documents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.ActiveStages</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Entity_Documents</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Entity_Documentation</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Stage_to_Entity_Documents</targetReference>
            </connector>
            <label>Show Documents</label>
        </rules>
        <rules>
            <name>Show_Authorised_Persons</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.ActiveStages</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Authorised_Persons</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Authorised_Persons_Screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Stage_to_Authorised_Persons</targetReference>
            </connector>
            <label>Show Authorised Persons</label>
        </rules>
        <rules>
            <name>Show_Related_Parties</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.ActiveStages</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Related_Parties</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Related_Parties_Screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Stage_to_Related_Parties</targetReference>
            </connector>
            <label>Show Related Parties</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>KYCStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>KYC_Review_Status__c</picklistField>
        <picklistObject>KYC_Status__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Account Opening and On-Boarding KYC Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Opening and On-Boarding KYC (Maintenance) Review</label>
    <loops>
        <name>Select_Authorisedf_Persons</name>
        <label>Select Authorisedf Persons</label>
        <locationX>1569</locationX>
        <locationY>585</locationY>
        <assignNextValueToReference>AuthorisedPerson</assignNextValueToReference>
        <collectionReference>ContactList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Authorised_Person</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Authoriser_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account_Application_Documents</name>
        <label>Account Application Documents</label>
        <locationX>234</locationX>
        <locationY>889</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entity_Documentation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Authorised_Person__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Authorised_Signatory__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Related_Party__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Application_Document__c</object>
        <outputReference>ApplicationDocuments</outputReference>
        <queriedFields>FileNet_Id__c</queriedFields>
        <queriedFields>Document_Type__c</queriedFields>
        <queriedFields>Document_Status__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Account_Related_Party_Documents</name>
        <label>Account Related Party Documents</label>
        <locationX>1089</locationX>
        <locationY>1148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Parties_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Authorised_Person__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Authorised_Signatory__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Related_Party__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Application_Document__c</object>
        <outputReference>RelatedPartyDocuments</outputReference>
        <queriedFields>FileNet_Id__c</queriedFields>
        <queriedFields>Document_Type__c</queriedFields>
        <queriedFields>Document_Status__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Related_Party__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Authoriser_Documents</name>
        <label>Authoriser Documents</label>
        <locationX>1566</locationX>
        <locationY>749</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Authorised_Persons_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Authorised_Person__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Authorised_Signatory__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingApp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Party__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Application_Document__c</object>
        <outputReference>AuthorisedPersonDocs</outputReference>
        <queriedFields>FileNet_Id__c</queriedFields>
        <queriedFields>Document_Type__c</queriedFields>
        <queriedFields>Document_Status__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account_Application</name>
        <label>Lookup Account Application</label>
        <locationX>425</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Client_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KYCMaintenanceRequest.Account_Application__c</elementReference>
            </value>
        </filters>
        <object>Account_Application__c</object>
        <outputAssignments>
            <assignToReference>Application.Bank_Account_Number__c</assignToReference>
            <field>Bank_Account_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClientID</assignToReference>
            <field>Client__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Application.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RequesterName</assignToReference>
            <field>Requested_By__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RequesterNumber</assignToReference>
            <field>Requester_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Auth_Persons</name>
        <label>Lookup Auth Persons</label>
        <locationX>1390</locationX>
        <locationY>578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Authorisedf_Persons</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Client.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactList</outputReference>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Identity_Number__c</queriedFields>
        <queriedFields>Contact_Role_s_at_Client__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Client_Record</name>
        <label>Lookup Client Record</label>
        <locationX>425</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Onboarding_Request_Type_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Client</outputReference>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>VAT_Number__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>CIF__c</queriedFields>
        <queriedFields>Primary_Relationship_Holder__c</queriedFields>
        <queriedFields>Account_Owner__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Juristic_Entity_Related_Parties</name>
        <label>Lookup Juristic Entity Related Parties</label>
        <locationX>924</locationX>
        <locationY>1051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Related_Party_Documents</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Action_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>NONE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Juristic Entity</stringValue>
            </value>
        </filters>
        <object>Related_Party__c</object>
        <outputReference>RelatedPartiesJuristicEntities</outputReference>
        <queriedFields>Shareholding_Percentage__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Head_Office_Address__c</queriedFields>
        <queriedFields>Physical_Address__c</queriedFields>
        <queriedFields>Registered_Address__c</queriedFields>
        <queriedFields>Registered_Name__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Action_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_KYC_Consultant</name>
        <label>Lookup KYC Consultant</label>
        <locationX>430</locationX>
        <locationY>515</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>KYC_Consultant_Assigned</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KYC_Status.KYC_Consultant__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>KYCConsultant</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_KYC_Maintenance_Request</name>
        <label>Lookup KYC Maintenance Request</label>
        <locationX>260</locationX>
        <locationY>128</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Account_Application</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestId</elementReference>
            </value>
        </filters>
        <object>KYC_Maintenance_Request__c</object>
        <outputReference>KYCMaintenanceRequest</outputReference>
        <queriedFields>Entity_Registration_Number__c</queriedFields>
        <queriedFields>Registered_Address_Line_1__c</queriedFields>
        <queriedFields>Registered_Address_Line_2__c</queriedFields>
        <queriedFields>Registered_City__c</queriedFields>
        <queriedFields>Registered_Country__c</queriedFields>
        <queriedFields>Registered_Name__c</queriedFields>
        <queriedFields>Registered_Postal_Code__c</queriedFields>
        <queriedFields>Registered_Province__c</queriedFields>
        <queriedFields>TradingAs__c</queriedFields>
        <queriedFields>Telephone_Number__c</queriedFields>
        <queriedFields>VAT_Number__c</queriedFields>
        <queriedFields>Changes_Made__c</queriedFields>
        <queriedFields>Account_Application__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_KYC_Status</name>
        <label>Lookup KYC Status</label>
        <locationX>427</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_KYC_Consultant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Client.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Entity_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBSA</stringValue>
            </value>
        </filters>
        <object>KYC_Status__c</object>
        <outputReference>KYC_Status</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KYC_Review_Status__c</queriedFields>
        <queriedFields>KYC_Consultant__c</queriedFields>
        <queriedFields>Client_Contact_Date__c</queriedFields>
        <queriedFields>Review_Year_Period__c</queriedFields>
        <queriedFields>Review_Completed_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Natural_Person_Related_Parties</name>
        <label>Lookup Natural Person Related Parties</label>
        <locationX>1283</locationX>
        <locationY>1047</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Juristic_Entity_Related_Parties</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Action_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>NONE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Natural Person</stringValue>
            </value>
        </filters>
        <object>Related_Party__c</object>
        <outputReference>RelatedPartiesNaturalPersons</outputReference>
        <queriedFields>Capacity__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>Identity_Number__c</queriedFields>
        <queriedFields>Shareholding_Percentage__c</queriedFields>
        <queriedFields>Contact_Number__c</queriedFields>
        <queriedFields>Email_Address__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Action_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Onboarding</name>
        <label>Lookup Onboarding</label>
        <locationX>601</locationX>
        <locationY>4</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Client_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestId</elementReference>
            </value>
        </filters>
        <object>Onboarding_Application__c</object>
        <outputAssignments>
            <assignToReference>ClientID</assignToReference>
            <field>Client__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingApp.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OnboardingApp.Request_Type__c</assignToReference>
            <field>Request_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RequesterName</assignToReference>
            <field>Requested_By__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RequesterNumber</assignToReference>
            <field>Requester_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Onboarding_Application_Documents</name>
        <label>Onboarding Application Documents</label>
        <locationX>383</locationX>
        <locationY>1146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entity_Documentation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Authorised_Person__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Authorised_Signatory__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingApp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Party__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Application_Document__c</object>
        <outputReference>ApplicationDocuments</outputReference>
        <queriedFields>FileNet_Id__c</queriedFields>
        <queriedFields>Document_Type__c</queriedFields>
        <queriedFields>Document_Status__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Onboarding_Juristic_Entity_Related_Parties</name>
        <label>Onboarding Juristic Entity Related Parties</label>
        <locationX>1597</locationX>
        <locationY>923</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Onboarding_Related_Party_Documents</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Action_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>NONE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingApp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Juristic Entity</stringValue>
            </value>
        </filters>
        <object>Related_Party__c</object>
        <outputReference>RelatedPartiesJuristicEntities</outputReference>
        <queriedFields>Shareholding_Percentage__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Head_Office_Address__c</queriedFields>
        <queriedFields>Physical_Address__c</queriedFields>
        <queriedFields>Registered_Address__c</queriedFields>
        <queriedFields>Registered_Name__c</queriedFields>
        <queriedFields>Registration_Number__c</queriedFields>
        <queriedFields>Action_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Onboarding_Natural_Person_Related_Parties</name>
        <label>Onboarding Natural Person Related Parties</label>
        <locationX>1425</locationX>
        <locationY>880</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Onboarding_Juristic_Entity_Related_Parties</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Action_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>NONE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingApp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Natural Person</stringValue>
            </value>
        </filters>
        <object>Related_Party__c</object>
        <outputReference>RelatedPartiesNaturalPersons</outputReference>
        <queriedFields>Capacity__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>Identity_Number__c</queriedFields>
        <queriedFields>Shareholding_Percentage__c</queriedFields>
        <queriedFields>Contact_Number__c</queriedFields>
        <queriedFields>Email_Address__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Action_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Onboarding_Related_Party_Documents</name>
        <label>Onboarding Related Party Documents</label>
        <locationX>1514</locationX>
        <locationY>1143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Parties_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Authorised_Person__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Authorised_Signatory__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingApp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Party__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Application_Document__c</object>
        <outputReference>RelatedPartyDocuments</outputReference>
        <queriedFields>FileNet_Id__c</queriedFields>
        <queriedFields>Document_Type__c</queriedFields>
        <queriedFields>Document_Status__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Related_Party__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_KYC_Status_Record</name>
        <label>Update KYC Status Record</label>
        <locationX>747</locationX>
        <locationY>1459</locationY>
        <connector>
            <targetReference>Submit_KYC_Review_Update_for_Senior_Approval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>KYC_Status</inputReference>
    </recordUpdates>
    <screens>
        <name>Authorised_Persons_Screen</name>
        <label>Authorised Persons Screen</label>
        <locationX>1352</locationX>
        <locationY>764</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_Next</targetReference>
        </connector>
        <fields>
            <name>AuthorisedPersonClientCard</name>
            <extensionName>c:AOB_ClientCard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CIFNumber</name>
                <value>
                    <elementReference>Client.CIF__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientName</name>
                <value>
                    <elementReference>Client.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientCoordinator</name>
                <value>
                    <elementReference>Client.Account_Owner__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryRelationshipHolder</name>
                <value>
                    <elementReference>Client.Primary_Relationship_Holder__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedBy</name>
                <value>
                    <elementReference>RequesterName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requesterNumber</name>
                <value>
                    <elementReference>RequesterNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>KYCConsultant</name>
                <value>
                    <elementReference>KYCConsultant.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastReviewedDate</name>
                <value>
                    <elementReference>KYC_Status.Review_Completed_Date__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AuthorerisedPersonSpacer</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowStagesAuthorisedPersonsScreen</name>
            <extensionName>c:flowStages_field</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AuthorisedPersonsHeading1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Authorised Persons&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;B&gt;: &lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorisedPersonList</name>
            <extensionName>c:datatableAuthorisedPersons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata</name>
                <value>
                    <elementReference>AuthorisedPersons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_fieldName</name>
                <value>
                    <stringValue>FirstName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_label</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_fieldName</name>
                <value>
                    <stringValue>LastName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_label</name>
                <value>
                    <stringValue>Surname</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_fieldName</name>
                <value>
                    <stringValue>Identity_Number__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_label</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column4_fieldName</name>
                <value>
                    <stringValue>Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column4_label</name>
                <value>
                    <stringValue>Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column4_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column5_fieldName</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column5_label</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column5_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AuthorisedPersonDocHeading</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Documents:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorisedPersonDocList</name>
            <extensionName>c:datatableApplicationDocuments</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata</name>
                <value>
                    <elementReference>AuthorisedPersonDocs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_fieldName</name>
                <value>
                    <stringValue>Document_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_label</name>
                <value>
                    <stringValue>Document Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_fieldName</name>
                <value>
                    <stringValue>FileNet_Id__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_label</name>
                <value>
                    <stringValue>Document Link</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_type</name>
                <value>
                    <stringValue>url</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>278</locationX>
        <locationY>1488</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayApprovers</name>
            <fieldText>KYC Review Completed

For Maintenance Requests the updated to the KYC Status record in Salesforce was Submitted for Approval.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Entity_Address_Screen</name>
        <label>Entity Address Screen</label>
        <locationX>124</locationX>
        <locationY>761</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_Next</targetReference>
        </connector>
        <fields>
            <name>EntityAddressClientCard</name>
            <extensionName>c:AOB_ClientCard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CIFNumber</name>
                <value>
                    <elementReference>Client.CIF__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientName</name>
                <value>
                    <elementReference>Client.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientCoordinator</name>
                <value>
                    <elementReference>Client.Account_Owner__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryRelationshipHolder</name>
                <value>
                    <elementReference>Client.Primary_Relationship_Holder__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedBy</name>
                <value>
                    <elementReference>RequesterName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requesterNumber</name>
                <value>
                    <elementReference>RequesterNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>KYCConsultant</name>
                <value>
                    <elementReference>KYCConsultant.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastReviewedDate</name>
                <value>
                    <elementReference>KYC_Status.Review_Completed_Date__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AddressScreenSpacer</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowStagesOnEntityAddressScreen</name>
            <extensionName>c:flowStages_field</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OriginalAddress</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Original Registered Address:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Client.BillingStreet}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EntirtyAddressBlankLine1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UpdatedAddress</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Updated Registered&lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt; &lt;/B&gt;&lt;/FONT&gt;&lt;B&gt;Address:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!KYCMaintenanceRequest.Registered_Address_Line_1__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!KYCMaintenanceRequest.Registered_Address_Line_2__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!KYCMaintenanceRequest.Registered_City__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!KYCMaintenanceRequest.Registered_Postal_Code__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!KYCMaintenanceRequest.Registered_Province__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!KYCMaintenanceRequest.Registered_Country__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Entity_Details_Screen</name>
        <label>Entity Details Screen</label>
        <locationX>711</locationX>
        <locationY>487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_Next</targetReference>
        </connector>
        <fields>
            <name>ShowClientCard</name>
            <extensionName>c:AOB_ClientCard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CIFNumber</name>
                <value>
                    <elementReference>Client.CIF__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientName</name>
                <value>
                    <elementReference>Client.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientCoordinator</name>
                <value>
                    <elementReference>Client.Account_Owner__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryRelationshipHolder</name>
                <value>
                    <elementReference>Client.Primary_Relationship_Holder__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>KYCConsultant</name>
                <value>
                    <elementReference>KYCConsultant.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastReviewedDate</name>
                <value>
                    <elementReference>KYC_Status.Review_Completed_Date__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedBy</name>
                <value>
                    <elementReference>RequesterName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requesterNumber</name>
                <value>
                    <elementReference>RequesterNumber</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Spacer</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowStagesOnEntityDetailScreen</name>
            <extensionName>c:flowStages_field</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OriginalEntityDetails</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Original Entity Details&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Registration Number: {!Client.Registration_Number__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Trading As: &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Registered Name: &lt;FONT KERNING=&quot;1&quot;&gt;{!Client.Name}&lt;/FONT&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Phone Number: {!Client.Phone}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;VAT Number:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EntityDetailsBlaneLine1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UpdatedEntityDetails</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Updated Entity Details&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Registration Number: {!KYCMaintenanceRequest.Entity_Registration_Number__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Trading As: {!KYCMaintenanceRequest.TradingAs__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Registered Name: {!KYCMaintenanceRequest.Registered_Name__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Phone Number: {!KYCMaintenanceRequest.Telephone_Number__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;VAT Number: {!KYCMaintenanceRequest.VAT_Number__c}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>Continue this review from the homepage</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Entity_Documentation</name>
        <label>Entity Documentation</label>
        <locationX>234</locationX>
        <locationY>1051</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_Next</targetReference>
        </connector>
        <fields>
            <name>EntityDocumentClientCard</name>
            <extensionName>c:AOB_ClientCard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CIFNumber</name>
                <value>
                    <elementReference>Client.CIF__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientName</name>
                <value>
                    <elementReference>Client.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientCoordinator</name>
                <value>
                    <elementReference>Client.Account_Owner__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryRelationshipHolder</name>
                <value>
                    <elementReference>Client.Primary_Relationship_Holder__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedBy</name>
                <value>
                    <elementReference>RequesterName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requesterNumber</name>
                <value>
                    <elementReference>RequesterNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>KYCConsultant</name>
                <value>
                    <elementReference>KYCConsultant.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastReviewedDate</name>
                <value>
                    <elementReference>KYC_Status.Review_Completed_Date__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EntityDocumentsSpacer</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowStagesEntityDocuments</name>
            <extensionName>c:flowStages_field</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EntityDocuments</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Entity Documents&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DocumentList</name>
            <extensionName>c:datatableApplicationDocuments</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata</name>
                <value>
                    <elementReference>ApplicationDocuments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_fieldName</name>
                <value>
                    <stringValue>Document_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_label</name>
                <value>
                    <stringValue>Document Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_fieldName</name>
                <value>
                    <stringValue>FileNet_Id__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_label</name>
                <value>
                    <stringValue>Document Link</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_type</name>
                <value>
                    <stringValue>url</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>34</locationX>
        <locationY>538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>Sorry, but you cant read or update records at this time.
Please open a case with Salesforce IT Support Team and include this error message:
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>KYC_Review_Complete</name>
        <label>KYC Review Complete</label>
        <locationX>738</locationX>
        <locationY>1028</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>KYC_Compliant</targetReference>
        </connector>
        <fields>
            <name>ReviewCompleteClientCard</name>
            <extensionName>c:AOB_ClientCard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CIFNumber</name>
                <value>
                    <elementReference>Client.CIF__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientName</name>
                <value>
                    <elementReference>Client.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientCoordinator</name>
                <value>
                    <elementReference>Client.Account_Owner__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryRelationshipHolder</name>
                <value>
                    <elementReference>Client.Primary_Relationship_Holder__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedBy</name>
                <value>
                    <elementReference>RequesterName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requesterNumber</name>
                <value>
                    <elementReference>RequesterNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>KYCConsultant</name>
                <value>
                    <elementReference>KYCConsultant.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastReviewedDate</name>
                <value>
                    <elementReference>KYC_Status.Review_Completed_Date__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReviewCompleteSpacer</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowStagesReviewCmplete</name>
            <extensionName>c:flowStages_field</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Final</name>
            <fieldText>Review Complete

Please indicate what he KYC Review Status for this client should be.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>KYC_Review_Status</name>
            <choiceReferences>KYCStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>KYC Review Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Related_Parties_Screen</name>
        <label>Related Parties Screen</label>
        <locationX>1284</locationX>
        <locationY>1148</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_Next</targetReference>
        </connector>
        <fields>
            <name>ReatedPartyClientCard</name>
            <extensionName>c:AOB_ClientCard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CIFNumber</name>
                <value>
                    <elementReference>Client.CIF__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientName</name>
                <value>
                    <elementReference>Client.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientCoordinator</name>
                <value>
                    <elementReference>Client.Account_Owner__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryRelationshipHolder</name>
                <value>
                    <elementReference>Client.Primary_Relationship_Holder__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestedBy</name>
                <value>
                    <elementReference>RequesterName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requesterNumber</name>
                <value>
                    <elementReference>RequesterNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>KYCConsultant</name>
                <value>
                    <elementReference>KYCConsultant.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastReviewedDate</name>
                <value>
                    <elementReference>KYC_Status.Review_Completed_Date__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RelatedPartySpacer</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowStagesRelatedPartyScreen</name>
            <extensionName>c:flowStages_field</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RelatedParties</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Related Parties&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt; -&lt;B&gt; Natural Persons:&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NaturalPersonList</name>
            <extensionName>c:datatableRelatedParties</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata</name>
                <value>
                    <elementReference>RelatedPartiesNaturalPersons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_label</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_fieldName</name>
                <value>
                    <stringValue>Identity_Number__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column5_label</name>
                <value>
                    <stringValue>Shareholding</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column5_fieldName</name>
                <value>
                    <stringValue>Shareholding_Percentage__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column5_type</name>
                <value>
                    <stringValue>percent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_fieldName</name>
                <value>
                    <stringValue>First_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_label</name>
                <value>
                    <stringValue>First Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_label</name>
                <value>
                    <stringValue>Last Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_fieldName</name>
                <value>
                    <stringValue>Last_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column4_label</name>
                <value>
                    <stringValue>Capacity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column4_fieldName</name>
                <value>
                    <stringValue>Capacity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column4_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column6_fieldName</name>
                <value>
                    <stringValue>Action_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column6_label</name>
                <value>
                    <stringValue>Request Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column6_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>RelatedPartyList</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>JuristicEntities</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Related Parties&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt; - &lt;B&gt;Juristic Entities&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;B&gt;:&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>JuristicEntityList</name>
            <extensionName>c:datatableRelatedParties</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata</name>
                <value>
                    <elementReference>RelatedPartiesJuristicEntities</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_label</name>
                <value>
                    <stringValue>Registration Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_fieldName</name>
                <value>
                    <stringValue>Registration_Number__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_label</name>
                <value>
                    <stringValue>Registered Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_fieldName</name>
                <value>
                    <stringValue>Registered_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column5_label</name>
                <value>
                    <stringValue>Shareholding</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column5_fieldName</name>
                <value>
                    <stringValue>Shareholding_Percentage__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column5_type</name>
                <value>
                    <stringValue>percent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column6_fieldName</name>
                <value>
                    <stringValue>Action_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column6_label</name>
                <value>
                    <stringValue>Request Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column6_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>RelatedPartyList</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RelatedPartyEntityHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Documents:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RelatedPartyDocumentList</name>
            <extensionName>c:datatableApplicationDocuments</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata</name>
                <value>
                    <elementReference>RelatedPartyDocuments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_fieldName</name>
                <value>
                    <stringValue>Document_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_label</name>
                <value>
                    <stringValue>Document Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_fieldName</name>
                <value>
                    <stringValue>FileNet_Id__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_label</name>
                <value>
                    <stringValue>Document Link</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_type</name>
                <value>
                    <stringValue>url</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test_Harness</name>
        <label>Test Harness</label>
        <locationX>39</locationX>
        <locationY>9</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Valid_Account_Application_Provided</targetReference>
        </connector>
        <fields>
            <name>Request_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RequestId</elementReference>
            </defaultValue>
            <fieldText>Request Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Authorised_Persons</name>
        <isActive>false</isActive>
        <label>Authorised Persons</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Entity_Address</name>
        <isActive>false</isActive>
        <label>Entity Address</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Entity_Details</name>
        <isActive>false</isActive>
        <label>Entity Details</label>
        <stageOrder>0</stageOrder>
    </stages>
    <stages>
        <name>Entity_Documents</name>
        <isActive>false</isActive>
        <label>Entity Documents</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Related_Parties</name>
        <isActive>false</isActive>
        <label>Related Parties</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Review_Outcome</name>
        <isActive>false</isActive>
        <label>Review Outcome</label>
        <stageOrder>4</stageOrder>
    </stages>
    <startElementReference>Valid_Account_Application_Provided</startElementReference>
    <status>Active</status>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Application__c</objectType>
    </variables>
    <variables>
        <name>ApplicationDocuments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Document__c</objectType>
    </variables>
    <variables>
        <name>ApprovalRequestStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorisedPerson</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>AuthorisedPersonDocs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Document__c</objectType>
    </variables>
    <variables>
        <name>AuthorisedPersons</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Client</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ClientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>The KYC Status Record related to the client for SA KYC Location</description>
        <name>KYC_Status</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KYC_Status__c</objectType>
    </variables>
    <variables>
        <description>List of Approver Id&apos;s</description>
        <name>KYCApprovers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KYCConsultant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>KYCMaintenanceRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KYC_Maintenance_Request__c</objectType>
    </variables>
    <variables>
        <name>OnboardingApp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Application__c</objectType>
    </variables>
    <variables>
        <name>RelatedPartiesJuristicEntities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_Party__c</objectType>
    </variables>
    <variables>
        <name>RelatedPartiesNaturalPersons</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_Party__c</objectType>
    </variables>
    <variables>
        <name>RelatedPartyDocuments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Document__c</objectType>
    </variables>
    <variables>
        <name>RelatedPartyList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_Party__c</objectType>
    </variables>
    <variables>
        <name>RequesterName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequesterNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Maintenance</stringValue>
        </value>
    </variables>
</Flow>
