force-app/main/default/flows/ACM_Set_permission_set_on_user.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Does_the_User_already_have_this_permset</name>
        <label>Does the User already have this permset?</label>
        <locationX>672</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>Create_Permission_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Does_the_User_already_have_this_permsetYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permission_set_assignment_for_the_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_an_ACM_User</name>
        <label>Is it an ACM User?</label>
        <locationX>530</locationX>
        <locationY>135</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_it_an_ACM_UserYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACM Community User Login</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Permission_Set</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Permission_Set_found</name>
        <label>Permission Set found?</label>
        <locationX>876</locationX>
        <locationY>135</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Permission_Set_foundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permission_Set</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Permission_set_assignment_for_the_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>ACM: Set permission set on user {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACM: Set permission set on user</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Permission_Set</name>
        <label>Create Permission Set</label>
        <locationX>420</locationX>
        <locationY>346</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Permission_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Permission_Set</name>
        <label>Permission Set</label>
        <locationX>740</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>API_Marketplace_Member</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Permission_set_assignment_for_the_User</name>
        <label>Permission set assignment for the User</label>
        <locationX>884</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_User_already_have_this_permset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Future</name>
            <connector>
                <targetReference>Is_it_an_ACM_User</targetReference>
            </connector>
            <label>Future</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>existingPermissionSetRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
