force-app/main/default/flows/Add_a_Related_Ecosystem_Entity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_collection</name>
        <label>Add collection</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>EcosystemEntity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EcosystemEntities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountIteration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEcosystemEntityVariables</name>
        <label>AssignEcosystemEntityVariables</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>EcosystemEntities.Ecosystem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EcosystemEntities.Entity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Subsidiary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EcosystemEntities.Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountIteration.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EcosystemEntities.Primary_Relationship_Holder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountIteration.Primary_Relationship_Holder__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getRelationshipGroupNumber</name>
        <label>getRelationshipGroupNumber</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>RelationshipGroupNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Relationship_Group_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAccountsByGroupNumber</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Add a Related Ecosystem Entity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add a Related Ecosystem Entity</label>
    <loops>
        <name>AccountIteration</name>
        <label>AccountIteration</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>GetAccountsByGroupNumber</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignEcosystemEntityVariables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createEcosystemEntity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createEcosystemEntity</name>
        <label>createEcosystemEntity</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>EcosystemEntity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAccountsByGroupNumber</name>
        <label>GetAccountsByGroupNumber</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountIteration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Relationship_Group_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelationshipGroupNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRelationshipGroupNumber</targetReference>
        </connector>
        <object>Ecosystem__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EcosystemEntities</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Ecosystem_Entity__c</objectType>
    </variables>
    <variables>
        <name>EcosystemEntity</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Ecosystem_Entity__c</objectType>
    </variables>
    <variables>
        <name>RelationshipGroupNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
