force-app/main/default/flows/AOB_MainFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Current_screen</name>
        <label>Current screen ?</label>
        <locationX>133</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Before_we_Begin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.AOB_CurrentScreen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Before We Begin</stringValue>
                </rightValue>
            </conditions>
            <label>Before we Begin</label>
        </rules>
        <rules>
            <name>WFR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.AOB_CurrentScreen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web Facial Recognition</stringValue>
                </rightValue>
            </conditions>
            <label>WFR</label>
        </rules>
        <rules>
            <name>Personal_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.AOB_CurrentScreen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal Details</stringValue>
                </rightValue>
            </conditions>
            <label>Personal Details</label>
        </rules>
        <rules>
            <name>residential_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.AOB_CurrentScreen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Residential Details</stringValue>
                </rightValue>
            </conditions>
            <label>residential Details</label>
        </rules>
        <rules>
            <name>Employment_detailsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.AOB_CurrentScreen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employment Details</stringValue>
                </rightValue>
            </conditions>
            <label>Employment details</label>
        </rules>
        <rules>
            <name>company_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.AOB_CurrentScreen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Company Details</stringValue>
                </rightValue>
            </conditions>
            <label>company Details</label>
        </rules>
        <rules>
            <name>Trading_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.AOB_CurrentScreen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Company Trading Address</stringValue>
                </rightValue>
            </conditions>
            <label>Trading Address</label>
        </rules>
        <rules>
            <name>financial_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.AOB_CurrentScreen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Company Financial Details</stringValue>
                </rightValue>
            </conditions>
            <label>financial Details</label>
        </rules>
        <rules>
            <name>Marketing_consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.AOB_CurrentScreen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Consent</stringValue>
                </rightValue>
            </conditions>
            <label>Marketing consent</label>
        </rules>
        <rules>
            <name>Card_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.AOB_CurrentScreen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Card Delivery</stringValue>
                </rightValue>
            </conditions>
            <label>Card Delivery</label>
        </rules>
        <rules>
            <name>Account_Setup6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.AOB_CurrentScreen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Setup</stringValue>
                </rightValue>
            </conditions>
            <label>Account Setup</label>
        </rules>
        <rules>
            <name>Available_Bundles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.AOB_CurrentScreen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Available Bundles</stringValue>
                </rightValue>
            </conditions>
            <label>Available Bundles</label>
        </rules>
        <rules>
            <name>PocketBiz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.AOB_CurrentScreen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PocketBiz</stringValue>
                </rightValue>
            </conditions>
            <label>PocketBiz</label>
        </rules>
        <rules>
            <name>SnapScan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.AOB_CurrentScreen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SnapScan</stringValue>
                </rightValue>
            </conditions>
            <label>SnapScan</label>
        </rules>
        <rules>
            <name>Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.AOB_CurrentScreen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Summary</stringValue>
                </rightValue>
            </conditions>
            <label>Summary</label>
        </rules>
        <rules>
            <name>OTP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.AOB_CurrentScreen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTP</stringValue>
                </rightValue>
            </conditions>
            <label>OTP</label>
        </rules>
    </decisions>
    <interviewLabel>Account Onboarding Main flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Onboarding Main flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>141</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AOB_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Account_setup</name>
        <label>Account setup</label>
        <locationX>774</locationX>
        <locationY>257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SC_Available_bundles</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Employment_Details</name>
        <label>Employment Details</label>
        <locationX>749</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SC_Company_Details</targetReference>
        </connector>
        <fields>
            <name>stepper_EMDetails</name>
            <extensionName>c:aob_comp_stepper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentScreen</name>
                <value>
                    <stringValue>Employment details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentScreenNum</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numOfScreens</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousScreen</name>
                <value>
                    <stringValue>Personal Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>productName</name>
                <value>
                    <stringValue>mymobiz</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>aob_comp_EmploymentDetails</name>
            <extensionName>c:aob_comp_formCreator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>applicationId</name>
                <value>
                    <elementReference>ApplicationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>screenName</name>
                <value>
                    <stringValue>Employment details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Available_bundles</name>
        <label>Available bundles</label>
        <locationX>673</locationX>
        <locationY>257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SC_PocketBiz</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Before_we_begin</name>
        <label>Before we begin</label>
        <locationX>392</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SC_Personal_Details</targetReference>
        </connector>
        <fields>
            <name>LWC_BeforeWeBegin</name>
            <extensionName>c:aob_comp_beforeWeBegin</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>applicationId</name>
                <value>
                    <elementReference>ApplicationId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Card_Delivery</name>
        <label>Card Delivery</label>
        <locationX>888</locationX>
        <locationY>257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_setup</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Company_Details</name>
        <label>Company Details</label>
        <locationX>839</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SC_Company_Trading_Address</targetReference>
        </connector>
        <fields>
            <name>AOB_comp_CompanyDetails</name>
            <extensionName>c:aob_comp_formCreator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>applicationId</name>
                <value>
                    <elementReference>ApplicationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>screenName</name>
                <value>
                    <stringValue>Company details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Company_Financial_Details</name>
        <label>Company Financial Details</label>
        <locationX>1027</locationX>
        <locationY>78</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SC_Marketing_consent</targetReference>
        </connector>
        <fields>
            <name>aob_comp_FinancialInfo</name>
            <extensionName>c:aob_comp_formCreator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>screenName</name>
                <value>
                    <stringValue>Company financial information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>applicationId</name>
                <value>
                    <elementReference>ApplicationId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Company_Trading_Address</name>
        <label>Company Trading Address</label>
        <locationX>926</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SC_Company_Financial_Details</targetReference>
        </connector>
        <fields>
            <name>aob_comp_tradingAddress</name>
            <extensionName>c:aob_comp_formCreator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>screenName</name>
                <value>
                    <stringValue>Company trading address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>applicationId</name>
                <value>
                    <elementReference>ApplicationId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Marketing_consent</name>
        <label>Marketing consent</label>
        <locationX>1029</locationX>
        <locationY>257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SC_Card_Delivery</targetReference>
        </connector>
        <fields>
            <name>aob_comp_marketingConsent</name>
            <extensionName>c:aob_comp_formCreator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>applicationId</name>
                <value>
                    <elementReference>ApplicationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>screenName</name>
                <value>
                    <stringValue>Marketing consent</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_OTP</name>
        <label>OTP</label>
        <locationX>278</locationX>
        <locationY>258</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Personal_Details</name>
        <label>Personal Details</label>
        <locationX>577</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SC_Residential_Details</targetReference>
        </connector>
        <fields>
            <name>Stepper</name>
            <extensionName>c:aob_comp_stepper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentScreen</name>
                <value>
                    <stringValue>Personal Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentScreenNum</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numOfScreens</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousScreen</name>
                <value>
                    <stringValue>Web Facial Recognition</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>productName</name>
                <value>
                    <stringValue>MYMOBIZ</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>aob_personalDetails</name>
            <extensionName>c:aob_comp_formCreator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>applicationId</name>
                <value>
                    <elementReference>ApplicationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>screenName</name>
                <value>
                    <stringValue>Personal Details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_PocketBiz</name>
        <label>PocketBiz</label>
        <locationX>577</locationX>
        <locationY>257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SC_Snap_Scan</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Residential_Details</name>
        <label>Residential Details</label>
        <locationX>666</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Employment_Details</targetReference>
        </connector>
        <fields>
            <name>Stepper2</name>
            <extensionName>c:aob_comp_stepper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentScreen</name>
                <value>
                    <stringValue>Residential Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentScreenNum</name>
                <value>
                    <stringValue>3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numOfScreens</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousScreen</name>
                <value>
                    <stringValue>Personal Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>productName</name>
                <value>
                    <stringValue>MYMOBIZ</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>aob_comp_formCreator</name>
            <extensionName>c:aob_comp_formCreator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>applicationId</name>
                <value>
                    <elementReference>ApplicationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>screenName</name>
                <value>
                    <stringValue>Residential address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Snap_Scan</name>
        <label>Snap Scan</label>
        <locationX>480</locationX>
        <locationY>257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SC_Summary</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_Summary</name>
        <label>Summary</label>
        <locationX>382</locationX>
        <locationY>258</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SC_OTP</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_web_facial_recognition</name>
        <label>Web Facial Recognition</label>
        <locationX>483</locationX>
        <locationY>10</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SC_Before_we_begin</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jsonData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
