force-app/main/default/flows/API_Marketplace_API_Subscription_Internal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_IBM_Application</name>
        <label>Create IBM Application</label>
        <locationX>622</locationX>
        <locationY>6314</locationY>
        <actionName>regSubEApi307.postIbmApplications</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Check_Create_IBM_Application_Response_Code</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Authorization</name>
            <value>
                <stringValue>1244</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_id</name>
            <value>
                <elementReference>Post_IBM_Application_Setting.client_id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_secret</name>
            <value>
                <elementReference>Post_IBM_Application_Setting.client_secret__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Content-Type</name>
            <value>
                <stringValue>application/json</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>generated</name>
            <value>
                <elementReference>IBMApplicationRequestv307</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CreateIBMApplicationResponseBody400</assignToReference>
            <name>400Exc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreateIBMApplicationResponseBody401</assignToReference>
            <name>401Exc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreateIBMApplicationResponseBody500</assignToReference>
            <name>500Exc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreateIBMApplicationResponseBodyDefault</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreateIBMApplicationResponseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_Existing_Application_Names</name>
        <label>Add to Existing Application Names</label>
        <locationX>426</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>ExistingApplicationNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Existing_Applications_Loop.acm_pkg__Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Applications_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Existing_Application_Names</name>
        <label>Default Existing Application Names</label>
        <locationX>554</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>ExistingApplicationNames</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Environment_Selection_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_ltaOAUTH_REDIRECT_URL_CERTIFICATE</name>
        <label>Default ltaOAUTH_REDIRECT_URL &amp; CERTIFICATE</label>
        <locationX>842</locationX>
        <locationY>3002</locationY>
        <assignmentItems>
            <assignToReference>ltaOAUTH_REDIRECT_URL_VALUE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ltaCERTIFICATE_VALUE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Anypoint_Application_Id</name>
        <label>Set Anypoint Application Id</label>
        <locationX>578</locationX>
        <locationY>4658</locationY>
        <assignmentItems>
            <assignToReference>vAnypointApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ccsApplication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anypoint_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Anypoint_Contract_Id</name>
        <label>Set Anypoint Contract Id</label>
        <locationX>886</locationX>
        <locationY>5594</locationY>
        <assignmentItems>
            <assignToReference>vAnypointContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Contracts.acm_pkg__Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Anypoint_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Application_ID</name>
        <label>Set Application ID</label>
        <locationX>534</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>listOfExsitingAppIdsWithContracts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Array_of_Application_IDs.acm_pkg__ApplicationId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Array_of_Application_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Created_Anypoint_Application_Id</name>
        <label>Set Created Anypoint Application Id</label>
        <locationX>50</locationX>
        <locationY>4898</locationY>
        <assignmentItems>
            <assignToReference>vAnypointApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Created_Anypoint_Application.acm_pkg__Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anypoint_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Created_Anypoint_Contract_Id</name>
        <label>Set Created Anypoint Contract Id</label>
        <locationX>446</locationX>
        <locationY>7658</locationY>
        <assignmentItems>
            <assignToReference>vAnypointContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Anypoint_Contract.acm_pkg__Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Anypoint_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IBM_Application_Request_Parameters</name>
        <label>Set IBM Application Request Parameters</label>
        <locationX>622</locationX>
        <locationY>6074</locationY>
        <assignmentItems>
            <assignToReference>IBMApplicationRequestv307.apiSourceEnv</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>API_Source_Environment.acm_pkg__CustomFieldValue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IBMApplicationRequestv307.appName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Anypoint_Application.acm_pkg__Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IBMApplicationRequestv307.appDisplayName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Anypoint_Application.acm_pkg__Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IBMApplicationRequestv307.orgName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orgNameLower</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IBMApplicationRequestv307.orgDisplayName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subscriber_Contact.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IBMApplicationRequestv307.clientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Anypoint_Application.acm_pkg__ClientId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IBMApplicationRequestv307.clientSecret</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Anypoint_Application.acm_pkg__ClientSecret__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IBMApplicationRequestv307.instance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Source_Environment.acm_pkg__ApiGroupInstanceLabel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IBMApplicationRequestv307.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ltaDESCRIPTION</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IBMApplicationRequestv307.redirectUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ltaOAUTH_REDIRECT_URL_VALUE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IBMApplicationRequestv307.x78509Certificate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ltaCERTIFICATE_VALUE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_IBM_Application_Setting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ltaCERTIFICATE_CERTIFICATE_Certificate</name>
        <label>Set ltaCERTIFICATE_CERTIFICATE Certificate</label>
        <locationX>578</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>ltaCERTIFICATE_VALUE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ltaCERTIFICATE_CERTIFICATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ltaOAUTH_REDIRECT_URL_VALUE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ltaCERTIFICATE_CERTIFICATE_Retry</name>
        <label>Set ltaCERTIFICATE_CERTIFICATE Certificate</label>
        <locationX>710</locationX>
        <locationY>6674</locationY>
        <assignmentItems>
            <assignToReference>ltaCERTIFICATE_VALUE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ltaCERTIFICATE_RETRY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ltaOAUTH_REDIRECT_URL_VALUE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_IBM_Application_Request_Parameters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ltaOAUTH_REDIRECT_URL_CERTIFICATE</name>
        <label>Set ltaOAUTH_REDIRECT_URL &amp; CERTIFICATE</label>
        <locationX>50</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>ltaOAUTH_REDIRECT_URL_VALUE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ltaOAUTH_REDIRECT_URL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ltaCERTIFICATE_VALUE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ltaCERTIFICATE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ltaOAUTH_REDIRECT_URL_Redirect</name>
        <label>Set ltaOAUTH_REDIRECT_URL Redirect</label>
        <locationX>314</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>ltaOAUTH_REDIRECT_URL_VALUE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ltaOAUTH_REDIRECT_URL_REDIRECT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ltaCERTIFICATE_VALUE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plans</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>New application choice</description>
        <name>chNewApp</name>
        <choiceText>New Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NewApplication</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Contracts_for_this_API</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Contracts for this API</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignNextValueToReference>currentItem_Filter_Contracts_for_this_API</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Anypoint_Contracts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Contracts_for_this_API.acm_pkg__ApiVersionId__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Api_Version.acm_pkg__Id__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Create_Array_of_Application_IDs</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>API_Required_Fields</name>
        <label>API Required Fields</label>
        <locationX>446</locationX>
        <locationY>2882</locationY>
        <defaultConnector>
            <targetReference>Default_ltaOAUTH_REDIRECT_URL_CERTIFICATE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Redirect_URL_Certificate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Redirect_URL_Required.acm_pkg__CustomFieldValue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Certificate_Required.acm_pkg__CustomFieldValue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redirect_Certificate</targetReference>
            </connector>
            <label>Redirect URL &amp; Certificate</label>
        </rules>
        <rules>
            <name>Redirect_URL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Redirect_URL_Required.acm_pkg__CustomFieldValue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Certificate_Required.acm_pkg__CustomFieldValue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redirect</targetReference>
            </connector>
            <label>Redirect URL</label>
        </rules>
        <rules>
            <name>Certificate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Certificate_Required.acm_pkg__CustomFieldValue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Redirect_URL_Required.acm_pkg__CustomFieldValue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Certificate_Only</targetReference>
            </connector>
            <label>Certificate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Create_IBM_Application_Response_Code</name>
        <label>Check Create IBM Application Response Code</label>
        <locationX>622</locationX>
        <locationY>6434</locationY>
        <defaultConnector>
            <targetReference>Certificate_Retry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IBM_Create_App_200_OR_201</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CreateIBMApplicationResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreateIBMApplicationResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subscription</targetReference>
            </connector>
            <label>200 OR 201</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Status</name>
        <label>Contract Status</label>
        <locationX>1238</locationX>
        <locationY>5474</locationY>
        <defaultConnector>
            <targetReference>Existing_Contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists_Pending_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Contracts.acm_pkg__ApiVersionId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Api_Version.acm_pkg__Id__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existing_Contracts.acm_pkg__ApplicationId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Anypoint_Application.acm_pkg__Id__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existing_Contracts.acm_pkg__ContractType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ApiGroup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existing_Contracts.acm_pkg__InstanceId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vAcmPkgId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existing_Contracts.acm_pkg__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PENDING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Anypoint_Contract_Id</targetReference>
            </connector>
            <label>Exists Pending Approval</label>
        </rules>
        <rules>
            <name>Exists_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Contracts.acm_pkg__ApiVersionId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Api_Version.acm_pkg__Id__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existing_Contracts.acm_pkg__ApplicationId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Anypoint_Application.acm_pkg__Id__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existing_Contracts.acm_pkg__ContractType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ApiGroup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existing_Contracts.acm_pkg__InstanceId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vAcmPkgId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existing_Contracts.acm_pkg__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APPROVED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scThank_you</targetReference>
            </connector>
            <label>Exists Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Applications_Found</name>
        <label>Existing Applications Found</label>
        <locationX>446</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Default_Existing_Application_Names</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Applications_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Applications_Get</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Applications_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IBM_API</name>
        <label>IBM API</label>
        <locationX>886</locationX>
        <locationY>5834</locationY>
        <defaultConnector>
            <targetReference>Subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>API_Source_Environment.acm_pkg__CustomFieldValue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ibm-sa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>plSELECT_APP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chNewApp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subscriber_Contact</targetReference>
            </connector>
            <label>Yes &amp; New App</label>
        </rules>
        <rules>
            <name>Yes_Existing_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>API_Source_Environment.acm_pkg__CustomFieldValue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ibm-sa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>plSELECT_APP</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>chNewApp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subscription</targetReference>
            </connector>
            <label>Yes &amp; Existing App</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_It_New_or_Existing_Application</name>
        <label>Is It New or Existing Application</label>
        <locationX>446</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>API_Required_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Its_New_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>plSELECT_APP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chNewApp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>API_Required_Fields</targetReference>
            </connector>
            <label>Its New Application</label>
        </rules>
        <rules>
            <name>Its_Existing_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>plSELECT_APP</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>chNewApp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Plans</targetReference>
            </connector>
            <label>Its Existing Application</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Existing_Application</name>
        <label>New or Existing Application</label>
        <locationX>446</locationX>
        <locationY>4538</locationY>
        <defaultConnector>
            <targetReference>Anypoint_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>plSELECT_APP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chNewApp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Anypoint_Application</targetReference>
            </connector>
            <label>New Application</label>
        </rules>
        <rules>
            <name>Existing_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>plSELECT_APP</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>chNewApp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Anypoint_Application_Id</targetReference>
            </connector>
            <label>Existing Application</label>
        </rules>
    </decisions>
    <description>Filtering API Contracts for given API</description>
    <dynamicChoiceSets>
        <name>ccsApplication</name>
        <collectionReference>Existing_ACM_Subscriptions_Get</collectionReference>
        <dataType>String</dataType>
        <displayField>Application_Title__c</displayField>
        <object>ACM_Subscription__c</object>
        <valueField>Application_T__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ccsExistingApplications</name>
        <collectionReference>Existing_Applications_Get</collectionReference>
        <dataType>String</dataType>
        <displayField>acm_pkg__Name__c</displayField>
        <object>acm_pkg__AnypointApplications__x</object>
        <valueField>acm_pkg__Id__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>crBusinessArea</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BusinessArea__c</picklistField>
        <picklistObject>ACM_Subscription__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>crSegment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Segment__c</picklistField>
        <picklistObject>ACM_Subscription__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsApplication</name>
        <dataType>String</dataType>
        <displayField>acm_pkg__Name__c</displayField>
        <object>acm_pkg__AnypointApplications__x</object>
        <outputAssignments>
            <assignToReference>vApplicationNameTMP</assignToReference>
            <field>acm_pkg__Name__c</field>
        </outputAssignments>
        <valueField>acm_pkg__Id__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsEnvironment</name>
        <dataType>String</dataType>
        <displayField>acm_pkg__ApiGroupInstanceLabel__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__ApiGroupVersionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Api_Version.acm_pkg__Id__c</elementReference>
            </value>
        </filters>
        <object>acm_pkg__AnypointApiGroupInstances__x</object>
        <outputAssignments>
            <assignToReference>vAcmPkgId</assignToReference>
            <field>acm_pkg__Id__c</field>
        </outputAssignments>
        <valueField>acm_pkg__Id__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsExistingApplications</name>
        <dataType>String</dataType>
        <displayField>acm_pkg__Name__c</displayField>
        <object>acm_pkg__AnypointApplications__x</object>
        <valueField>acm_pkg__Id__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsPlan</name>
        <dataType>String</dataType>
        <displayField>acm_pkg__Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__ApiGroupInstanceId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rbEnvironment</elementReference>
            </value>
        </filters>
        <object>acm_pkg__AnypointApiGroupTiers__x</object>
        <outputAssignments>
            <assignToReference>selected_api_product_plan_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>acm_pkg__Id__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>orgNameLower</name>
        <dataType>String</dataType>
        <expression>LOWER(CASESAFEID({!Subscriber_Contact.Account.Id}))</expression>
    </formulas>
    <interviewLabel>API Marketplace: API Subscription Internal {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>API Marketplace: API Subscription Internal</label>
    <loops>
        <name>Create_Array_of_Application_IDs</name>
        <label>Create Array of Application IDs</label>
        <locationX>446</locationX>
        <locationY>1118</locationY>
        <collectionReference>Filter_Contracts_for_this_API</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Application_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Existing_Applications_Get</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Existing_Applications_Loop</name>
        <label>Existing Applications</label>
        <locationX>338</locationX>
        <locationY>1694</locationY>
        <collectionReference>Existing_Applications_Get</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Existing_Application_Names</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Environment_Selection_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Existing_Contracts</name>
        <label>Existing Contracts</label>
        <locationX>446</locationX>
        <locationY>5354</locationY>
        <collectionReference>ExistingContracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contract_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Anypoint_Contract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Anypoint_Application</name>
        <label>Create Anypoint Application</label>
        <locationX>50</locationX>
        <locationY>4658</locationY>
        <assignRecordIdToReference>vAnypointApplicationId</assignRecordIdToReference>
        <connector>
            <targetReference>Created_Anypoint_Application</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Environment_Selection_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>acm_pkg__Description__c</field>
            <value>
                <elementReference>ltaDESCRIPTION</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>acm_pkg__Name__c</field>
            <value>
                <elementReference>teTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>acm_pkg__RedirectUri__c</field>
            <value>
                <elementReference>ltaOAUTH_REDIRECT_URL_VALUE</elementReference>
            </value>
        </inputAssignments>
        <object>acm_pkg__AnypointApplications__x</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Anypoint_Contract</name>
        <label>Create Anypoint Contract</label>
        <locationX>446</locationX>
        <locationY>7418</locationY>
        <assignRecordIdToReference>vAnypointContractId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Created_Anypoint_Contract</targetReference>
        </connector>
        <inputAssignments>
            <field>acm_pkg__ApiId__c</field>
            <value>
                <elementReference>vAcmPkgId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>acm_pkg__ApiVersionId__c</field>
            <value>
                <elementReference>Api_Version.acm_pkg__Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>acm_pkg__ApplicationId__c</field>
            <value>
                <elementReference>Anypoint_Application.acm_pkg__Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>acm_pkg__ContractType__c</field>
            <value>
                <stringValue>ApiGroup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>acm_pkg__InstanceId__c</field>
            <value>
                <elementReference>vAcmPkgId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>acm_pkg__Status__c</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>acm_pkg__TierId__c</field>
            <value>
                <elementReference>Selected_plan.acm_pkg__Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>acm_pkg__Version__c</field>
            <value>
                <elementReference>viVersionNumber</elementReference>
            </value>
        </inputAssignments>
        <object>acm_pkg__AnypointContracts__x</object>
    </recordCreates>
    <recordCreates>
        <name>Subscription</name>
        <label>Subscription</label>
        <locationX>886</locationX>
        <locationY>7046</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scThank_you</targetReference>
        </connector>
        <inputAssignments>
            <field>ACM_Subscriber__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Source_Environment__c</field>
            <value>
                <elementReference>API_Source_Environment.acm_pkg__CustomFieldValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AnypointEnvrionmentId__c</field>
            <value>
                <elementReference>Anypoint_Environment.acm_pkg__Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApiGroupInstanceId__c</field>
            <value>
                <elementReference>Source_Environment.acm_pkg__Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Description__c</field>
            <value>
                <elementReference>Anypoint_Application.acm_pkg__Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Display_Name__c</field>
            <value>
                <elementReference>Anypoint_Application.acm_pkg__Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Redirect_URL__c</field>
            <value>
                <elementReference>Anypoint_Application.acm_pkg__RedirectUri__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_T__c</field>
            <value>
                <elementReference>Anypoint_Application.acm_pkg__Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Title__c</field>
            <value>
                <elementReference>Anypoint_Application.acm_pkg__Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval__c</field>
            <value>
                <elementReference>Approval.acm_pkg__CustomFieldValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessArea__c</field>
            <value>
                <elementReference>BUSINESS_AREA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certificate__c</field>
            <value>
                <elementReference>Certificate_Required.acm_pkg__CustomFieldValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Id__c</field>
            <value>
                <elementReference>Anypoint_Application.acm_pkg__ClientId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community_Name__c</field>
            <value>
                <elementReference>CommunityAPI.acm_pkg__CommunityName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsumingSystems__c</field>
            <value>
                <elementReference>CONSUMING_SYSTEMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_T__c</field>
            <value>
                <elementReference>Get_Anypoint_Contract.acm_pkg__Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FeatureDescription__c</field>
            <value>
                <elementReference>FEATURE_DESCRIPTION</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FeatureName__c</field>
            <value>
                <elementReference>FEATURE_NAME</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FeatureOwner__c</field>
            <value>
                <elementReference>FEATURE_OWNER</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>For_manual_treatment__c</field>
            <value>
                <elementReference>ttExplanationsForManualTreatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketplace_Manager_Approver__c</field>
            <value>
                <elementReference>Marketplace_Manager_Approver.acm_pkg__CustomFieldValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!CommunityAPI.acm_pkg__Name__c} V{!viVersionNumber} - {!Selected_plan.acm_pkg__Name__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_T__c</field>
            <value>
                <elementReference>Selected_plan.acm_pkg__Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Id__c</field>
            <value>
                <elementReference>Product_Id.acm_pkg__CustomFieldValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Name__c</field>
            <value>
                <elementReference>Api_Version.acm_pkg__Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Owner_Approver__c</field>
            <value>
                <elementReference>Product_Owner_Approver.acm_pkg__CustomFieldValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Version__c</field>
            <value>
                <elementReference>Api_Version.acm_pkg__AssetVersion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redirect_URL__c</field>
            <value>
                <elementReference>Redirect_URL_Required.acm_pkg__CustomFieldValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segment__c</field>
            <value>
                <elementReference>SEGMENT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_API_Version__c</field>
            <value>
                <elementReference>Source_API_Version_Get.acm_pkg__CustomFieldValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Environment_T__c</field>
            <value>
                <elementReference>Source_Environment.acm_pkg__ApiGroupInstanceLabel__c</elementReference>
            </value>
        </inputAssignments>
        <object>ACM_Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Anypoint_Application</name>
        <label>Anypoint Application</label>
        <locationX>446</locationX>
        <locationY>5114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Anypoint_Related_Contracts</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>acm_pkg__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAnypointApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointApplications__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Anypoint_Environment</name>
        <label>Anypoint Environment</label>
        <locationX>446</locationX>
        <locationY>4298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>API_Source_Environment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Environment.acm_pkg__EnvironmentId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointEnvironments__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Anypoint_Related_Contracts</name>
        <label>Anypoint Related Contracts</label>
        <locationX>446</locationX>
        <locationY>5234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__ApplicationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Anypoint_Application.acm_pkg__Id__c</elementReference>
            </value>
        </filters>
        <object>acm_pkg__AnypointContracts__x</object>
        <outputReference>ExistingContracts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>acm_pkg__ApiId__c</queriedFields>
        <queriedFields>acm_pkg__ApiVersionId__c</queriedFields>
        <queriedFields>acm_pkg__ApplicationId__c</queriedFields>
        <queriedFields>acm_pkg__ContractType__c</queriedFields>
        <queriedFields>acm_pkg__InstanceId__c</queriedFields>
        <queriedFields>acm_pkg__Status__c</queriedFields>
        <queriedFields>acm_pkg__TierId__c</queriedFields>
        <queriedFields>acm_pkg__Version__c</queriedFields>
        <queriedFields>acm_pkg__Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>API_Source_Environment</name>
        <label>API Source Environment</label>
        <locationX>446</locationX>
        <locationY>4418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_or_Existing_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__AssetId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Api_Version.acm_pkg__ApiId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>acm_pkg__CustomFieldId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>api-source-environment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointAssetCustomFields__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Api_Version</name>
        <label>Api Version</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Source_API_Version_Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__ApiId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommunityAPI.acm_pkg__ApiId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>acm_pkg__AssetVersion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>viVersionNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointApiGroupVersions__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Approval</name>
        <label>Approval</label>
        <locationX>446</locationX>
        <locationY>3698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Marketplace_Manager_Approver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__AssetId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Api_Version.acm_pkg__ApiId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>acm_pkg__CustomFieldId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>approval</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointAssetCustomFields__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Certificate_Required</name>
        <label>Certificate Required</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_API_Source_Environment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__AssetId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Api_Version.acm_pkg__ApiId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>acm_pkg__CustomFieldId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>certificate-required</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointAssetCustomFields__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CommunityAPI</name>
        <label>CommunityAPI</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Api_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>viApiId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__CommunityApi__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Created_Anypoint_Application</name>
        <label>Created Anypoint Application</label>
        <locationX>50</locationX>
        <locationY>4778</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Created_Anypoint_Application_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAnypointApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointApplications__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Existing_ACM_Subscriptions_Get</name>
        <label>Existing ACM Subscriptions</label>
        <locationX>446</locationX>
        <locationY>2366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scApplicationSelection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Redirect_URL__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Redirect_URL_Required.acm_pkg__CustomFieldValue__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Certificate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Certificate_Required.acm_pkg__CustomFieldValue__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>API_Source_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_API_Source_Environment.acm_pkg__CustomFieldValue__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source_Environment_T__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Environment_Info.acm_pkg__ApiGroupInstanceLabel__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Application_Title__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ExistingApplicationNames</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ACM_Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Existing_Applications_Get</name>
        <label>Existing Applications</label>
        <locationX>446</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Applications_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__Id__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>listOfExsitingAppIdsWithContracts</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>acm_pkg__AnypointApplications__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Anypoint_Contract</name>
        <label>Get Anypoint Contract</label>
        <locationX>886</locationX>
        <locationY>5714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IBM_API</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>acm_pkg__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAnypointContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointContracts__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Anypoint_Contracts</name>
        <label>Get Anypoint Contracts</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Contracts_for_this_API</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>acm_pkg__AnypointContracts__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_API_Source_Environment</name>
        <label>Get API Source Environment</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Anypoint_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__AssetId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Api_Version.acm_pkg__ApiId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>acm_pkg__CustomFieldId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>api-source-environment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointAssetCustomFields__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Anypoint_Contract</name>
        <label>Get Created Anypoint Contract</label>
        <locationX>446</locationX>
        <locationY>7538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Created_Anypoint_Contract_Id</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAnypointContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointContracts__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Marketplace_Manager_Approver</name>
        <label>Marketplace Manager Approver</label>
        <locationX>446</locationX>
        <locationY>3818</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Owner_Approver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__AssetId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Api_Version.acm_pkg__ApiId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>acm_pkg__CustomFieldId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>marketplace-manager-approver</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointAssetCustomFields__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the list of subscriptions plans</description>
        <name>Plans</name>
        <label>Plans</label>
        <locationX>446</locationX>
        <locationY>3338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__ApiGroupInstanceId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAcmPkgId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>acm_pkg__AnypointApiGroupTiers__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Post_IBM_Application_Setting</name>
        <label>Post IBM Application Setting</label>
        <locationX>622</locationX>
        <locationY>6194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_IBM_Application</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Post_Ibm_Application_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Product_Id</name>
        <label>Product Id</label>
        <locationX>446</locationX>
        <locationY>4058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Source_Environment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__AssetId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Api_Version.acm_pkg__ApiId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>acm_pkg__CustomFieldId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>api-product-id</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointAssetCustomFields__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Product_Owner_Approver</name>
        <label>Product Owner Approver</label>
        <locationX>446</locationX>
        <locationY>3938</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__AssetId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Api_Version.acm_pkg__ApiId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>acm_pkg__CustomFieldId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>product-owner-approver</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointAssetCustomFields__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Redirect_URL_Required</name>
        <label>Redirect URL Required</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Certificate_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__AssetId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Api_Version.acm_pkg__ApiId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>acm_pkg__CustomFieldId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>redirect-url-required</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointAssetCustomFields__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Selected_plan</name>
        <label>Selected plan</label>
        <locationX>446</locationX>
        <locationY>3578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selected_api_product_plan_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointApiGroupTiers__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Source_API_Version_Get</name>
        <label>Source API Version</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Redirect_URL_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__AssetId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Api_Version.acm_pkg__ApiId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>acm_pkg__CustomFieldId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>source-api-version</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointAssetCustomFields__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Source_Environment</name>
        <label>Source Environment</label>
        <locationX>446</locationX>
        <locationY>4178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Anypoint_Environment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rcsEnvironment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointApiGroupInstances__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Source_Environment_Info</name>
        <label>Source Environment Info</label>
        <locationX>446</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_ACM_Subscriptions_Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rcsEnvironment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointApiGroupInstances__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Subscriber_Contact</name>
        <label>Subscriber Contact</label>
        <locationX>622</locationX>
        <locationY>5954</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_IBM_Application_Request_Parameters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Certificate_Only</name>
        <label>Certificate Only</label>
        <locationX>578</locationX>
        <locationY>3002</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_ltaCERTIFICATE_CERTIFICATE_Certificate</targetReference>
        </connector>
        <fields>
            <name>acmCertificate</name>
            <extensionName>c:acmCertificateGenerate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Certificate_Only_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Certificate_Only_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ltaCERTIFICATE_CERTIFICATE</name>
                    <fieldText>CERTIFICATE</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>dtCERTIFICATE_Explanation_CERTIFICATE</name>
                    <fieldText>&lt;p&gt;Paste the content of your application&apos;s x509 certificate.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Certificate_Retry</name>
        <label>Certificate Retry</label>
        <locationX>710</locationX>
        <locationY>6554</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_ltaCERTIFICATE_CERTIFICATE_Retry</targetReference>
        </connector>
        <fields>
            <name>Certificate_Retry_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Certificate_Retry_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CERT_RETRY</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The certificate you have entered is invalid, please enter a valid x509 certificate.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ltaCERTIFICATE_RETRY</name>
                    <defaultValue>
                        <stringValue>{!CreateIBMApplicationResponseBody400}
{!CreateIBMApplicationResponseBody401}
{!CreateIBMApplicationResponseBody500}
{!CreateIBMApplicationResponseBodyDefault}


</stringValue>
                    </defaultValue>
                    <fieldText>CERTIFICATE</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>dtCERTIFICATE_Explanation_RETRY</name>
                    <fieldText>&lt;p&gt;Paste the content of your application&apos;s x509 certificate.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Environment_Selection_Screen</name>
        <label>Environment Selection Screen</label>
        <locationX>446</locationX>
        <locationY>2126</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Source_Environment_Info</targetReference>
        </connector>
        <fields>
            <name>Environment_Selection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Environment_Selection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtSubscription</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 26px;&quot;&gt;REQUEST FOR SUBSCRIPTION&lt;/strong&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 20px;&quot;&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 10px;&quot;&gt;({!CommunityAPI.acm_pkg__Name__c}, Version {!Api_Version.acm_pkg__AssetVersion__c})&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(113, 122, 140);&quot;&gt;1. Select an environment&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>rbEnvironment</name>
                    <choiceReferences>rcsEnvironment</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Environment</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect</name>
        <label>Redirect Only</label>
        <locationX>314</locationX>
        <locationY>3002</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_ltaOAUTH_REDIRECT_URL_Redirect</targetReference>
        </connector>
        <fields>
            <name>Redirect_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Redirect_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ltaOAUTH_REDIRECT_URL_REDIRECT</name>
                    <fieldText>OAUTH REDIRECT URL</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>dtOAUTH_Explanation_REDIRECT</name>
                    <fieldText>&lt;p&gt;The URL authenticated OAUTH flows for this application should be redirected to.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_Certificate</name>
        <label>Redirect Certificate</label>
        <locationX>50</locationX>
        <locationY>3002</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_ltaOAUTH_REDIRECT_URL_CERTIFICATE</targetReference>
        </connector>
        <fields>
            <name>acmCertificateandURL</name>
            <extensionName>c:acmCertificateGenerate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Redirect_Certificate_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Redirect_Certificate_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ltaOAUTH_REDIRECT_URL</name>
                    <fieldText>OAUTH REDIRECT URL</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>dtOAUTH_Explanation</name>
                    <fieldText>&lt;p&gt;The URL authenticated OAUTH flows for this application should be redirected to.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ltaCERTIFICATE</name>
                    <fieldText>CERTIFICATE</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>dtCERTIFICATE_Explanation</name>
                    <fieldText>&lt;p&gt;Paste the content of your application&apos;s x509 certificate.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scApplicationSelection</name>
        <label>Application Selection Screen</label>
        <locationX>446</locationX>
        <locationY>2486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_It_New_or_Existing_Application</targetReference>
        </connector>
        <fields>
            <name>scApplicationSelection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scApplicationSelection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtSelectApp</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(113, 122, 140); font-size: 18px;&quot;&gt;2. Select the app you want to link the API Product to&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>plSELECT_APP</name>
                    <choiceReferences>chNewApp</choiceReferences>
                    <choiceReferences>ccsApplication</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>SELECT APP</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>rbEnvironment</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scApplicationSelection_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scApplicationSelection_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtNewApplication</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(113, 122, 140);&quot;&gt;Enter the details of your new application&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>teTitle</name>
                    <dataType>String</dataType>
                    <fieldText>TITLE</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The entered application name already exists! Please enter a new application name or select an existing application on the &quot;SELECT APP&quot; drop-down.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(CONTAINS({!ExistingApplicationNames}, {!teTitle}))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>ltaDESCRIPTION</name>
                    <fieldText>DESCRIPTION</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ConsumingSystems</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(113, 122, 140); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Business Information&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CONSUMING_SYSTEMS</name>
                    <dataType>String</dataType>
                    <fieldText>CONSUMING SYSTEMS</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please e&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;nter within 20 c&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;haracters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!CONSUMING_SYSTEMS})&lt;=20</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>FEATURE_NAME</name>
                    <dataType>String</dataType>
                    <fieldText>FEATURE NAME</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please enter within 50 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!FEATURE_NAME})&lt;=50</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>FEATURE_OWNER</name>
                    <dataType>String</dataType>
                    <fieldText>FEATURE OWNER</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please enter within 50 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!FEATURE_OWNER})&lt;=50</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>BUSINESS_AREA</name>
                    <choiceReferences>crBusinessArea</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>BUSINESS AREA</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SEGMENT</name>
                    <choiceReferences>crSegment</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>SEGMENT</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FEATURE_DESCRIPTION</name>
                    <dataType>String</dataType>
                    <fieldText>FEATURE DESCRIPTION</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please enter within 250 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!FEATURE_DESCRIPTION})&lt;=250</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>plSELECT_APP</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chNewApp</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scThank_you</name>
        <label>Thank you</label>
        <locationX>1326</locationX>
        <locationY>5594</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dtThankYou</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you for subscribing.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;We will get back to you as soon as possible.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Select Plan</description>
        <name>Select_Plan</name>
        <label>Select Plan</label>
        <locationX>446</locationX>
        <locationY>3458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_plan</targetReference>
        </connector>
        <fields>
            <name>plan_selection</name>
            <choiceReferences>rcsPlan</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Plan</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CommunityAPI</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Concatenates the information given to let a support agent create the application manually</description>
        <name>ttApplicationCaseDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Title:&lt;/strong&gt; {!teTitle}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Description:&lt;/strong&gt; {!ltaDESCRIPTION}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;OAuth redirect URL:&lt;/strong&gt; {!ltaOAUTH_REDIRECT_URL_VALUE}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Certificate:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ltaCERTIFICATE_VALUE}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttExplanationsForManualTreatment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Create application (if fields are empty, see &quot;Use application&quot;)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ttApplicationCaseDescription}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Use application (if empty, see &quot;Create application&quot;)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!vApplicationNameTMP}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Create subscription&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ttSubcriptionCaseDescription}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttSubcriptionCaseDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Name:&lt;/b&gt; {!CommunityAPI.acm_pkg__Name__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Version:&lt;/b&gt; {!viVersionNumber}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Plan:&lt;/b&gt; {!Selected_plan.acm_pkg__Name__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ApplicationNameValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CreateIBMApplicationResponseBody400</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateIBMApplicationResponseBody401</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateIBMApplicationResponseBody500</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateIBMApplicationResponseBodyDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateIBMApplicationResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_Contracts_for_this_API</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>acm_pkg__AnypointContracts__x</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Existing_Applications</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>acm_pkg__AnypointApplications__x</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_on_Subscriber_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ACM_Subscription__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filtered_ACM_Subscriptions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ACM_Subscription__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Related_ACM_Subscriptions_Filter_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ACM_Subscription__c</objectType>
    </variables>
    <variables>
        <name>ExistingApplicationNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingContracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>acm_pkg__AnypointContracts__x</objectType>
    </variables>
    <variables>
        <name>FilteredExistingApplications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>acm_pkg__AnypointApplications__x</objectType>
    </variables>
    <variables>
        <name>IBMApplicationRequestv307</name>
        <apexClass>ExternalService__regSubEApi307_IBMApplicationRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listOfExsitingAppIdsWithContracts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ltaCERTIFICATE_VALUE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ltaDESCRIPTION_VALUE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>ltaDESCRIPTION</elementReference>
        </value>
    </variables>
    <variables>
        <name>ltaOAUTH_REDIRECT_URL_VALUE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_api_product_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_api_product_instance_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_api_product_plan_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_api_product_version_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAcmPkgId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAnypointApplicationExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAnypointApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAnypointContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Temporarily, store the application name to write in the description until the API makes it useless</description>
        <name>vApplicationNameTMP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>viApiId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>viApiVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Selected version number of the API</description>
        <name>viVersionNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSerializedPlansList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Set to the id of the task created for a human to create the application, or null otherwise</description>
        <name>vTaskForApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
