force-app/main/default/flows/API_Marketplace_Create_Subscriptions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Approved_ACM_Subscription_To_Subscription_List</name>
        <label>Add Approved ACM Subscription To Subscription List</label>
        <locationX>242</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>ACMSubscriptionsToProcess</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Subscriptions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IBM_SA_API</name>
        <label>IBM SA API</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Set_Subscribed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.API_Source_Environment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ibm-sa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Approved_ACM_Subscription_To_Subscription_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Conditional setting of Subscribed when non IBM SA API</description>
    <environments>Default</environments>
    <interviewLabel>API Marketplace: Create Subscriptions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>API Marketplace: Create Subscriptions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Subscribed</name>
        <label>Set Subscribed</label>
        <locationX>506</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Subscribed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>ACM_Subscription__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>IBM_SA_API</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Subscriptions</name>
        <label>Create Subscriptions</label>
        <locationX>242</locationX>
        <locationY>528</locationY>
        <flowName>API_Marketplace_Auto_Create_Subscriptions</flowName>
        <inputAssignments>
            <name>ACMSubscriptionsToProcess</name>
            <value>
                <elementReference>ACMSubscriptionsToProcess</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ACMSubscriptionsToProcess</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ACM_Subscription__c</objectType>
    </variables>
</Flow>
