force-app/main/default/flows/API_Marketplace_Auto_Create_Subscriptions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_IBM_Subscription</name>
        <label>Create IBM Subscription</label>
        <locationX>748</locationX>
        <locationY>518</locationY>
        <actionName>regSubEApi306.postIbmSubscriptions</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Subscription_Process_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failed_Subscription_Response_Body_Code</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Authorization</name>
            <value>
                <stringValue>1244</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_id</name>
            <value>
                <elementReference>Post_IBM_Application_Setting.client_id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_secret</name>
            <value>
                <elementReference>Post_IBM_Application_Setting.client_secret__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Content-Type</name>
            <value>
                <stringValue>application/json</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>generated</name>
            <value>
                <elementReference>IBMSubscriptionRequestv306</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CreateSubscriptionResponseBody200</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreateSubscriptionResponseBody201</assignToReference>
            <name>201</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreateSubscriptionResponseBody400</assignToReference>
            <name>400Exc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreateSubscriptionResponseBody401</assignToReference>
            <name>401Exc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreateSubscriptionResponseBody500</assignToReference>
            <name>500Exc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreateSubscriptionResponseBodyDefault</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreateSubscriptionResponseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Subscription_to_Update_List</name>
        <label>Add Subscription to Update List</label>
        <locationX>748</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>ACMSubscriptionsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ACM_Subscriptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ACM_Subscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_200_Positive_Subscription_Responses_Update_Status</name>
        <label>Set 200 Positive Subscription Responses &amp; Update Status</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Create_Subscription_Response_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSubscriptionResponseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Create_Subscription_Response_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSubscriptionResponseBody200</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Subscribed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Owner_to_Initial_Creator_Subscriber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_201_Positive_Subscription_Responses_Update_Status</name>
        <label>Set 201 Positive Subscription Responses &amp; Update Status</label>
        <locationX>528</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Create_Subscription_Response_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSubscriptionResponseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Create_Subscription_Response_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSubscriptionResponseBody201</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Subscribed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Owner_to_Initial_Creator_Subscriber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_400_Negative_Subscription_Responses_Update_Status</name>
        <label>Set 400 Negative Subscription Responses &amp; Update Status</label>
        <locationX>1232</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Create_Subscription_Response_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSubscriptionResponseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Create_Subscription_Response_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSubscriptionResponseBody400</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Subscription_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_401_Negative_Subscription_Responses_Update_Status</name>
        <label>Set 401 Negative Subscription Responses &amp; Update Status</label>
        <locationX>1496</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Create_Subscription_Response_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSubscriptionResponseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Create_Subscription_Response_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSubscriptionResponseBody401</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Subscription_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_500_Negative_Subscription_Responses_Update_Status</name>
        <label>Set 500 Negative Subscription Responses &amp; Update Status</label>
        <locationX>1760</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Create_Subscription_Response_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSubscriptionResponseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Create_Subscription_Response_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSubscriptionResponseBody500</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Subscription_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Exception_Negative_Subscription_Responses_Update_Status</name>
        <label>Set Default Exception Negative Subscription Responses &amp; Update Status</label>
        <locationX>2024</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Create_Subscription_Response_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSubscriptionResponseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Create_Subscription_Response_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSubscriptionResponseBodyDefault</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Subscription_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Negative_Subscription_Responses_Update_Status</name>
        <label>Set Default Negative Subscription Responses &amp; Update Status</label>
        <locationX>968</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Create_Subscription_Response_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSubscriptionResponseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Create_Subscription_Response_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSubscriptionResponseBodyDefault</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Owner_to_Initial_Creator_Subscriber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IBM_Subscription_Request_Parameters</name>
        <label>Set IBM Subscription Request Parameters</label>
        <locationX>748</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>IBMSubscriptionRequestv306.apiSourceEnv</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ACM_Subscriptions.API_Source_Environment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IBMSubscriptionRequestv306.productName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ACM_Subscriptions.Product_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IBMSubscriptionRequestv306.productVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ACM_Subscriptions.Source_API_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IBMSubscriptionRequestv306.planName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ACM_Subscriptions.Plan_T__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IBMSubscriptionRequestv306.orgName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ACM_Subscriptions.Org_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IBMSubscriptionRequestv306.appName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ACM_Subscriptions.Application_T__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IBMSubscriptionRequestv306.instance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ACM_Subscriptions.Source_Environment_T__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_IBM_Application_Setting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Owner_to_Initial_Creator_Subscriber</name>
        <label>Set Owner to Initial Creator (Subscriber)</label>
        <locationX>748</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ACM_Subscriptions.CreatedBy.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Subscription_to_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Subscription_Success_Response_Code</name>
        <label>Create Subscription Success Response Code</label>
        <locationX>528</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Owner_to_Initial_Creator_Subscriber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateSubscriptionResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_200_Positive_Subscription_Responses_Update_Status</targetReference>
            </connector>
            <label>200</label>
        </rules>
        <rules>
            <name>X201</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateSubscriptionResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_201_Positive_Subscription_Responses_Update_Status</targetReference>
            </connector>
            <label>201</label>
        </rules>
    </decisions>
    <decisions>
        <name>Failed_Subscription_Response_Body_Code</name>
        <label>Failed Subscription Response Body Code</label>
        <locationX>1628</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Exception_Negative_Subscription_Responses_Update_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X400</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateSubscriptionResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>400.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_400_Negative_Subscription_Responses_Update_Status</targetReference>
            </connector>
            <label>400</label>
        </rules>
        <rules>
            <name>X401</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateSubscriptionResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>401.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_401_Negative_Subscription_Responses_Update_Status</targetReference>
            </connector>
            <label>401</label>
        </rules>
        <rules>
            <name>X500</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateSubscriptionResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_500_Negative_Subscription_Responses_Update_Status</targetReference>
            </connector>
            <label>500</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Process_Status</name>
        <label>Subscription Process Status</label>
        <locationX>748</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Negative_Subscription_Responses_Update_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Successful</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CreateSubscriptionResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreateSubscriptionResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Subscription_Success_Response_Code</targetReference>
            </connector>
            <label>Successful</label>
        </rules>
    </decisions>
    <description>Replaced IBM call with Source API Version</description>
    <environments>Default</environments>
    <interviewLabel>API Marketplace: Auto Create Subscriptions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>API Marketplace: Auto Create Subscriptions</label>
    <loops>
        <name>Loop_ACM_Subscriptions</name>
        <label>Loop ACM Subscriptions</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>ACMSubscriptionsToProcess</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_IBM_Subscription_Request_Parameters</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Subscription_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Post_IBM_Application_Setting</name>
        <label>Post IBM Application Setting</label>
        <locationX>748</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_IBM_Subscription</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Post_Ibm_Application_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Subscription_Records</name>
        <label>Update Subscription Records</label>
        <locationX>176</locationX>
        <locationY>1526</locationY>
        <inputReference>ACMSubscriptionsToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_ACM_Subscriptions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ACMSubscriptionsToProcess</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ACM_Subscription__c</objectType>
    </variables>
    <variables>
        <name>ACMSubscriptionsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ACM_Subscription__c</objectType>
    </variables>
    <variables>
        <name>CreateSubscriptionResponseBody200</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateSubscriptionResponseBody201</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateSubscriptionResponseBody400</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateSubscriptionResponseBody401</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateSubscriptionResponseBody500</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateSubscriptionResponseBodyDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateSubscriptionResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>IBMSubscriptionRequestv306</name>
        <apexClass>ExternalService__regSubEApi306_IBMSubscriptionRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
