force-app/main/default/flows/API_Marketplace_Auto_Submit_ACM_Subscription_to_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Internal_Market_Place_Approver</name>
        <label>Internal Market Place Approver</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>ACM_Subscription_Internal_Request_v1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Subscription_for_Approval</name>
        <label>Submit Subscription for Approval</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>ACM_Subscription_Request_v1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>MMQueueIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Queue_Id_to_Exception_Collection</name>
        <label>Add Queue Id to Exception Collection</label>
        <locationX>974</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>ExceptionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Exception_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Subscription_Status_to_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Queue_Id_to_General_Collection</name>
        <label>Add Queue Id to General Collection</label>
        <locationX>1282</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>GeneralQueueIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>General_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Owner_to_GeneralQueue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Queue_Id_to_MM_Collection</name>
        <label>Add Queue Id to MM Collection</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>MMQueueIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Marketplace_Manager_Approver_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Owner_to_MMQueue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Approval</name>
        <label>Check Approval</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>General_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Marketplace_Manager_Approver</targetReference>
            </connector>
            <label>Required</label>
        </rules>
        <rules>
            <name>Not_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_status_to_Approved</targetReference>
            </connector>
            <label>Not Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Marketplace_Manager_Approver</name>
        <label>Check Marketplace Manager Approver</label>
        <locationX>534</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Marketplace_Manager_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketplace_Manager_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marketplace_Manager_Approver_Queue</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Marketplace Manager Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>General_Queue_Found</name>
        <label>General Queue Found</label>
        <locationX>1414</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Exception_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>General_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>General_Queue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Queue_Id_to_General_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marketplace_Manager_Approver_Queue_Found</name>
        <label>Marketplace Manager Approver Queue Found</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Exception_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>MMA_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Marketplace_Manager_Approver_Queue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Community_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Internal API Marketplace</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Queue_Id_to_MM_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Internal_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Marketplace_Manager_Approver_Queue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Community_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal API Marketplace</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ACM_Owner_CIBProductOwner</targetReference>
            </connector>
            <label>Internal Approval</label>
        </rules>
    </decisions>
    <description>In Marketplace Manager Approver Queue Found Decision yes path changed equals o does not equal internal marketplace</description>
    <environments>Default</environments>
    <interviewLabel>API Marketplace: Auto Submit ACM Subscription to Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>API Marketplace: Auto Submit ACM Subscription to Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Exception_Queue</name>
        <label>Exception Queue</label>
        <locationX>974</locationX>
        <locationY>1703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Queue_Id_to_Exception_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CIBException</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>General_Queue</name>
        <label>General Queue</label>
        <locationX>1414</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>General_Queue_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CIBGeneral</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Marketplace_CIBProductOwner_Approver_Queue</name>
        <label>Marketplace CIBProductOwner Approver Queue</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Marketplace_Manager_Approver_Queue_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CIBProductOwner</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Marketplace_Manager_Approver_Queue</name>
        <label>Marketplace Manager Approver Queue</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Marketplace_CIBProductOwner_Approver_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CIBMarketplaceManager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Owner_to_GeneralQueue</name>
        <label>Set Owner to GeneralQueue</label>
        <locationX>1282</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>General_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Owner_to_MMQueue</name>
        <label>Set Owner to MMQueue</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Submit_Subscription_for_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Marketplace_Manager_Approver_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_status_to_Approved</name>
        <label>Set status to Approved</label>
        <locationX>1018</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Subscription_Status_to_Exception</name>
        <label>Set Subscription Status to Exception</label>
        <locationX>974</locationX>
        <locationY>1943</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ACM_Owner_CIBProductOwner</name>
        <label>Update ACM Owner - CIBProductOwner</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Internal_Market_Place_Approver</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Marketplace_CIBProductOwner_Approver_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>ACM_Subscription__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExceptionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GeneralQueueIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MMQueueIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>POQueueIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
