force-app/main/default/flows/API_Marketplace_Auto_Approve_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approve_Anypoint_Contract</name>
        <label>Approve Anypoint Contract</label>
        <locationX>396</locationX>
        <locationY>398</locationY>
        <actionName>approveAnypointContract.postApimanagerXapiV1OrganizationsEnvironmentsGroupInstancesContractsApproveByOrganizationIdAndEnvironmentIdAndGroupInstanceIdAndContractId</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Contract_Approval_Process_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Negative_Subscription_Responses_Update_Status</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contractId</name>
            <value>
                <elementReference>SubscriptionContractId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>environmentId</name>
            <value>
                <elementReference>Loop_ACM_Subscriptions.AnypointEnvrionmentId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupInstanceId</name>
            <value>
                <elementReference>Loop_ACM_Subscriptions.ApiGroupInstanceId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>organizationId</name>
            <value>
                <elementReference>Retrieve_Standardbank_Anypoint_Organization.acm_pkg__Id__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ApproveContractResponseBody201</assignToReference>
            <name>201</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ApproveContractResponseBodyDefault</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ApproveContractResponseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Subscription_to_Update_List</name>
        <label>Add Subscription to Update List</label>
        <locationX>396</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>ACMSubscriptionsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ACM_Subscriptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ACM_Subscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Negative_Subscription_Responses_Update_Status</name>
        <label>Set Default Negative Subscription Responses &amp; Update Status</label>
        <locationX>528</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Approve_Contract_Response_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApproveContractResponseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Approve_Contract_Response_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApproveContractResponseBodyDefault</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Subscription_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Negative_Subscription_Responses_Update_Status</name>
        <label>Set Negative Subscription Responses &amp; Update Status</label>
        <locationX>792</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Approve_Contract_Response_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApproveContractResponseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Approve_Contract_Response_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApproveContractResponseBodyDefault</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Subscription_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Positive_Subscription_Responses_Update_Status</name>
        <label>Set Positive Subscription Responses &amp; Update Status</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Approve_Contract_Response_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApproveContractResponseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Approve_Contract_Response_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApproveContractResponseBody201</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ACM_Subscriptions.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Subscription_to_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contract_Approval_Process_Status</name>
        <label>Contract Approval Process Status</label>
        <locationX>396</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Negative_Subscription_Responses_Update_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApproveContractResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Positive_Subscription_Responses_Update_Status</targetReference>
            </connector>
            <label>Successful</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SubscriptionContractId</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Loop_ACM_Subscriptions.Contract_T__c}, FIND(&quot;:&quot;, {!Loop_ACM_Subscriptions.Contract_T__c}) )</expression>
    </formulas>
    <interviewLabel>API Marketplace: Auto Approve Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>API Marketplace: Auto Approve Contracts</label>
    <loops>
        <name>Loop_ACM_Subscriptions</name>
        <label>Loop ACM Subscriptions</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>ACMSubscriptionsToProcess</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Approve_Anypoint_Contract</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Subscription_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Standardbank_Anypoint_Organization</name>
        <label>Retrieve Standardbank Anypoint Organization</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ACM_Subscriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>acm_pkg__Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Bank</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>acm_pkg__AnypointOrganizations__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Subscription_Records</name>
        <label>Update Subscription Records</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <inputReference>ACMSubscriptionsToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retrieve_Standardbank_Anypoint_Organization</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ACMSubscriptionsToProcess</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ACM_Subscription__c</objectType>
    </variables>
    <variables>
        <name>ACMSubscriptionsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ACM_Subscription__c</objectType>
    </variables>
    <variables>
        <name>ApproveContractResponseBody201</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApproveContractResponseBodyDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApproveContractResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>IBMSubscriptionRequestv306</name>
        <apexClass>ExternalService__regSubEApi306_IBMSubscriptionRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
