force-app/main/default/flows/Assign_Group_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Get group number from the parent client</description>
        <name>Assign_Group_Number</name>
        <label>Assign Group Number</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Relationship_Group_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Relationship_Group_Number__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>We checking if the user updated the record belongs to commB Division</description>
        <name>Check_CommB_User</name>
        <label>Check CommB User</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_check</name>
            <conditionLogic>2 AND (1 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CommBUserDivision</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Relationship_Group_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.User_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>busBUserDivision</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.User_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>entrepreneur</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Group_Number</targetReference>
            </connector>
            <label>User check</label>
        </rules>
    </decisions>
    <description>This will assign group number from the parent group number</description>
    <interviewLabel>Assign Group Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Group Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_CommB_User</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Client_Relationship_Hierarchy__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Child</stringValue>
            </value>
        </filters>
        <filters>
            <field>Client_Relationship_Hierarchy__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Immediate Parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Relationship_Holder__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial Banking</stringValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Relationship_Holder__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Banking</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>This will house the business banking user division</description>
        <name>busBUserDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Business Banking</stringValue>
        </value>
    </variables>
    <variables>
        <name>CommBUserDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Commercial Banking</stringValue>
        </value>
    </variables>
    <variables>
        <description>This is used to identify an entrepreneur user by user division</description>
        <name>entrepreneur</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Entrepreneur</stringValue>
        </value>
    </variables>
</Flow>
