force-app/main/default/flows/Case_before_insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Owner_as_PartnerConnect_Support_Queue_Ghana</name>
        <label>Set Owner as PartnerConnect Support Queue - Ghana</label>
        <locationX>962</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PartnerConnect_Ghana_Support_Queue.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Owner_as_PartnerConnect_Support_Queue_SA</name>
        <label>Set Owner as PartnerConnect Support Queue - SA</label>
        <locationX>957</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PartnerConnect_SA_Support_Queue.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Owner_as_PartnerConnect_Support_Queue_Uganda</name>
        <label>Set Owner as PartnerConnect Support Queue - Uganda</label>
        <locationX>965</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PartnerConnect_Uganda_Support_Queue.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Origin_and_Country</name>
        <label>Check Origin and Country</label>
        <locationX>209</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Origin_is_Partner_Portal_and_Country_is_South_Africa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Africa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PartnerConnect_SA_Support_Queue</targetReference>
            </connector>
            <label>If Origin is Partner Portal and Country is South Africa</label>
        </rules>
        <rules>
            <name>If_Origin_is_Partner_Portal_and_Country_is_Ghana</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ghana</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PartnerConnect_Ghana_Support_Queue</targetReference>
            </connector>
            <label>If Origin is Partner Portal and Country is Ghana</label>
        </rules>
        <rules>
            <name>If_Origin_is_Partner_Portal_and_Country_is_Uganda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ghana</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PartnerConnect_Uganda_Support_Queue</targetReference>
            </connector>
            <label>If Origin is Partner Portal and Country is Uganda</label>
        </rules>
    </decisions>
    <description>SFP-7927 -  Case before insert flow</description>
    <interviewLabel>Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PartnerConnect_Ghana_Support_Queue</name>
        <label>Get PartnerConnect Ghana Support Queue</label>
        <locationX>660</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Owner_as_PartnerConnect_Support_Queue_Ghana</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PartnerConnect_Support_Queue_Ghana</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PartnerConnect_SA_Support_Queue</name>
        <label>Get PartnerConnect SA Support Queue</label>
        <locationX>647</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Owner_as_PartnerConnect_Support_Queue_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PartnerConnect_Support_Queue_SA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PartnerConnect_Uganda_Support_Queue</name>
        <label>Get PartnerConnect Uganda Support Queue</label>
        <locationX>666</locationX>
        <locationY>597</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Owner_as_PartnerConnect_Support_Queue_Uganda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PartnerConnect_Support_Queue_Uganda</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Origin_and_Country</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
