force-app/main/default/flows/Case_Closure_Actions_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Support_Team</name>
        <label>Email Support Team</label>
        <locationX>1192</locationX>
        <locationY>277</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariables</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An unhandled fault has occurred in this flow: &apos; Case Closure Action Flow&apos;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Partner_Case_Origin</name>
        <label>Partner Case Origin</label>
        <locationX>716</locationX>
        <locationY>537</locationY>
        <defaultConnector>
            <targetReference>set_Signature_to_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner_Portal_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>case_closure_flow</targetReference>
            </connector>
            <label>Partner Portal Case</label>
        </rules>
    </decisions>
    <interviewLabel>Case Closure Actions Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Closure Actions Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Case_Data</name>
        <label>get Case Data</label>
        <locationX>584</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_User_Signature</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Support_Team</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>caseRecord.Case_Owner_Team__c</assignToReference>
            <field>Case_Owner_Team__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseRecord.ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseRecord.Origin</assignToReference>
            <field>Origin</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>getOwnerID.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseRecord.Service_Type_Reporting__c</assignToReference>
            <field>Service_Type_Reporting__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Record_Type</name>
        <label>get Record Type</label>
        <locationX>584</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Case_Data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Support_Team</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cross_Border_CoE_Closed_Record_Type</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>caseRecord.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_User_Signature</name>
        <label>get User Signature</label>
        <locationX>729</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Complete_Case_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>userSignature</assignToReference>
            <field>Signature</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>set_Signature_to_Blank</name>
        <label>set Signature to Blank</label>
        <locationX>463</locationX>
        <locationY>800</locationY>
        <connector>
            <targetReference>case_closure_flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Signature</name>
        <label>update Signature</label>
        <locationX>1192</locationX>
        <locationY>724</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>case_closure_flow</name>
        <label>case closure flow</label>
        <locationX>895</locationX>
        <locationY>799</locationY>
        <connector>
            <targetReference>update_Signature</targetReference>
        </connector>
        <flowName>Send_Case_Closure_Notification_Flow</flowName>
        <inputAssignments>
            <name>CaseCountry</name>
            <value>
                <elementReference>caseRecord.Case_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseID</name>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactID</name>
            <value>
                <elementReference>caseRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OwnerTeamName</name>
            <value>
                <elementReference>caseRecord.Case_Owner_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordTypeID</name>
            <value>
                <elementReference>caseRecord.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceTypeReporting</name>
            <value>
                <elementReference>caseRecord.Service_Type_Reporting__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Complete_Case_Milestone</name>
        <label>Complete Case Milestone</label>
        <locationX>882</locationX>
        <locationY>405</locationY>
        <connector>
            <targetReference>Set_Case_Closer_to_Owner</targetReference>
        </connector>
        <flowName>Set_Closed_Case_Milestones_to_Complete_Flow</flowName>
        <inputAssignments>
            <name>caseID</name>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Set_Case_Closer_to_Owner</name>
        <label>Set Case Closer to Owner</label>
        <locationX>1000</locationX>
        <locationY>534</locationY>
        <connector>
            <targetReference>Partner_Case_Origin</targetReference>
        </connector>
        <flowName>Set_Case_Owner_Flow</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>caseRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>allVariables</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error:  {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Date: {!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;Interview start time: {!$Flow.InterviewStartTime}&lt;/p&gt;&lt;p&gt;Current Record: {!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Resource values:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Case ID: {!caseRecord.Id}&lt;/p&gt;&lt;p&gt;Contact ID: {!caseRecord.ContactId}&lt;/p&gt;&lt;p&gt;Record Type ID:  {!caseRecord.RecordTypeId}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Owner Team Name:  {!caseRecord.Case_Owner_Team__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Service Type Reporting:  {!caseRecord.Service_Type_Reporting__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>getOwnerID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>userSignature</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
