force-app/main/default/flows/Create_Insight_Sharing_With_Client_Analyst_and_Client_Coordinator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Add to the record collection</description>
        <name>SahredRecordCollectionWithAnalyst</name>
        <label>SahredRecordCollectionWithAnalyst</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>SharedRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ShareWithClientAnalyst</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSharedRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Share record with Client analyst of the Account</description>
        <name>ShareRecordWithClientAnalyst</name>
        <label>ShareRecordWithClientAnalyst</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ShareWithClientAnalyst.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShareWithClientAnalyst.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShareWithClientAnalyst.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientTeam.Team_Member__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShareWithClientAnalyst.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client_Analyst_Sharing__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SahredRecordCollectionWithAnalyst</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if an Account has Client Analyst</description>
        <name>ClientAnalystAvailable</name>
        <label>ClientAnalystAvailable</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Client_Analyst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientTeam.Client_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Analyst</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddClientAnalyst</targetReference>
            </connector>
            <label>Has Client Analyst</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the is Client Coordinator is the Same as a Product Specialist</description>
        <name>ClientCoordinatorAvalable</name>
        <label>ClientCoordinatorAvalable</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Client_Coordinator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_Coordinator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClientTeam</targetReference>
            </connector>
            <label>Client Coordinator Same as Product Specialist</label>
        </rules>
    </decisions>
    <description>Create Sharing records to share with Client Analyst and Client Coordinator(SFP-7169)</description>
    <interviewLabel>Create Insight Sharing With Client Analyst and Client Coordinator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Insight Sharing With Client Analyst and Client Coordinator (SFP-7169)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create records that are shared with Client Coordinator and Client Client Analyst</description>
        <name>CreateSharedRecords</name>
        <label>CreateSharedRecords</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>SharedRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets the Client Team for an Account</description>
        <name>ClientTeam</name>
        <label>ClientTeam</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ClientAnalystAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Analyst</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Custom_Client_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Insight Record with Client Analyst</description>
        <name>AddClientAnalyst</name>
        <label>AddClientAnalyst</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>ShareRecordWithClientAnalyst</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Analyst__c</field>
            <value>
                <elementReference>ClientTeam.Team_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ClientCoordinatorAvalable</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Client_Analyst__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Client_Coordinator__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Insight__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Collection of all Sharing records</description>
        <name>SharedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Insight__Share</objectType>
    </variables>
    <variables>
        <description>Grant read/right permission to a client Analyst</description>
        <name>ShareWithClientAnalyst</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Insight__Share</objectType>
    </variables>
    <variables>
        <description>Grant read/right permission with Client Coordinator</description>
        <name>ShareWithClientCoordinator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Insight__Share</objectType>
    </variables>
</Flow>
