force-app/main/default/flows/Create_Survey_Invitation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send error message to internal support team: cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</description>
        <name>Email_Support_Team</name>
        <label>Email Support Team</label>
        <locationX>964</locationX>
        <locationY>835</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An Error occurred in the Create Survey Invitation Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariableValues</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Case</name>
        <label>Assign Case</label>
        <locationX>562</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>vClosedCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getClosedCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vClosedCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getClosedCase.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vClosedCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getClosedCase.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vClosedCase.CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getClosedCase.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vClosedCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getClosedCase.Origin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Origin_and_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSubject</name>
        <label>assignSubject</label>
        <locationX>814</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>vSurveySubject.SubjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vClosedCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSurveySubject.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSurveyInvitationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSurveySubject.SurveyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSurveyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSurveySubject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rate My Service</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSurveyLink</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if case origin is Virtual Assistant or is owned by a Group</description>
        <name>Check_Origin_and_Ownership</name>
        <label>Check Origin and Ownership</label>
        <locationX>565</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Chat_Bot_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vClosedCase.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virtual Assistant</stringValue>
                </rightValue>
            </conditions>
            <label>Is Chat Bot Case</label>
        </rules>
        <rules>
            <name>Is_Owned_By_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vClosedCase.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <label>Is Owned By Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_which_team_is_it</name>
        <label>Check which team is it</label>
        <locationX>1007</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>getARCCCSurvey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cross_Border</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getClosedCase.Case_Owner_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIBSA-Transactional Products and Services-International Trade Services-Cross Border CoE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getClosedCase.Case_Owner_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIBSA-Global Markets-Foreign Exchange-Client Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getClosedCase.Case_Owner_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIBSA-Global Markets-Foreign Exchange-Client Experience</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSurvey</targetReference>
            </connector>
            <label>Cross Border</label>
        </rules>
        <rules>
            <name>Ghana_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getClosedCase.Case_Owner_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Ghana</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getARCCCSurvey</targetReference>
            </connector>
            <label>Ghana CST CIB Team</label>
        </rules>
        <rules>
            <name>DRC_CST_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getClosedCase.Case_Owner_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-DRC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getARCCCSurvey</targetReference>
            </connector>
            <label>DRC CST Team</label>
        </rules>
        <rules>
            <name>Uganda_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getClosedCase.Case_Owner_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Uganda</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getARCCCSurvey</targetReference>
            </connector>
            <label>Uganda CST CIB Team</label>
        </rules>
        <rules>
            <name>Zambia_CST_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getClosedCase.Case_Owner_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Zambia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getARCCCSurvey</targetReference>
            </connector>
            <label>Zambia CST Team</label>
        </rules>
        <rules>
            <name>Malawi_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getClosedCase.Case_Owner_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Malawi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getARCCCSurvey</targetReference>
            </connector>
            <label>Malawi CST CIB Team</label>
        </rules>
        <rules>
            <name>Botswana_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getClosedCase.Case_Owner_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Botswana</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getARCCCSurvey</targetReference>
            </connector>
            <label>Botswana CST CIB Team</label>
        </rules>
        <rules>
            <name>Eswatini_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getClosedCase.Case_Owner_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Eswatini</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getARCCCSurvey</targetReference>
            </connector>
            <label>Eswatini CST CIB Team</label>
        </rules>
        <rules>
            <name>Kenya_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getClosedCase.Case_Owner_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Kenya</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getARCCCSurvey</targetReference>
            </connector>
            <label>Kenya CST CIB Team</label>
        </rules>
        <rules>
            <name>Zimbabwe_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getClosedCase.Case_Owner_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Zimbabwe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getARCCCSurvey</targetReference>
            </connector>
            <label>Zimbabwe CST CIB Team</label>
        </rules>
        <rules>
            <name>Lesotho_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getClosedCase.Case_Owner_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Lesotho</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getARCCCSurvey</targetReference>
            </connector>
            <label>Lesotho CST CIB Team</label>
        </rules>
        <rules>
            <name>CDI_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getClosedCase.Case_Owner_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Cote d&apos;Ivoire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getARCCCSurvey</targetReference>
            </connector>
            <label>CDI CST CIB Team</label>
        </rules>
        <rules>
            <name>Namibia_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getClosedCase.Case_Owner_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Namibia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getARCCCSurvey</targetReference>
            </connector>
            <label>Namibia CST CIB Team</label>
        </rules>
    </decisions>
    <description>Create a new survey invitation and save the invitation link on the case</description>
    <formulas>
        <description>Date/Time used to set invitation expiry date on Survey Invite</description>
        <name>ExpiryDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()+ 6</expression>
    </formulas>
    <interviewLabel>Create Survey Invitation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Survey Invitation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createSurveyInvitation</name>
        <label>createSurveyInvitation</label>
        <locationX>1037</locationX>
        <locationY>548</locationY>
        <assignRecordIdToReference>vSurveyInvitationId</assignRecordIdToReference>
        <connector>
            <targetReference>assignSubject</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Support_Team</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>vClosedCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityId</field>
            <value>
                <elementReference>vNetworkId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InviteExpiryDateTime</field>
            <value>
                <elementReference>ExpiryDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vSurveyInvitationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParticipantId</field>
            <value>
                <elementReference>vClosedCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agent__c</field>
            <value>
                <elementReference>vClosedCase.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId</field>
            <value>
                <elementReference>vSurvey.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
    </recordCreates>
    <recordCreates>
        <name>createSurveySubject</name>
        <label>createSurveySubject</label>
        <locationX>450</locationX>
        <locationY>812</locationY>
        <inputReference>vSurveySubject</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Contact</name>
        <label>Get Case&apos;s Contact</label>
        <locationX>403</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Owner_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vClosedCase.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Owner_User</name>
        <label>Get Case&apos;s Owner User</label>
        <locationX>772</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNetworkId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vClosedCase.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getARCCCSurvey</name>
        <label>getARCCCSurvey</label>
        <locationX>1048</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createSurveyInvitation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vARCCCSurvey</elementReference>
            </value>
        </filters>
        <object>Survey</object>
        <outputReference>vSurvey</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getClosedCase</name>
        <label>getClosedCase</label>
        <locationX>429</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vClosedCaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vClosedCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNetworkId</name>
        <label>getNetworkId</label>
        <locationX>896</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_which_team_is_it</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vNetworkName</elementReference>
            </value>
        </filters>
        <object>Network</object>
        <outputAssignments>
            <assignToReference>vNetworkId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSurvey</name>
        <label>getSurvey</label>
        <locationX>1231</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createSurveyInvitation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSurveyDeveloperName</elementReference>
            </value>
        </filters>
        <object>Survey</object>
        <outputReference>vSurvey</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getSurveyLink</name>
        <label>getSurveyLink</label>
        <locationX>586</locationX>
        <locationY>601</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateCaseURL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSurveyInvitationId</elementReference>
            </value>
        </filters>
        <object>SurveyInvitation</object>
        <outputAssignments>
            <assignToReference>vSurveyLink</assignToReference>
            <field>InvitationLink</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateCaseURL</name>
        <label>updateCaseURL</label>
        <locationX>377</locationX>
        <locationY>561</locationY>
        <connector>
            <targetReference>createSurveySubject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vClosedCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Survey_URL__c</field>
            <value>
                <elementReference>vSurveyLink</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>389</locationY>
        <connector>
            <targetReference>getClosedCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Error Handling</description>
        <name>allVariableValues</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error:  {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Date: {!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;Interview start time: {!$Flow.InterviewStartTime}&lt;/p&gt;&lt;p&gt;Current Record: {!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Resource values:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Case Number: {!vClosedCase.CaseNumber}&lt;/p&gt;&lt;p&gt;Community Name: {!vNetworkName}&lt;/p&gt;&lt;p&gt;Survey Name: {!vSurvey.Name}&lt;/p&gt;&lt;p&gt;Survey Invitation Name: {!vSurveyInvitationName}&lt;/p&gt;&lt;p&gt;Contact Name: {!vContact.Name}&lt;/p&gt;&lt;p&gt;Case Owner Id: {!vClosedCase.OwnerId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Survey Invitation link: {!vSurveyLink}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>vARCCCSurvey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CCC_Case_Closure_CSI_Survey</stringValue>
        </value>
    </variables>
    <variables>
        <description>Case&apos;s Owner</description>
        <name>vCaseOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>vCaseOwnerGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>vClosedCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vClosedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Case&apos;s Contact</description>
        <name>vContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vNetworkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNetworkName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Customer Service</stringValue>
        </value>
    </variables>
    <variables>
        <name>vOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSurvey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey</objectType>
    </variables>
    <variables>
        <name>vSurveyDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>cross_border_client_experience_survey</stringValue>
        </value>
    </variables>
    <variables>
        <description>Survey Id for Customer Satisfaction</description>
        <name>vSurveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSurveyInvitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSurveyInvitationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Client Experience Survey</stringValue>
        </value>
    </variables>
    <variables>
        <name>vSurveyLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSurveySubject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveySubject</objectType>
    </variables>
</Flow>
