force-app/main/default/flows/Create_Update_DD_Profile_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Draw_Down_Reminder</name>
        <label>Draw Down Reminder</label>
        <locationX>926</locationX>
        <locationY>285</locationY>
        <actionName>Task.Draw_Down_In_3_Weeks</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Draw_Down_Profile_reminder</name>
        <label>Send Draw Down Profile reminder</label>
        <locationX>759</locationX>
        <locationY>235</locationY>
        <actionName>Task.Draw_Down_Profile_None_defined</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Draw_Down_Profile_reminder_0</name>
        <label>Send Draw Down Profile reminder</label>
        <locationX>476</locationX>
        <locationY>562</locationY>
        <actionName>Task.Draw_Down_Profile_None_defined</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CurrentTaskRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Reopen_Closed_task</name>
        <label>Reopen Closed task</label>
        <locationX>702</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>CurrentTaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reopen_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_task_fields</name>
        <label>update task fields</label>
        <locationX>1500</locationX>
        <locationY>1</locationY>
        <assignmentItems>
            <assignToReference>CurrentTaskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_reminder_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Task_Status</name>
        <label>Update Task  Status</label>
        <locationX>74</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>CurrentTaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_All_DD_Profile_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Task_Exists</name>
        <label>Check if Task Exists</label>
        <locationX>297</locationX>
        <locationY>247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Exists_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedDrawDownReminderTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClosedTaskFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_All_Tasks</targetReference>
            </connector>
            <label>Task Exists = True</label>
        </rules>
        <rules>
            <name>Task_Exists_Do_Not_Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedDrawDownReminderTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClosedTaskFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_From_Missing_Draw_Down_Profile</targetReference>
            </connector>
            <label>Task Does Not Exist</label>
        </rules>
        <rules>
            <name>Closed_Task_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedDrawDownReminderTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClosedTaskFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Closed_tasks</targetReference>
            </connector>
            <label>Closed Task Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Only</name>
        <label>Email Only</label>
        <locationX>818</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Tasks_for_missing_Draw_down_profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SendUpdateEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendReminderEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Update_Tasks</targetReference>
            </connector>
            <label>SendUpdateEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>relatedTaskFound</name>
        <label>relatedTaskFound</label>
        <locationX>1142</locationX>
        <locationY>18</locationY>
        <defaultConnector>
            <targetReference>Create_3_Week_Reminder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_old_tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentTaskRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_task_fields</targetReference>
            </connector>
            <label>found old tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_not_blank</name>
        <label>Task not blank</label>
        <locationX>1131</locationX>
        <locationY>283</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_is_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Draw_Down_Reminder</targetReference>
            </connector>
            <label>Check is not blank</label>
        </rules>
    </decisions>
    <description>Used to Create/Update DD Profile Tasks</description>
    <interviewLabel>Create/Update DD Profile Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create/Update DD Profile Tasks</label>
    <loops>
        <name>Loop_Closed_tasks</name>
        <label>Loop Closed tasks</label>
        <locationX>476</locationX>
        <locationY>394</locationY>
        <assignNextValueToReference>CurrentTaskRecord</assignNextValueToReference>
        <collectionReference>RelatedDrawDownReminderTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reopen_Closed_task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Draw_Down_Profile_reminder_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_All_Tasks</name>
        <label>Update All Tasks</label>
        <locationX>78</locationX>
        <locationY>276</locationY>
        <assignNextValueToReference>CurrentTaskRecord</assignNextValueToReference>
        <collectionReference>RelatedDrawDownReminderTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Task_Status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_3_Week_Reminder</name>
        <label>Create 3 Week Reminder</label>
        <locationX>1230</locationX>
        <locationY>416</locationY>
        <assignRecordIdToReference>taskId</assignRecordIdToReference>
        <connector>
            <targetReference>Task_not_blank</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please note that your opportunity is drawing down in 3 weeks’ time. Update the draw down date if required. Alternatively confirm your draw down date by closing this task.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_to_Action__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Update/Confirm draw down date closing in 3 weeks</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_From_Missing_Draw_Down_Profile</name>
        <label>Create Task From Missing Draw Down Profile</label>
        <locationX>575</locationX>
        <locationY>235</locationY>
        <assignRecordIdToReference>taskId</assignRecordIdToReference>
        <connector>
            <targetReference>Send_Draw_Down_Profile_reminder</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Your opportunity requires a draw down profile. Please add one to your opportunity product. Once this information has been updated this task will automatically be closed on your behalf.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_to_Action__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TaskOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Add missing draw down profile</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Tasks_for_missing_Draw_down_profile</name>
        <label>Get Related Tasks for missing Draw down profile</label>
        <locationX>306</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Task_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Add missing draw down profile</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>RelatedDrawDownReminderTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Update_Tasks</name>
        <label>Get Update Tasks</label>
        <locationX>1069</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>relatedTaskFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Update/Confirm draw down date closing in 3 weeks</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>CurrentTaskRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Close_All_DD_Profile_Tasks</name>
        <label>Close All DD Profile Tasks</label>
        <locationX>282</locationX>
        <locationY>414</locationY>
        <connector>
            <targetReference>Update_All_Tasks</targetReference>
        </connector>
        <inputReference>CurrentTaskRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reopen_Tasks</name>
        <label>Reopen Tasks</label>
        <locationX>703</locationX>
        <locationY>516</locationY>
        <connector>
            <targetReference>Loop_Closed_tasks</targetReference>
        </connector>
        <inputReference>CurrentTaskRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_reminder_tasks</name>
        <label>update reminder tasks</label>
        <locationX>1505</locationX>
        <locationY>130</locationY>
        <connector>
            <targetReference>Task_not_blank</targetReference>
        </connector>
        <inputReference>CurrentTaskRecord</inputReference>
    </recordUpdates>
    <startElementReference>Email_Only</startElementReference>
    <status>Active</status>
    <variables>
        <name>ClosedTaskFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedDrawDownReminderTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>SendReminderEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
