force-app/main/default/flows/Create_Case_From_Chat_Bot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Case_Id</name>
        <label>Assign Case Id</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Case_Fields</name>
        <label>Set Case Fields</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>VA - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Respond_Manually__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Virtual Assistant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>(4) Low</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chat transcript Id: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChatTranscriptId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_On_Parent_Case</name>
        <label>Set Fields On Parent Case</label>
        <locationX>1898</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record_3.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Record_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Record_3.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Record_3.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_For_Child_Case</name>
        <label>Set Values For Child Case</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ChildCaseRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildCaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Team_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildCaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record_3.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildCaseRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildCaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildCaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> Technical error has occurred when service was being accessed. Error log Id: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildCaseRecord.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ErrorLogId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildCaseRecord.Respond_Manually__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildCaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildCaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record_3.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Fields_On_Parent_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Action</name>
        <label>Check Action</label>
        <locationX>1172</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create New Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Should_Create_Case</targetReference>
            </connector>
            <label>Create New Case</label>
        </rules>
        <rules>
            <name>Close_Case_On_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_On_Success</targetReference>
            </connector>
            <label>Close Case On Success</label>
        </rules>
        <rules>
            <name>Close_Case_When_No_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close No Permission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_No_Permission</targetReference>
            </connector>
            <label>Close Case When No Permission</label>
        </rules>
        <rules>
            <name>Close_Payment_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close Not Found</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Payment_Not_Found</targetReference>
            </connector>
            <label>Close Payment Not Found</label>
        </rules>
        <rules>
            <name>Close_On_Invalid_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close Invalid Amount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Case_Invalid_Amount</targetReference>
            </connector>
            <label>Close On Invalid Amount</label>
        </rules>
        <rules>
            <name>Close_Invalid_Transaction_Reference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close Invalid Ref</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Case_Invalid_Transaction_Reference</targetReference>
            </connector>
            <label>Close Invalid Transaction Reference</label>
        </rules>
        <rules>
            <name>Create_Child_Case_On_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Child On Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record_3</targetReference>
            </connector>
            <label>Create Child Case On Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Case</name>
        <label>Should Create Case</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type</targetReference>
            </connector>
            <label>Create Case</label>
        </rules>
    </decisions>
    <description>CDCS-97 Flow for creating and updating Cases from the Chat bot conversation.</description>
    <interviewLabel>Create Case From Chat Bot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case From Chat Bot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Record</name>
        <label>Create Case Record</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Assign_Case_Id</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Save_Child_Case</name>
        <label>Save Child Case</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <inputReference>ChildCaseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record_3</name>
        <label>Get Case Record</label>
        <locationX>1898</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Team_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Record</name>
        <label>Get Queue Record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Virtual_Assistant_New_Cases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Record_2</name>
        <label>Get Queue Record</label>
        <locationX>1898</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Values_For_Child_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mauritius_Virtual_Assistant_Cases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cross_Border_CoE_Record_Type</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Team_Queue</name>
        <label>Get Service Team Queue</label>
        <locationX>1898</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Record_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mauritius_VA_Technical_support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent</name>
        <label>Update Parent</label>
        <locationX>1898</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Save_Child_Case</targetReference>
        </connector>
        <inputReference>Get_Case_Record_3</inputReference>
    </recordUpdates>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Close_Case_Invalid_Amount</name>
        <label>Close Case Invalid Amount</label>
        <locationX>1370</locationX>
        <locationY>278</locationY>
        <flowName>DCS_Update_Chat_Bot_Case</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <stringValue>Client has provided invalid amount for the payment search</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Queue_Name</name>
            <value>
                <stringValue>Mauritius_Virtual_Assistant_Cases</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Dev_Name</name>
            <value>
                <stringValue>Cross_Border_CoE_Closed_Record_Type</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Status</name>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Close_Case_Invalid_Transaction_Reference</name>
        <label>Close Case Invalid Transaction Reference</label>
        <locationX>1634</locationX>
        <locationY>278</locationY>
        <flowName>DCS_Update_Chat_Bot_Case</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <stringValue>Client attempted to track payment using invalid transaction reference</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Queue_Name</name>
            <value>
                <stringValue>Mauritius_Virtual_Assistant_Cases</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Dev_Name</name>
            <value>
                <stringValue>Cross_Border_CoE_Closed_Record_Type</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Status</name>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Case_No_Permission</name>
        <label>Update Case No Permission</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <flowName>DCS_Update_Chat_Bot_Case</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <stringValue>Client has attempted to access account with no permission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Queue_Name</name>
            <value>
                <stringValue>Mauritius_Virtual_Assistant_Cases</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Dev_Name</name>
            <value>
                <stringValue>Cross_Border_CoE_Closed_Record_Type</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Status</name>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Case_On_Success</name>
        <label>Update Case On Success</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <flowName>DCS_Update_Chat_Bot_Case</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <stringValue>Client has successfully tracked the payment using chat bot.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Queue_Name</name>
            <value>
                <stringValue>Mauritius_Virtual_Assistant_Cases</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Dev_Name</name>
            <value>
                <stringValue>Cross_Border_CoE_Closed_Record_Type</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Status</name>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Case_Payment_Not_Found</name>
        <label>Update Case Payment Not Found</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <flowName>DCS_Update_Chat_Bot_Case</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <stringValue>Requested data has not been found</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Queue_Name</name>
            <value>
                <stringValue>Mauritius_Virtual_Assistant_Cases</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Dev_Name</name>
            <value>
                <stringValue>Cross_Border_CoE_Closed_Record_Type</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Status</name>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ActionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Id of a chat transcript record</description>
        <name>ChatTranscriptId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChildCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QueueSobject</objectType>
    </variables>
    <variables>
        <name>ServiceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
