force-app/main/default/flows/Create_Campaign_Host.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Contact_Sync_Id</name>
        <label>Set Contact Sync Id</label>
        <locationX>431</locationX>
        <locationY>96</locationY>
        <assignmentItems>
            <assignToReference>Contact_Sync_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Owner.Contact_Sync_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_blank</name>
        <label>Set to blank</label>
        <locationX>684</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>Contact_Sync_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaigh_Host</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>User has to have correct Contact_Sync_Id and doesn&apos;t have to have &apos;Archived Clients&apos; name</description>
        <name>Check_Account_Owner</name>
        <label>Check Account Owner</label>
        <locationX>305</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>Set_to_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Owner.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Archived Clients</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Owner.Contact_Sync_ID__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Sync_Id</targetReference>
            </connector>
            <label>isValid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Exist</name>
        <label>Is Contact Exist</label>
        <locationX>676</locationX>
        <locationY>98</locationY>
        <defaultConnector>
            <targetReference>Set_to_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaigh_Host</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <description>SFP-6839 Prod Incident - In &apos;Campaign Member Host Process&apos; process builder replaced creating a record to this flow for checking - is the Contact exist?</description>
    <formulas>
        <name>Host_Id</name>
        <dataType>String</dataType>
        <expression>{!Campaign_Memeber_host_Id} + {!Contact_Sync_Id}</expression>
    </formulas>
    <interviewLabel>Create Campaign Host {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Campaign Host</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaigh_Host</name>
        <label>Create Campaigh Host</label>
        <locationX>815</locationX>
        <locationY>270</locationY>
        <inputAssignments>
            <field>Bank_Contact__c</field>
            <value>
                <elementReference>Contact_Sync_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Member_Host__c</field>
            <value>
                <elementReference>Campaign_Memeber_host_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Host_Id__c</field>
            <value>
                <elementReference>Host_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Hosts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Account_Owner</name>
        <label>Account Owner</label>
        <locationX>176</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Contact_Sync_ID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>565</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Owner.Contact_Sync_ID__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account_Owner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Campaign_Memeber_host_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contact_Sync_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
