force-app/main/default/flows/CST_CCBM_to_KYC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>CCBM_Exists</name>
        <label>CCBM Exists?</label>
        <locationX>624</locationX>
        <locationY>162</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TrueCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CCBM</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserLookup</targetReference>
            </connector>
            <label>TrueCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_AcccountID_present</name>
        <label>Is AcccountID present</label>
        <locationX>345</locationX>
        <locationY>39</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CST_CCBM_to_KYC</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_not_null</name>
        <label>User not null</label>
        <locationX>628</locationX>
        <locationY>394</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TruePath</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserNameLookup.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CST_CCBM_to_KYC_Escalated_to_Business_Field</targetReference>
            </connector>
            <label>TruePath</label>
        </rules>
    </decisions>
    <interviewLabel>CST CCBM to KYC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CST CCBM to KYC</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CST_CCBM_to_KYC</name>
        <label>CST CCBM to KYC</label>
        <locationX>626</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CCBM_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client_Coordinator_BM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Custom_Client_Team__c</object>
        <outputAssignments>
            <assignToReference>CCBM</assignToReference>
            <field>Team_Member__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>KYC_Lookup</name>
        <label>KYC Lookup</label>
        <locationX>122</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_AcccountID_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KYCID</elementReference>
            </value>
        </filters>
        <object>KYC_Status__c</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>Client__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>UserLookup</name>
        <label>UserLookup</label>
        <locationX>626</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CCBM</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserNameLookup.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>CST_CCBM_to_KYC_Escalated_to_Business_Field</name>
        <label>CST CCBM to KYC Escalated to Business Field</label>
        <locationX>627</locationX>
        <locationY>493</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KYCID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CCBM_on_Client_CST__c</field>
            <value>
                <elementReference>UserNameLookup.Id</elementReference>
            </value>
        </inputAssignments>
        <object>KYC_Status__c</object>
    </recordUpdates>
    <startElementReference>KYC_Lookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCBM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CSTCCBMvalue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>KYCID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserNameLookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
