force-app/main/default/flows/JBSystemFlow_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObje79199f7eec45f95892b30bcde5e5c0e_FireJBTrigger</name>
        <label>SalesforceObje79199f7eec45f95892b30bcde5e5c0e_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;OwnerId&quot;,
  &quot;relationshipName&quot;: &quot;Owner&quot;,
  &quot;isPolymorphic&quot;: true,
  &quot;referenceObjectName&quot;: &quot;User&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObje79199f7eec45f95892b30bcde5e5c0e</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>510004037</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Case:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Comment__c&quot;,&quot;Description&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Case:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;Signature&quot;,&quot;FirstName&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Case:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;OwnerId&quot;,&quot;payment_link__c&quot;,&quot;SignatoryName__c&quot;,&quot;emailContactM__c&quot;,&quot;mobileContactM__c&quot;,&quot;ProfessionalReference__c&quot;,&quot;SignatoryShortSalutation__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjfab6443d5146b77f1b9c9ad7139c7874_FireJBTrigger</name>
        <label>SalesforceObjfab6443d5146b77f1b9c9ad7139c7874_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje79199f7eec45f95892b30bcde5e5c0e</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje79199f7eec45f95892b30bcde5e5c0e</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;ContactId&quot;,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjfab6443d5146b77f1b9c9ad7139c7874</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>510004037</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Case:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Origin&quot;,&quot;RecordTypeId&quot;,&quot;LeadOrigin__c&quot;,&quot;CategoryObject__c&quot;,&quot;CityOfTheProject__c&quot;,&quot;CategoryWorktypeObject__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Category__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CategoryObject__r&quot;,&quot;dePrefix&quot;:&quot;Case:CategoryObject__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;CategoryId__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;CategoryWorkype__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CategoryWorktypeObject__r&quot;,&quot;dePrefix&quot;:&quot;Case:CategoryWorktypeObject__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;CategoryId__c&quot;,&quot;WorkTypeId__c&quot;,&quot;CategoryName__c&quot;,&quot;WorktypeName__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;Case:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;Salutation&quot;,&quot;MobilePhone&quot;,&quot;Portable__c&quot;,&quot;FullSalutation__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;PhoneFormatE164__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Case:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;WorkingType__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;TypeOfWork__r&quot;,&quot;dePrefix&quot;:&quot;Case:TypeOfWork__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObje79199f7eec45f95892b30bcde5e5c0e</name>
        <label>JB_Decision_Null_Check_SalesforceObje79199f7eec45f95892b30bcde5e5c0e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObje79199f7eec45f95892b30bcde5e5c0e_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Owner_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Owner_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObje79199f7eec45f95892b30bcde5e5c0e_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObje79199f7eec45f95892b30bcde5e5c0e_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObje79199f7eec45f95892b30bcde5e5c0e_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObje79199f7eec45f95892b30bcde5e5c0e_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjfab6443d5146b77f1b9c9ad7139c7874</name>
        <label>JB_Decision_Null_Check_SalesforceObjfab6443d5146b77f1b9c9ad7139c7874</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje79199f7eec45f95892b30bcde5e5c0e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjfab6443d5146b77f1b9c9ad7139c7874_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObje79199f7eec45f95892b30bcde5e5c0e</targetReference>
            </connector>
            <label>JB_SalesforceObjfab6443d5146b77f1b9c9ad7139c7874_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjfab6443d5146b77f1b9c9ad7139c7874_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjfab6443d5146b77f1b9c9ad7139c7874_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjfab6443d5146b77f1b9c9ad7139c7874_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObje79199f7eec45f95892b30bcde5e5c0e_Decision</name>
        <label>JB_SalesforceObje79199f7eec45f95892b30bcde5e5c0e_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObje79199f7eec45f95892b30bcde5e5c0e</name>
            <conditionLogic>( (1 AND 2)  AND  (3 OR 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0127R0000016Wt1QAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RN AUTO OFF 80%</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Attend retour qualité des RDV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Problème financier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObje79199f7eec45f95892b30bcde5e5c0e_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObje79199f7eec45f95892b30bcde5e5c0e</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjfab6443d5146b77f1b9c9ad7139c7874_Decision</name>
        <label>JB_SalesforceObjfab6443d5146b77f1b9c9ad7139c7874_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje79199f7eec45f95892b30bcde5e5c0e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjfab6443d5146b77f1b9c9ad7139c7874</name>
            <conditionLogic>( ( (1 AND  (2 OR 3) )  AND 4)  And  (5 AND 6) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0127R000000ZDp9QAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0127R000000ZDpEQAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relance 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Owner_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Owner_User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e7R000002IeqNQAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjfab6443d5146b77f1b9c9ad7139c7874_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjfab6443d5146b77f1b9c9ad7139c7874</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjfab6443d5146b77f1b9c9ad7139c7874_State_change_Decision</name>
        <label>JB_SalesforceObjfab6443d5146b77f1b9c9ad7139c7874_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje79199f7eec45f95892b30bcde5e5c0e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjfab6443d5146b77f1b9c9ad7139c7874</name>
            <conditionLogic>NOT  ( (1 AND  (2 OR 3) )  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0127R000000ZDp9QAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0127R000000ZDpEQAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relance 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjfab6443d5146b77f1b9c9ad7139c7874_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjfab6443d5146b77f1b9c9ad7139c7874</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Case</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Owner_User_lookup</name>
        <label>Owner_User_lookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfab6443d5146b77f1b9c9ad7139c7874</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>new_object.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>Owner_User</outputReference>
        <queriedFields>ProfileId</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Owner_User_lookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Owner_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
