force-app/main/default/flows/Partner_Onboarding_Tasks_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>559</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Assignment_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List_0</name>
        <label>Add to List</label>
        <locationX>733</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>taskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Assignment</name>
        <label>Task Assignment</label>
        <locationX>388</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.PP_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.PP_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NDA Signed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> Task Discovery - NDA Signed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>task1DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>We have agreed to share confidential information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Assignment_0_0_0</name>
        <label>Task Assignment</label>
        <locationX>720</locationX>
        <locationY>189</locationY>
        <assignmentItems>
            <assignToReference>task.PP_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.PP_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business Engagement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> Task Discovery - Business Engagement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>task4DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Explore Partnership opportunities with Standard Bank to identify where we can mutually benefit.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List_0</targetReference>
        </connector>
    </assignments>
    <description>SFP-11655- Used to provision an initial set of tasks needed to onboard a partner.</description>
    <formulas>
        <name>task1DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>task2DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1</expression>
    </formulas>
    <formulas>
        <name>task3DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 2</expression>
    </formulas>
    <formulas>
        <name>task4DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 3</expression>
    </formulas>
    <formulas>
        <name>task5DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 4</expression>
    </formulas>
    <formulas>
        <name>task6DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 5</expression>
    </formulas>
    <formulas>
        <name>task7DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 6</expression>
    </formulas>
    <formulas>
        <name>task8DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <interviewLabel>Partner Onboarding Tasks Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Onboarding Tasks Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>758</locationX>
        <locationY>513</locationY>
        <inputReference>taskList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>168</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PP_OnboardingStep</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>40</locationX>
        <locationY>6</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <object>PP_PartnerApplication__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>partner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PP_PartnerApplication__c</objectType>
    </variables>
    <variables>
        <name>task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
