force-app/main/default/flows/Pause_Case_Milestone_on_Sub_Status_Value_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Support_Team_0_0</name>
        <label>Email Support Team</label>
        <locationX>331</locationX>
        <locationY>587</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariables</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An unhandled fault has occurred in this flow: &apos;Pause Case Milestone on Sub Status Value Flow&apos;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Support_Team_0_0_0</name>
        <label>Email Support Team</label>
        <locationX>999</locationX>
        <locationY>328</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariables</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An unhandled fault has occurred in this flow: &apos;Pause Case Milestone on Sub Status Value Flow&apos;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Awaiting_client_response</name>
        <label>Awaiting client response?</label>
        <locationX>616</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting client response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Stopped_field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting client response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Stopped_field_to_false</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Pauses milestone based on sub status value</description>
    <interviewLabel>Pause Case Milestone on Sub Status Value Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pause Case Milestone on Sub Status Value Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Case_Records</name>
        <label>get Case Records</label>
        <locationX>616</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Awaiting_client_response</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>subStatus</assignToReference>
            <field>Sub_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_Stopped_field</name>
        <label>update Stopped field</label>
        <locationX>88</locationX>
        <locationY>446</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsStopped</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Stopped_field_to_false</name>
        <label>update Stopped field to false</label>
        <locationX>616</locationX>
        <locationY>446</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsStopped</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Case_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>allVariables</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error:  {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Date: {!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;Interview start time: {!$Flow.InterviewStartTime}&lt;/p&gt;&lt;p&gt;Current Record: {!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Resource values:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Case ID: {!caseID}&lt;/p&gt;&lt;p&gt;Stopped:  {!stopValue}&lt;/p&gt;&lt;p&gt;Sub Status: {!subStatus}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>caseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stopValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
