force-app/main/default/flows/Proceed_to_NBAC_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>TransactionOverview</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Transaction Overview</stringValue>
        </value>
    </constants>
    <decisions>
        <description>This the origin dept the user is from</description>
        <name>Detemine_User_Origin</name>
        <label>Detemine User Origin</label>
        <locationX>933</locationX>
        <locationY>1524</locationY>
        <defaultConnector>
            <targetReference>Failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CommB_User_CIF_is_NOT_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserDivision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Banking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientCifNumber</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_NBAC_CommB_Record_Type_ID</targetReference>
            </connector>
            <label>CommB User &amp; CIF is NOT blank</label>
        </rules>
        <rules>
            <name>Is_Spv_Permissions</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4 AND (5 OR 6 OR 7 OR 8))</conditionLogic>
            <conditions>
                <leftValueReference>isCibNbacSpvNoCif</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientCifNumber</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>isCibNbacSpvCif</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientCifNumber</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryRelationshipHolder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Banking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryRelationshipHolder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal Banking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryRelationshipHolder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Banking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryRelationshipHolder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other PBB Divisions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NBAC_SPV_Record_Type_ID</targetReference>
            </connector>
            <label>Is Spv Permissions</label>
        </rules>
        <rules>
            <name>PRH_is_CIB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryRelationshipHolder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate and Investment Banking</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NBAC_RecordType_ID</targetReference>
            </connector>
            <label>PRH is CIB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>772</locationX>
        <locationY>676</locationY>
        <defaultConnector>
            <targetReference>Failture</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Submision_Type_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubmisionType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubmisionType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_User_Division</targetReference>
            </connector>
            <label>Submision Type not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_Milestone_must_be_null</name>
        <label>Validation - Milestone must be null</label>
        <locationX>50</locationX>
        <locationY>559</locationY>
        <defaultConnector>
            <targetReference>NBAC_already_in_progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Update_Milestone_to_Transaction_Overview</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Milestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Milestone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation</targetReference>
            </connector>
            <label>Update Milestone to &quot;Transaction Overview&quot;</label>
        </rules>
    </decisions>
    <formulas>
        <name>isCibNbacSpvCif</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.CibNbacSpvCif}</expression>
    </formulas>
    <formulas>
        <name>isCibNbacSpvNoCif</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.CibNbacSpvNoCif}</expression>
    </formulas>
    <formulas>
        <description>This is the ID of the user who is currently logged in</description>
        <name>UserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Proceed to NBAC Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proceed to NBAC Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Client_Record</name>
        <label>Get Client Record</label>
        <locationX>1032</locationX>
        <locationY>418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation_Milestone_must_be_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ClientCifNumber</assignToReference>
            <field>CIF__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryRelationshipHolder</assignToReference>
            <field>Primary_Relationship_Holder__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get the user division from current user&apos;s record</description>
        <name>Get_Current_User_Division</name>
        <label>Get Current User Division</label>
        <locationX>949</locationX>
        <locationY>982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Detemine_User_Origin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserDivision</assignToReference>
            <field>User_Division__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_NBAC_CommB_Record_Type_ID</name>
        <label>Get NBAC CommB Record Type ID</label>
        <locationX>761</locationX>
        <locationY>1235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_record_type_to_NBAC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NBAC_CommB</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>NbacRtId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Nbac_Record</name>
        <label>Get Nbac Record</label>
        <locationX>767</locationX>
        <locationY>334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Client_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Business_Assessment__c</object>
        <outputAssignments>
            <assignToReference>ClientId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Milestone</assignToReference>
            <field>Milestone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecortTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SubmisionType</assignToReference>
            <field>Submission_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_NBAC_RecordType_ID</name>
        <label>Get NBAC RecordType ID</label>
        <locationX>314</locationX>
        <locationY>1523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_record_type_to_NBAC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NBAC</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>NbacRtId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_NBAC_SPV_Record_Type_ID</name>
        <label>Get NBAC SPV Record Type ID</label>
        <locationX>452</locationX>
        <locationY>1324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_record_type_to_NBAC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NBAC_Joint_Venture</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>NbacRtId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Change_Milestone_to_Transaction_Overview</name>
        <label>Change Milestone to &quot;Transaction Overview&quot;</label>
        <locationX>175</locationX>
        <locationY>1043</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Milestone__c</field>
            <value>
                <elementReference>TransactionOverview</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Assessment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Change_record_type_to_NBAC</name>
        <label>Change record type to NBAC</label>
        <locationX>394</locationX>
        <locationY>1042</locationY>
        <connector>
            <targetReference>Update_NBAC_Start_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>NbacRtId</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Assessment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NBAC_Start_Date</name>
        <label>Update NBAC Start Date</label>
        <locationX>454</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Change_Milestone_to_Transaction_Overview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NBAC_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Assessment__c</object>
    </recordUpdates>
    <screens>
        <name>Failture</name>
        <label>Failture</label>
        <locationX>1046</locationX>
        <locationY>673</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FalitireOutput</name>
            <fieldText>Please select a Submission Type before proceeding to NBAC.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failure</name>
        <label>No Nbac Access</label>
        <locationX>1181</locationX>
        <locationY>1400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NbacAccessError</name>
            <fieldText>&lt;p&gt;You do not have the rights to create a NBAC on this client.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NBAC_already_in_progress</name>
        <label>NBAC already in progress</label>
        <locationX>1042</locationX>
        <locationY>557</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NBACInProgress</name>
            <fieldText>You cannot update to this milestone as the NBAC is already in progress</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>158</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Output</name>
            <fieldText>You will now proceed to the NBAC submission template. Select Finish to continue.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>398</locationX>
        <locationY>338</locationY>
        <connector>
            <targetReference>Get_Nbac_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClientCifNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Milestone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NbacRtId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryRelationshipHolder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecortTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmisionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This will hold the current user&apos;s user division</description>
        <name>UserDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
