force-app/main/default/flows/QueryCreatCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Complaint</name>
        <choiceText>Complaint</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Complaint</elementReference>
        </value>
    </choices>
    <choices>
        <name>Enquiry</name>
        <choiceText>Enquiry</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Enquiry</elementReference>
        </value>
    </choices>
    <choices>
        <name>Query</name>
        <choiceText>Query</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Query</elementReference>
        </value>
    </choices>
    <choices>
        <name>Request</name>
        <choiceText>Request</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Request</elementReference>
        </value>
    </choices>
    <choices>
        <name>Work_Request</name>
        <choiceText>Work Request</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Work_Request</elementReference>
        </value>
    </choices>
    <constants>
        <name>QueryInitialText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Query Case</stringValue>
        </value>
    </constants>
    <constants>
        <name>QueryValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Query</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_CIB_User</name>
        <label>Is CIB User</label>
        <locationX>513</locationX>
        <locationY>95</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_User_CIB</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserRoleDevName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIB_Customer_Contact_Centre_Angola_Division</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRoleDevName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIB_Customer_Contact_Centre_Angola_Business_Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AngolaRTLookup</targetReference>
            </connector>
            <label>Is User CIB</label>
        </rules>
        <rules>
            <name>Is_Not_CIB_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserRoleDevName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CIB_Customer_Contact_Centre_Angola_Business_Unit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRoleDevName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CIB_Customer_Contact_Centre_Angola_Division</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AngolaRTLookup</targetReference>
            </connector>
            <label>Is Not CIB User</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>UserRoleDevName</name>
        <dataType>String</dataType>
        <expression>{!$UserRole.DeveloperName}</expression>
    </formulas>
    <interviewLabel>QueryCreatCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QueryCreatCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CaseCreate</name>
        <label>CaseCreate</label>
        <locationX>508</locationX>
        <locationY>444</locationY>
        <assignRecordIdToReference>caseFlowId</assignRecordIdToReference>
        <connector>
            <targetReference>NavigateToRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AngolaRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>AngolaRTLookup</name>
        <label>AngolaRTLookup</label>
        <locationX>509</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseCreate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CCC_Angola</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AngolaRT.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ChooseCategory</name>
        <label>ChooseCategory</label>
        <locationX>515</locationX>
        <locationY>4</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_CIB_User</targetReference>
        </connector>
        <fields>
            <name>InitialText</name>
            <fieldText>{!QueryInitialText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NavigateToRecord</name>
        <label>NavigateToRecord</label>
        <locationX>508</locationX>
        <locationY>583</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NavigateToRecordCmp</name>
            <extensionName>c:CCC_NavigateToSObject</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>caseFlowId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>caseFlowId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>ChooseCategory</startElementReference>
    <status>Active</status>
    <variables>
        <name>AngolaRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>caseFlowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
