force-app/main/default/flows/Record_Trigger_Task_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Opp_To_Update</name>
        <label>Assign Opp To Update</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>OpportunityToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MilestoneTask.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToUpdate.Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MilestoneTask.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Milestone_On_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Action_Plan_Task</name>
        <label>Check Action Plan Task</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Action_Plan_Task</name>
            <conditionLogic>1 AND 5 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActionPlanTask__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ActivityDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ActivityDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Subject</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Opportunity_Tasks</targetReference>
            </connector>
            <label>If Action Plan Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tasks_Null_Check</name>
        <label>Tasks Null Check</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MilestoneTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opp_To_Update</targetReference>
            </connector>
            <label>If Not Null</label>
        </rules>
    </decisions>
    <interviewLabel>Record-Trigger: Task After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Task After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Opportunity_Tasks</name>
        <label>get Opportunity Tasks</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tasks_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>MilestoneTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Milestone_On_Opportunity</name>
        <label>Update Milestone On Opportunity</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputReference>OpportunityToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Action_Plan_Task</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MilestoneTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>OpportunitiesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
