force-app/main/default/flows/Save_and_Close_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_InProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CB_Set_Closed_Record_Type</targetReference>
            </connector>
            <label>Status=InProgress</label>
        </rules>
    </decisions>
    <interviewLabel>Save and Close Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Save and Close Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Save_and_Close_Updates</name>
        <label>Save and Close Updates</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Send_Case_Closure_Notification_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Category_Reporting__c</field>
            <value>
                <elementReference>caseRecord.Service_Type_Name__r.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type_Name_Reporting__c</field>
            <value>
                <elementReference>caseRecord.Service_Type_Name__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type_Reporting__c</field>
            <value>
                <elementReference>caseRecord.Service_Type_Name__r.ServiceType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Category_Reporting__c</field>
            <value>
                <elementReference>caseRecord.Service_Type_Name__r.Sub_Category__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CB_Set_Closed_Record_Type</name>
        <label>CB - Set Closed Record Type</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Set_Case_Owner_Team_Value_Flow</targetReference>
        </connector>
        <flowName>CB_Set_Closed_Record_Type</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Case_Closure_Notification_Flow</name>
        <label>Send Case Closure Notification Flow</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <flowName>Send_Case_Closure_Notification_Flow</flowName>
        <inputAssignments>
            <name>caseID</name>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactID</name>
            <value>
                <elementReference>caseRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OwnerTeamName</name>
            <value>
                <elementReference>caseRecord.Case_Owner_Team__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Set_Case_Owner_Team_Value_Flow</name>
        <label>Set Case Owner Team Value Flow</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Save_and_Close_Updates</targetReference>
        </connector>
        <flowName>Set_Case_Owner_Team_Value_Flow</flowName>
        <inputAssignments>
            <name>vCaseID</name>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
