force-app/main/default/flows/Send_Case_Resolution_Notification_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Angola_Client_Service</name>
        <label>Angola Client Service</label>
        <locationX>1370</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>customer.support2@standardbank.co.ao</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>CCC_Angola_Client_Service_Query_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Botswana_CST_CIB</name>
        <label>Botswana CST CIB</label>
        <locationX>5066</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_000</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>cibclientservicesbw@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Botswana_CST_CIB_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Botswana_CST_IS</name>
        <label>Botswana CST IS</label>
        <locationX>5330</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_000_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>investorservicessupport@stanbic.cominvestorservicessupport@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Botswana_CST_IS_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CB_Case</name>
        <label>CB Case</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>helpme@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Notify_Owner_that_case_is_Resolved</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Client_Experience</name>
        <label>Client Experience</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>forex@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>GMCE_Notify_Owner_that_case_is_Resolved</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Complaint</name>
        <label>Complaint</label>
        <locationX>1106</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>apoiocliente@standardbank.co.ao</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>CCC_Angola_Complaints_Query_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Cote_d_Ivoire_CST_CIB</name>
        <label>Cote d&apos;Ivoire CST CIB</label>
        <locationX>2954</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>serviceclient@stanbicbank.com.ci</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Cote_d_Ivoire_CST_CIB_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>DRC_CST_CIB</name>
        <label>DRC CST CIB</label>
        <locationX>4802</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>serviceclient.drc@standardbank.cd</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>DRC_CST_CIB_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ED_Case</name>
        <label>ED Case</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>pme.online@standardbank.co.ao</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>CCC_Angola_ED_Query_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Support_Team</name>
        <label>Email Support Team</label>
        <locationX>7706</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariableValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An unhandled fault has occurred in this flow: &apos;Send Case Resolution Notification Flow&apos;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Eswatini_CST_CIB</name>
        <label>Eswatini CST CIB</label>
        <locationX>5594</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_000_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>ccc-swaziland@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Eswatini_CST_CIB_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ghana_CST_CIB</name>
        <label>Ghana CST CIB</label>
        <locationX>4274</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>stanbicghanaclientservices@stanbic.com.gh</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Ghana_CST_CIB_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ghana_CST_IS</name>
        <label>Ghana CST IS</label>
        <locationX>4538</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>stanbicghanaisquery@stanbic.com.gh</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Ghana_CST_IS_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Kenya_CST_CIB_0</name>
        <label>Kenya CST CIB</label>
        <locationX>5858</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_000_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>corporatebankingkenya@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Kenya_CST_CIB_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lesotho_CST_CIB</name>
        <label>Lesotho CST CIB</label>
        <locationX>6914</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_000_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>lesothocorp@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Lesotho_CST_CIB_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Malawi_Case</name>
        <label>Malawi Case</label>
        <locationX>3482</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>cibclientservices@standardbank.co.mw</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Malawi_CST_CIB_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Mauritius_CST_CIB</name>
        <label>Mauritius CST CIB</label>
        <locationX>1898</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>clientservices@standardbank.mu</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Mauritius_CIB_CST_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Namibia_CST_CIB</name>
        <label>Namibia CST CIB</label>
        <locationX>2162</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>namibia.corporateservicecentre@standardbank.com.na</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Namibia_CST_CIB_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Namibia_CST_IS</name>
        <label>Namibia CST IS</label>
        <locationX>2426</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>namibiainvestorservicesclientservices@standardbank.com.na</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Namibia_CST_IS_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Service_Complaints</name>
        <label>Service Complaints</label>
        <locationX>1634</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>reclamacoes@standardbank.co.ao</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>CCC_Angola_Complaints_Query_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SouthSudan_CST_CIB_0_0</name>
        <label>South Sudan CST CIB</label>
        <locationX>6122</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_000_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>customercaresudanc@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>South_Sudan_CST_CIB_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tanzania_CST_CIB</name>
        <label>Tanzania CST CIB</label>
        <locationX>2690</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>tanzaniacib@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Tanzania_CST_CIB_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Uganda_Case</name>
        <label>Uganda Case</label>
        <locationX>3218</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>corporatesupportug@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Uganda_CST_CIB_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>VB_Case</name>
        <label>VB Case</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>apoiocliente@standardbank.co.ao</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>CCC_Angola_General_Requests_Query_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Zambia_CIB_Case</name>
        <label>Zambia CIB Case</label>
        <locationX>3746</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>zambiacallcentrecib@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Zambia_CST_CIB_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Zambia_IS_Case</name>
        <label>Zambia IS Case</label>
        <locationX>4010</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>iszambia@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Zambia_CST_IS_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Zimbabwe_CST_CIB</name>
        <label>Zimbabwe CST CIB</label>
        <locationX>6386</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_000_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>zimcibccc@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Zimbabwe_CST_CIB_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Zimbabwe_CST_IS</name>
        <label>Zimbabwe CST IS</label>
        <locationX>6650</locationX>
        <locationY>1238</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_signature_000_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>InvestorServicesqueriesZim@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Zimbabwe_CST_IS_Case_Resolution</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>manualFalse</name>
        <label>manualFalse?</label>
        <locationX>5528</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>respondManually</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_team_is_it</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_team_is_it</name>
        <label>What team is it?</label>
        <locationX>3614</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIBSA-Transactional Products and Services-International Trade Services-Cross Border CoE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>CB</label>
        </rules>
        <rules>
            <name>VB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-PBB-Voice Branch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceTypeReporting</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>VB</label>
        </rules>
        <rules>
            <name>CE_Client_Service</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIBSA-Global Markets-Foreign Exchange-Client Experience</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIBSA-Global Markets-Foreign Exchange-Client Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>CE/Client Service</label>
        </rules>
        <rules>
            <name>ED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-Enterprise Direct-Enterprise Direct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>ED</label>
        </rules>
        <rules>
            <name>VB_Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-PBB-Voice Branch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceTypeReporting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>VB Complaint</label>
        </rules>
        <rules>
            <name>Angola_CS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-Client Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Angola CS</label>
        </rules>
        <rules>
            <name>Service_Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-Service Team-Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Service Complaint</label>
        </rules>
        <rules>
            <name>Mauritius_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Mauritius</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Mauritius CST CIB Team</label>
        </rules>
        <rules>
            <name>Namibia_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Namibia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Namibia CST CIB Team</label>
        </rules>
        <rules>
            <name>Namibia_CST_IS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-IS-CS-Namibia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Namibia CST IS Team</label>
        </rules>
        <rules>
            <name>Tanzania_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Tanzania</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Tanzania CST CIB Team</label>
        </rules>
        <rules>
            <name>Cote_d_Ivoire_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Cote d’Ivoire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Cote d&apos;Ivoire CST CIB Team</label>
        </rules>
        <rules>
            <name>Uganda_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Uganda</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Uganda CST CIB Team</label>
        </rules>
        <rules>
            <name>Malawi_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Malawi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_0_0_0_0_0</targetReference>
            </connector>
            <label>Malawi CST CIB Team</label>
        </rules>
        <rules>
            <name>Zambia_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Zambia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank</targetReference>
            </connector>
            <label>Zambia CST CIB Team</label>
        </rules>
        <rules>
            <name>Zambia_CST_IS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-IS-CS-Zambia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_0</targetReference>
            </connector>
            <label>Zambia CST IS Team</label>
        </rules>
        <rules>
            <name>Ghana_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Ghana</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_0_0</targetReference>
            </connector>
            <label>Ghana CST CIB Team</label>
        </rules>
        <rules>
            <name>Ghana_CST_IS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-IS-CS-Ghana</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_0_0_0</targetReference>
            </connector>
            <label>Ghana CST IS Team</label>
        </rules>
        <rules>
            <name>DRC_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-DRC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_0_0_0_0</targetReference>
            </connector>
            <label>DRC CST CIB Team</label>
        </rules>
        <rules>
            <name>Botswana_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Botswana</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_00</targetReference>
            </connector>
            <label>Botswana CST CIB Team</label>
        </rules>
        <rules>
            <name>Botswana_CST_IS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-IS-CS-Botswana</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_000</targetReference>
            </connector>
            <label>Botswana CST IS Team</label>
        </rules>
        <rules>
            <name>Eswatini_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Eswatini</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_000_0</targetReference>
            </connector>
            <label>Eswatini CST CIB Team</label>
        </rules>
        <rules>
            <name>Kenya_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Kenya</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Case_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kenya</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_000_0_0</targetReference>
            </connector>
            <label>Kenya CST CIB Team</label>
        </rules>
        <rules>
            <name>South_Sudan_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Kenya</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Case_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Sudan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_000_0_0_0</targetReference>
            </connector>
            <label>South Sudan CST CIB Team</label>
        </rules>
        <rules>
            <name>Zimbabwe_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Zimbabwe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_000_0_0_0_0</targetReference>
            </connector>
            <label>Zimbabwe CST CIB Team</label>
        </rules>
        <rules>
            <name>Zimbabwe_CST_IS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-IS-CS-Zimbabwe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_000_0_0_0_0_0</targetReference>
            </connector>
            <label>Zimbabwe CST IS Team</label>
        </rules>
        <rules>
            <name>Lesotho_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_Team_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Lesotho</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Signature_to_Blank_000_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Lesotho CST CIB Team</label>
        </rules>
    </decisions>
    <description>sgprt-3800-Flow for case resolution notification. SFP-7219 - Create survey link</description>
    <interviewLabel>Send Case Resolution Notification Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Case Resolution Notification Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Case_Data</name>
        <label>get Case Data</label>
        <locationX>5528</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_User_Signature</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Support_Team</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Owner_Team_Name</assignToReference>
            <field>Case_Owner_Team__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>getOwnerID.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>respondManually</assignToReference>
            <field>Respond_Manually__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceTypeReporting</assignToReference>
            <field>Service_Type_Reporting__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_User_Signature</name>
        <label>get User Signature</label>
        <locationX>5528</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Stopped</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Support_Team</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>userSignature</assignToReference>
            <field>Signature</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>set_Signature_to_Blank</name>
        <label>set Signature to Blank</label>
        <locationX>3746</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Zambia_CIB_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_0</name>
        <label>set Signature to Blank</label>
        <locationX>4010</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Zambia_IS_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_00</name>
        <label>set Signature to Blank</label>
        <locationX>5066</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Botswana_CST_CIB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_000</name>
        <label>set Signature to Blank</label>
        <locationX>5330</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Botswana_CST_IS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_000_0</name>
        <label>set Signature to Blank</label>
        <locationX>5594</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Eswatini_CST_CIB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_000_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>5858</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Kenya_CST_CIB_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_000_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>6122</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>SouthSudan_CST_CIB_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_000_0_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>6386</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Zimbabwe_CST_CIB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_000_0_0_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>6650</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Zimbabwe_CST_IS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_000_0_0_0_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>6914</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Lesotho_CST_CIB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>4274</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Ghana_CST_CIB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>4538</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Ghana_CST_IS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_0_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>4802</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>DRC_CST_CIB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_0_0_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>3482</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Malawi_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_0_0_0_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>3218</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Uganda_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_0_0_0_0_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>2954</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Cote_d_Ivoire_CST_CIB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_0_0_0_0_0_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>2690</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Tanzania_CST_CIB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>2426</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Namibia_CST_IS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>2162</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Namibia_CST_CIB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>1898</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Mauritius_CST_CIB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>1634</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Service_Complaints</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Angola_Client_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>1106</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Complaint</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>ED_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Client_Experience</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>VB_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Signature_to_Blank_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>set Signature to Blank</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>CB_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature</name>
        <label>update signature</label>
        <locationX>3746</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_0</name>
        <label>update signature</label>
        <locationX>3482</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_000</name>
        <label>update signature</label>
        <locationX>5066</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_000_0</name>
        <label>update signature</label>
        <locationX>5330</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_000_0_0</name>
        <label>update signature</label>
        <locationX>5594</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_000_0_0_0</name>
        <label>update signature</label>
        <locationX>5858</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_000_0_0_0_0</name>
        <label>update signature</label>
        <locationX>6122</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_000_0_0_0_0_0</name>
        <label>update signature</label>
        <locationX>6386</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_000_0_0_0_0_0_0</name>
        <label>update signature</label>
        <locationX>6650</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_000_0_0_0_0_0_0_0</name>
        <label>update signature</label>
        <locationX>6914</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_0_0</name>
        <label>update signature</label>
        <locationX>3218</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_0_0_0</name>
        <label>update signature</label>
        <locationX>2954</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_0_0_0_0</name>
        <label>update signature</label>
        <locationX>2690</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_0_0_0_0_0</name>
        <label>update signature</label>
        <locationX>2426</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_0_0_0_0_0_0</name>
        <label>update signature</label>
        <locationX>2162</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_0_0_0_0_0_0_0</name>
        <label>update signature</label>
        <locationX>1898</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_0_0_0_0_0_0_0_0</name>
        <label>update signature</label>
        <locationX>1634</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_0_0_0_0_0_0_0_0_0</name>
        <label>update signature</label>
        <locationX>1370</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_0_0_0_0_0_0_0_0_0_0</name>
        <label>update signature</label>
        <locationX>1106</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>update signature</label>
        <locationX>842</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>update signature</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>update signature</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>update signature</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>update signature</label>
        <locationX>4010</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>update signature</label>
        <locationX>4274</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>update signature</label>
        <locationX>4538</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_signature_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>update signature</label>
        <locationX>4802</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOwnerID.Owner:User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signature</field>
            <value>
                <elementReference>userSignature</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Stopped</name>
        <label>update Stopped</label>
        <locationX>5528</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Set_Case_Owner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Support_Team</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Category_Reporting__c</field>
            <value>
                <elementReference>caseRecord.Service_Type_Name__r.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsStopped</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type_Name_Reporting__c</field>
            <value>
                <elementReference>caseRecord.Service_Type_Name__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type_Reporting__c</field>
            <value>
                <elementReference>caseRecord.Service_Type_Name__r.ServiceType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Category_Reporting__c</field>
            <value>
                <elementReference>caseRecord.Service_Type_Name__r.Sub_Category__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>5402</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Case_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Creates the survey link for the case</description>
        <name>Create_Survey_Link</name>
        <label>Create Survey Link</label>
        <locationX>5528</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>manualFalse</targetReference>
        </connector>
        <flowName>Create_Survey_Invitation</flowName>
        <inputAssignments>
            <name>vClosedCaseId</name>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Set_Case_Owner</name>
        <label>Set Case Owner</label>
        <locationX>5528</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>set_Record_Type</targetReference>
        </connector>
        <flowName>Set_Case_Owner_Flow</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>caseRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>set_Record_Type</name>
        <label>set Record Type</label>
        <locationX>5528</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Create_Survey_Link</targetReference>
        </connector>
        <flowName>CB_Set_Closed_Record_Type</flowName>
        <inputAssignments>
            <name>vCaseId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Error handling email body</description>
        <name>allVariableValues</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Date: {!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;Interview start time: {!$Flow.InterviewStartTime}&lt;/p&gt;&lt;p&gt;Current Record: {!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Resource values:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Case ID: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!caseID}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Contact ID: {!contactID}&lt;/p&gt;&lt;p&gt;Respond Manually: {!respondManually}&lt;/p&gt;&lt;p&gt;Service Type Reporting: {!ServiceTypeReporting}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;Owner Team Name: {!Owner_Team_Name}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>caseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getOwnerID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Owner_Team_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>respondManually</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTypeReporting</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userSignature</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
