force-app/main/default/flows/Send_Case_Closure_Notification_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Angola_Client_Services</name>
        <label>Angola Client Service</label>
        <locationX>1634</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>customer.support2@standardbank.co.ao</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>CCC_Angola_Client_Service_Query_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Angola_Complaint</name>
        <label>Angola Complaint</label>
        <locationX>1898</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>resposta.automatica@standardbank.co.ao</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>CCC_Angola_General_Requests_Query_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Botswana_CST_IS</name>
        <label>Botswana CST IS</label>
        <locationX>5594</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>clientservice@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Botswana_CST_IS_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Botswana_CST_Team</name>
        <label>Botswana CST Team</label>
        <locationX>5330</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>clientservice@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Botswana_CIB_CST_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CB_Case</name>
        <label>CB Case</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>helpme@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Cross_Border_CoE_Case_Closure_Email_Template</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Client_Experience</name>
        <label>Client Experience</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>forex@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Global_Market_Query_Closed</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Client_Services</name>
        <label>Client Service</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>cs@standardbank.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Global_Market_Query_Closed_GM2</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Cote_d_Ivoire_CST_CIB</name>
        <label>Cote d&apos;Ivoire CST CIB</label>
        <locationX>3218</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>serviceclient@stanbicbank.com.ci</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Cote_d_Ivoire_CST_CIB_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>DRC_CST_CIB</name>
        <label>DRC CST CIB</label>
        <locationX>5066</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>serviceclient.drc@standardbank.cd</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>DRC_CST_CIB_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ED_Case</name>
        <label>ED Case</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>pme.online@standardbank.co.ao</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>CCC_Angola_ED_Query_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Eswatini_CSTCIB_Team</name>
        <label>Eswatini CSTCIB Team</label>
        <locationX>5858</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>clientservice@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Eswatini_CST_CIB_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ghana_CST_CIB</name>
        <label>Ghana CST CIB</label>
        <locationX>4538</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>stanbicghanaclientservices@stanbic.com.gh</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Ghana_CST_CIB_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ghana_CST_IS</name>
        <label>Ghana CST IS</label>
        <locationX>4802</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>stanbicghanaisquery@stanbic.com.gh</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Ghana_CST_IS_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Kenya_CST_CIB_Team_000</name>
        <label>Kenya CST CIB Team</label>
        <locationX>6122</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>clientservice@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Kenya_CST_CIB_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lesotho_CST_CIB_Team00</name>
        <label>Lesotho CST CIB Team</label>
        <locationX>7178</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>clientservice@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Lesotho_CST_CIB_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Malawi_CST_CIB</name>
        <label>Malawi CST CIB</label>
        <locationX>4274</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>cibclientservices@standardbank.co.mw</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Malawi_CST_CIB_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Mauritius_CST_CIB</name>
        <label>Mauritius CST CIB</label>
        <locationX>2162</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>clientservices@standardbank.mu</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Mauritius_CIB_CST_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Namibia_CST_CIB</name>
        <label>Namibia CST CIB</label>
        <locationX>2426</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>namibia.corporateservicecentre@standardbank.com.na</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Namibia_CIB_CST_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Namibia_CST_IS</name>
        <label>Namibia CST IS</label>
        <locationX>2690</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>namibiainvestorservicesclientservices@standardbank.com.na</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Namibia_CST_IS_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Service_Team</name>
        <label>Service Team</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>reclamacoes@standardbank.co.ao</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>CCC_Angola_Complaints_Query_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>South_Sudan_CST_CIB_Team_0000</name>
        <label>South Sudan CST CIB Team</label>
        <locationX>6386</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>clientservice@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>South_Sudan_CST_CIB_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tanzania_CST_CIB</name>
        <label>Tanzania CST CIB</label>
        <locationX>2954</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>tanzaniacib@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Tanzania_CIB_CST_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Uganda_Case</name>
        <label>Uganda Case</label>
        <locationX>3482</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>corporatesupportug@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Uganda_CIB_CST_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>VB_Case</name>
        <label>VB Case</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>resposta.automatica@standardbank.co.ao</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>CCC_Angola_General_Requests_Query_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Zambia_CST_CIB</name>
        <label>Zambia CST CIB</label>
        <locationX>3746</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>zambiacallcentrecib@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Zambia_CST_CIB_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Zambia_CST_IS</name>
        <label>Zambia CST IS</label>
        <locationX>4010</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>iszambia@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Zambia_CST_IS_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Zimbabwe_CST_CIB_Team00</name>
        <label>Zimbabwe CST CIB Team</label>
        <locationX>6650</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>clientservice@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Zimbabwe_CST_CIB_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Zimbabwe_CST_IS_Team00</name>
        <label>Zimbabwe CST IS Team</label>
        <locationX>6914</locationX>
        <locationY>398</locationY>
        <actionName>SendServiceCaseEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>clientservice@stanbic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Zimbabwe_CST_IS_Case_Closure</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>closedRT</name>
        <label>closedRT?</label>
        <locationX>5726</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordTypeID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>what_team_is_it</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>what_team_is_it</name>
        <label>what team is it?</label>
        <locationX>3746</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIBSA-Transactional Products and Services-International Trade Services-Cross Border CoE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CB_Case</targetReference>
            </connector>
            <label>CB</label>
        </rules>
        <rules>
            <name>VB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-PBB-Voice Branch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>serviceTypeReporting</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VB_Case</targetReference>
            </connector>
            <label>VB</label>
        </rules>
        <rules>
            <name>Client_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIBSA-Global Markets-Foreign Exchange-Client Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Services</targetReference>
            </connector>
            <label>Client Service</label>
        </rules>
        <rules>
            <name>ED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-Enterprise Direct-Enterprise Direct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ED_Case</targetReference>
            </connector>
            <label>ED</label>
        </rules>
        <rules>
            <name>Angola_Service_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-Service Team-Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Team</targetReference>
            </connector>
            <label>Angola Service Team</label>
        </rules>
        <rules>
            <name>Client_Experiences</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIBSA-Global Markets-Foreign Exchange-Client Experience</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Experience</targetReference>
            </connector>
            <label>Client Experience</label>
        </rules>
        <rules>
            <name>Angola_Client_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-Client Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Angola_Client_Services</targetReference>
            </connector>
            <label>Angola Client Service</label>
        </rules>
        <rules>
            <name>Angola_Complaints</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-PBB-Voice Branch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>serviceTypeReporting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Angola_Complaint</targetReference>
            </connector>
            <label>Angola Complaints</label>
        </rules>
        <rules>
            <name>Mauritius_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Mauritius</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mauritius_CST_CIB</targetReference>
            </connector>
            <label>Mauritius CST CIB Team</label>
        </rules>
        <rules>
            <name>Namibia_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Namibia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Namibia_CST_CIB</targetReference>
            </connector>
            <label>Namibia CST CIB Team</label>
        </rules>
        <rules>
            <name>Namibia_CST_IS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-IS-CS-Namibia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Namibia_CST_IS</targetReference>
            </connector>
            <label>Namibia CST IS Team</label>
        </rules>
        <rules>
            <name>Tanzania_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Tanzania</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tanzania_CST_CIB</targetReference>
            </connector>
            <label>Tanzania CST CIB Team</label>
        </rules>
        <rules>
            <name>Cote_d_Ivoire_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Cote d’Ivoire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cote_d_Ivoire_CST_CIB</targetReference>
            </connector>
            <label>Cote d&apos;Ivoire CST CIB Team</label>
        </rules>
        <rules>
            <name>Uganda_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Uganda</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uganda_Case</targetReference>
            </connector>
            <label>Uganda CST CIB Team</label>
        </rules>
        <rules>
            <name>Zambia_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Zambia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zambia_CST_CIB</targetReference>
            </connector>
            <label>Zambia CST CIB Team</label>
        </rules>
        <rules>
            <name>Zambia_CST_IS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-IS-CS-Zambia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zambia_CST_IS</targetReference>
            </connector>
            <label>Zambia CST IS Team</label>
        </rules>
        <rules>
            <name>Malawi_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Malawi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Malawi_CST_CIB</targetReference>
            </connector>
            <label>Malawi CST CIB Team</label>
        </rules>
        <rules>
            <name>Ghana_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Ghana</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ghana_CST_CIB</targetReference>
            </connector>
            <label>Ghana CST CIB Team</label>
        </rules>
        <rules>
            <name>Ghana_CST_IS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-IS-CS-Ghana</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ghana_CST_IS</targetReference>
            </connector>
            <label>Ghana CST IS Team</label>
        </rules>
        <rules>
            <name>DRC_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-DRC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DRC_CST_CIB</targetReference>
            </connector>
            <label>DRC CST CIB Team</label>
        </rules>
        <rules>
            <name>Botswana_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Botswana</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Botswana_CST_Team</targetReference>
            </connector>
            <label>Botswana CST CIB Team</label>
        </rules>
        <rules>
            <name>Botswana_CST_IS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-IS-CS-Botswana</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Botswana_CST_IS</targetReference>
            </connector>
            <label>Botswana CST IS Team</label>
        </rules>
        <rules>
            <name>Eswatini_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Eswatini</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eswatini_CSTCIB_Team</targetReference>
            </connector>
            <label>Eswatini CST CIB Team</label>
        </rules>
        <rules>
            <name>Kenya_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Kenya</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kenya</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Kenya_CST_CIB_Team_000</targetReference>
            </connector>
            <label>Kenya CST CIB Team</label>
        </rules>
        <rules>
            <name>South_Sudan_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Kenya</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Sudan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>South_Sudan_CST_CIB_Team_0000</targetReference>
            </connector>
            <label>South Sudan CST CIB Team</label>
        </rules>
        <rules>
            <name>Zimbabwe_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Zimbabwe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zimbabwe_CST_CIB_Team00</targetReference>
            </connector>
            <label>Zimbabwe CST CIB Team</label>
        </rules>
        <rules>
            <name>Zimbabwe_CST_IS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-IS-CS-Zimbabwe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zimbabwe_CST_IS_Team00</targetReference>
            </connector>
            <label>Zimbabwe CST IS Team</label>
        </rules>
        <rules>
            <name>Lesotho_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerTeamName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Africa Regions-Client Services-CIB-CS-Lesotho</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lesotho_CST_CIB_Team00</targetReference>
            </connector>
            <label>Lesotho CST CIB Team</label>
        </rules>
    </decisions>
    <description>SGPRT-3800- Flow for case closure notifications.</description>
    <interviewLabel>Send Case Closure Notification Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Case Closure Notification Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>5600</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>closedRT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>error handling email body</description>
        <name>allVariableValues</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error:  {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Date: {!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;Interview start time: {!$Flow.InterviewStartTime}&lt;/p&gt;&lt;p&gt;Current Record: {!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Resource values:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Case ID: {!caseID}&lt;/p&gt;&lt;p&gt;Contact ID: {!contactID}&lt;/p&gt;&lt;p&gt;Record Type ID:  {!recordTypeID}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Owner Team Name:  {!OwnerTeamName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Service Type Reporting:  {!serviceTypeReporting}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseCountry</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerTeamName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceTypeReporting</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
