force-app/main/default/flows/Set_Client_Fields_on_Case_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Support_Team_0</name>
        <label>Email Support Team</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariables</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An unhandled fault has occurred in this flow: &apos; Case Closure Action Flow&apos;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Support_Team_0_0</name>
        <label>Email Support Team</label>
        <locationX>1898</locationX>
        <locationY>1910</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariables</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An unhandled fault has occurred in this flow: &apos; Case Closure Action Flow&apos;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>count_Client_Operating_Countries</name>
        <label>count Client Operating Countries</label>
        <locationX>974</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>countClientOperatingCountries</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_Client_Operating_Countries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Number_of_Client_Operating_Countries</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Client_Chinese_Segment</name>
        <label>Check for Client Chinese Segment</label>
        <locationX>974</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>get_Client_Operating_Countries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Account.Chinese_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Chinese_Owned_Business_to_Yes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_of_Client_Operating_Countries</name>
        <label>Check Number of Client Operating Countries</label>
        <locationX>974</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Is_In_Country_Priority_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_Operating_Countries_more_than_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countClientOperatingCountries</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_MNC_on_Case</targetReference>
            </connector>
            <label>Client Operating Countries more than 2</label>
        </rules>
        <rules>
            <name>Client_Operating_Countries_less_than_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countClientOperatingCountries</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_MNC_on_Case_0</targetReference>
            </connector>
            <label>Client Operating Countries less than 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkServiceTier</name>
        <label>checkServiceTier</label>
        <locationX>1898</locationX>
        <locationY>1670</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tier_Premium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCIBServiceTier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Priority_to_High</targetReference>
            </connector>
            <label>Tier Premium</label>
        </rules>
        <rules>
            <name>Tier_High_Touch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCIBServiceTier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Touch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Priority_to_Medium</targetReference>
            </connector>
            <label>Tier High Touch</label>
        </rules>
        <rules>
            <name>Tier_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCIBServiceTier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Priority_to_Low</targetReference>
            </connector>
            <label>Tier Standard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_In_Country_Priority_Client</name>
        <label>Is In-Country Priority Client</label>
        <locationX>974</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Service_Tier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Priority_Country_Matching_Case_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCIBPriorityClient</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>caseRecord.Case_Country__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryCIBPriorityClient</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Client_Service_Tier_Premium</targetReference>
            </connector>
            <label>Is Priority Country Matching Case Country</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Tier</name>
        <label>Service Tier</label>
        <locationX>1898</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCIBServiceTier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCIBServiceTier_Standard</targetReference>
            </connector>
            <label>IsBlank</label>
        </rules>
        <rules>
            <name>NotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCIBServiceTier</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCIBServiceTier_vCIBServiceTier</targetReference>
            </connector>
            <label>NotBlank</label>
        </rules>
    </decisions>
    <description>Populate the Case.Client fields on Cross Border Record Type cases based on the linked Account&apos;s Client Sector. For Reference see SFP-3829
SFP-11979 - Feed Chinese owned Business for case with Client Chinese Segment Data</description>
    <interviewLabel>Set Client Fields on Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Client Fields on Case Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Case_Data</name>
        <label>get Case Data</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Client_Chinese_Segment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_Support_Team_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vCIBServiceTier</assignToReference>
            <field>CIB_Service_Tier__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vClientSector</assignToReference>
            <field>Client_Sector__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CountryCIBPriorityClient</assignToReference>
            <field>In_Country_CIB_Priority_Client__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Client_Operating_Countries</name>
        <label>get Client Operating Countries</label>
        <locationX>974</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>count_Client_Operating_Countries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CIB_Presence__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Operating_Countries__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountId</name>
        <label>getAccountId</label>
        <locationX>974</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Case_Data</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_Support_Team_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>vAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>set_Chinese_Owned_Business_to_Yes</name>
        <label>set Chinese Owned Business to Yes</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>get_Client_Operating_Countries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Chinese_Owned_business__c</field>
            <value>
                <stringValue>YES</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_Client_Service_Tier_Premium</name>
        <label>set Client Service Tier Premium</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CIB_Service_Tier__c</field>
            <value>
                <stringValue>Premium</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_MNC_on_Case</name>
        <label>set MNC on Case</label>
        <locationX>710</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Is_In_Country_Priority_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MNC__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_MNC_on_Case_0</name>
        <label>set MNC on Case</label>
        <locationX>974</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Is_In_Country_Priority_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MNC__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>setCIBServiceTier_Standard</name>
        <label>setCIBServiceTier=Standard</label>
        <locationX>578</locationX>
        <locationY>1550</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_Support_Team_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CIB_Service_Tier__c</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientSector__c</field>
            <value>
                <elementReference>vClientSector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>setCIBServiceTier_vCIBServiceTier</name>
        <label>setCIBServiceTier=vCIBServiceTier</label>
        <locationX>1898</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>checkServiceTier</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_Support_Team_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CIB_Service_Tier__c</field>
            <value>
                <elementReference>vCIBServiceTier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientSector__c</field>
            <value>
                <elementReference>vClientSector</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Priority_to_High</name>
        <label>Update Priority to High</label>
        <locationX>1106</locationX>
        <locationY>1790</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_Support_Team_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Priority_to_Low</name>
        <label>Update Priority to Low</label>
        <locationX>2162</locationX>
        <locationY>1790</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_Support_Team_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Priority_to_Medium</name>
        <label>Update Priority to Medium</label>
        <locationX>1634</locationX>
        <locationY>1790</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>allVariables</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error:  {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Date: {!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;Interview start time: {!$Flow.InterviewStartTime}&lt;/p&gt;&lt;p&gt;Current Record: {!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Resource values:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Case ID: {!caseRecord.Id}&lt;/p&gt;&lt;p&gt;Contact ID: {!caseRecord.ContactId}&lt;/p&gt;&lt;p&gt;Record Type ID:  {!caseRecord.RecordTypeId}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Owner Team Name:  {!caseRecord.Case_Owner_Team__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Service Type Reporting:  {!caseRecord.Service_Type_Reporting__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ClientOperatingCountries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Operating_Countries__c</objectType>
    </variables>
    <variables>
        <name>countClientOperatingCountries</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountryCIBPriorityClient</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCIBServiceTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vClientSector</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPriority</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
