force-app/main/default/flows/Set_Client_Service_Tier_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Support_Team_0</name>
        <label>Email Support Team</label>
        <locationX>699</locationX>
        <locationY>764</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariables</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An unhandled fault has occurred in this flow: &apos; Case Closure Action Flow&apos;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Support_Team_0_0</name>
        <label>Email Support Team</label>
        <locationX>1449</locationX>
        <locationY>318</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariables</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An unhandled fault has occurred in this flow: &apos; Case Closure Action Flow&apos;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_In_Country_Priority_Client</name>
        <label>Is In-Country Priority Client</label>
        <locationX>830</locationX>
        <locationY>441</locationY>
        <defaultConnector>
            <targetReference>Service_Tier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Priority_Country_Matching_Case_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Country_CIB_Priority_Client</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>caseRecord.Case_Country__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setClientServiceTirePremium</targetReference>
            </connector>
            <label>Is Priority Country Matching Case Country</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Tier</name>
        <label>Service Tier</label>
        <locationX>835</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCIBServiceTier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCIBServiceTier_Standard</targetReference>
            </connector>
            <label>IsBlank</label>
        </rules>
        <rules>
            <name>NotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCIBServiceTier</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCIBServiceTier_vCIBServiceTier</targetReference>
            </connector>
            <label>NotBlank</label>
        </rules>
    </decisions>
    <interviewLabel>Set Client Service Tier Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Client Service Tier Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Case_Data</name>
        <label>get Case Data</label>
        <locationX>842</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_In_Country_Priority_Client</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vCIBServiceTier</assignToReference>
            <field>CIB_Service_Tier__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Country_CIB_Priority_Client</assignToReference>
            <field>In_Country_CIB_Priority_Client__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getAccountId</name>
        <label>getAccountId</label>
        <locationX>841</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Case_Data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>vAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>setCIBServiceTier_Standard</name>
        <label>setCIBServiceTier=Standard</label>
        <locationX>483</locationX>
        <locationY>717</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CIB_Service_Tier__c</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>setCIBServiceTier_vCIBServiceTier</name>
        <label>setCIBServiceTier=vCIBServiceTier</label>
        <locationX>951</locationX>
        <locationY>916</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>CIB_Service_Tier__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Premium</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CIB_Service_Tier__c</field>
            <value>
                <elementReference>vCIBServiceTier</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>setClientServiceTirePremium</name>
        <label>setClientServiceTirePremium</label>
        <locationX>1060</locationX>
        <locationY>685</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CIB_Service_Tier__c</field>
            <value>
                <stringValue>Premium</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>714</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getAccountId</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>allVariables</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error:  {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Date: {!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;Interview start time: {!$Flow.InterviewStartTime}&lt;/p&gt;&lt;p&gt;Current Record: {!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Resource values:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Case ID: {!caseRecord.Id}&lt;/p&gt;&lt;p&gt;Contact ID: {!caseRecord.ContactId}&lt;/p&gt;&lt;p&gt;Record Type ID:  {!caseRecord.RecordTypeId}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Owner Team Name:  {!caseRecord.Case_Owner_Team__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Service Type Reporting:  {!caseRecord.Service_Type_Reporting__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Country_CIB_Priority_Client</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCIBServiceTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
