force-app/main/default/flows/Set_Case_Owner_Team_Value_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send error message to internal support team: cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</description>
        <name>Email_Support_Team</name>
        <label>Email Support Team</label>
        <locationX>9290</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariableValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An unhandled fault has occurred in this flow: &apos;Set Case Owner Team Value Flow&apos;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send error message to internal support team: cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</description>
        <name>Email_Support_Team_0</name>
        <label>Email Support Team</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariableValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An unhandled fault has occurred in this flow: &apos;Set Case Owner Team Value Flow&apos;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send error message to internal support team: cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</description>
        <name>Email_Support_Team_0_0</name>
        <label>Email Support Team</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariableValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An unhandled fault has occurred in this flow: &apos;Set Case Owner Team Value Flow&apos;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send error message to internal support team: cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</description>
        <name>Email_Support_Team_0_0_0</name>
        <label>Email Support Team</label>
        <locationX>6650</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariableValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An unhandled fault has occurred in this flow: &apos;Set Case Owner Team Value Flow&apos;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send error message to internal support team: cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</description>
        <name>Email_Support_Team_0_0_0_0</name>
        <label>Email Support Team</label>
        <locationX>11138</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariableValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An unhandled fault has occurred in this flow: &apos;Set Case Owner Team Value Flow&apos;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send error message to internal support team: cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</description>
        <name>Email_Support_Team_0_0_0_0_0</name>
        <label>Email Support Team</label>
        <locationX>2954</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariableValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An unhandled fault has occurred in this flow: &apos;Set Case Owner Team Value Flow&apos;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send error message to internal support team: cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</description>
        <name>Email_Support_Team_0_0_0_0_0_0</name>
        <label>Email Support Team</label>
        <locationX>4538</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariableValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An unhandled fault has occurred in this flow: &apos;Set Case Owner Team Value Flow&apos;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send error message to internal support team: cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</description>
        <name>Email_Support_Team_0_0_0_0_0_0_0</name>
        <label>Email Support Team</label>
        <locationX>16946</locationX>
        <locationY>998</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariableValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An unhandled fault has occurred in this flow: &apos;Set Case Owner Team Value Flow&apos;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send error message to internal support team: cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</description>
        <name>Email_Support_Team_0_0_0_0_0_0_0_0_0_0</name>
        <label>Email Support Team</label>
        <locationX>19058</locationX>
        <locationY>398</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariableValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An unhandled fault has occurred in this flow: &apos;Set Case Owner Team Value Flow&apos;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send error message to internal support team: cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</description>
        <name>Email_Support_Team_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Email Support Team</label>
        <locationX>12722</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>allVariableValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>cibsacrmitps.cibsacrmitproductionsuppo@standardbank.co.za</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An unhandled fault has occurred in this flow: &apos;Set Case Owner Team Value Flow&apos;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>CIB_or_IS_Department</name>
        <label>CIB Department?</label>
        <locationX>17606</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Owner_Team_01_01</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vDepartment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDepartment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_currently_South_Sudan</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_currently_South_Sudan</name>
        <label>Owner currently South Sudan</label>
        <locationX>17210</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>South_Sudan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCaseCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Sudan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>South Sudan</label>
        </rules>
        <rules>
            <name>Not_South_Sudan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCaseCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>South Sudan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Not South Sudan</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_or_Queue</name>
        <label>User or Queue</label>
        <locationX>13448</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCaseOwnerID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQueueDetail_0</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCaseOwnerID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getUserDetail</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_is_the_Case_Owner_0</name>
        <label>Who is the Case Owner</label>
        <locationX>8102</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cross_Border_CoE_Team_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cross_Border_CoE_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team</targetReference>
            </connector>
            <label>Cross Border CoE Team</label>
        </rules>
        <rules>
            <name>GM_Client_Experience_Team_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Experience_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team_0</targetReference>
            </connector>
            <label>GM Client Experience Team</label>
        </rules>
        <rules>
            <name>GM_Client_Service_Team_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Services_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team_0_0</targetReference>
            </connector>
            <label>GM Client Service Team</label>
        </rules>
        <rules>
            <name>Angola_PBB_Voice_Branch_Team_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Angola_CCC_Apoiocliente_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team_0_0_0</targetReference>
            </connector>
            <label>Angola PBB Voice Branch Team</label>
        </rules>
        <rules>
            <name>Angola_CIB_Client_Service_Team_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Angola_CCC_BB_Customer_Support_Queue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Angola_CCC_Transferencias_Queue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Angola_Client_Access_Case_Queue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Angola_CIB_OG_Case_Queue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Angola_CIB_Other_Case_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team_0_0_0_0</targetReference>
            </connector>
            <label>Angola CIB Client Service Team</label>
        </rules>
        <rules>
            <name>Angola_Enterprise_Direct_Team_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Angola_ED_Case_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team_0_0_0_0_0</targetReference>
            </connector>
            <label>Angola Enterprise Direct Team</label>
        </rules>
        <rules>
            <name>Angola_Service_Team_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Angola_CCC_Reclamacoes_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Angola Service Team</label>
        </rules>
        <rules>
            <name>Mauritius_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mauritius_CST_CIB_Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team_01</targetReference>
            </connector>
            <label>Mauritius CST CIB Team</label>
        </rules>
        <rules>
            <name>Namibia_CST_CIB_Teams</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Namibia_CST_CIB_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team_0_0_1</targetReference>
            </connector>
            <label>Namibia CST CIB Teams</label>
        </rules>
        <rules>
            <name>Namibia_CST_IS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Namibia_CST_IS_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team_0_0_2</targetReference>
            </connector>
            <label>Namibia CST IS Team</label>
        </rules>
        <rules>
            <name>Cote_d_Ivoire_CIB_CS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cote_d_Ivoire_CST_CIB_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team000</targetReference>
            </connector>
            <label>Cote d’Ivoire CIB-CS Team</label>
        </rules>
        <rules>
            <name>Tanzania_CIB_CS_Team</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tanzania_CST_CIB_FOA_Queries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tanzania_CST_CIB_BOA_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team00</targetReference>
            </connector>
            <label>Tanzania CIB-CS Team</label>
        </rules>
        <rules>
            <name>Uganda_CIB_CS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uganda_CST_CIB_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team_000</targetReference>
            </connector>
            <label>Uganda CIB-CS Team</label>
        </rules>
        <rules>
            <name>Malawi_CIB_CS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malawi_CST_CIB_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team0000</targetReference>
            </connector>
            <label>Malawi CIB-CS Team</label>
        </rules>
        <rules>
            <name>Zamibia_CST_IS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zambia_CST_IS_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team00000</targetReference>
            </connector>
            <label>Zamibia CST IS Team</label>
        </rules>
        <rules>
            <name>Zamibia_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zambia_CST_CIB_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team000000</targetReference>
            </connector>
            <label>Zamibia CST CIB Team</label>
        </rules>
        <rules>
            <name>Ghana_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ghana_CST_CIB_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team_Ghana</targetReference>
            </connector>
            <label>Ghana CST CIB Team</label>
        </rules>
        <rules>
            <name>Ghana_CST_IS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ghana_CST_IS_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team_Ghana_IS</targetReference>
            </connector>
            <label>Ghana CST IS Team</label>
        </rules>
        <rules>
            <name>DRC_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DRC_CST_CIB_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team_DRC</targetReference>
            </connector>
            <label>DRC CST CIB Team</label>
        </rules>
        <rules>
            <name>Mauritius_VA_Technical_support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mauritius_VA_Technical_support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team_2</targetReference>
            </connector>
            <label>Mauritius VA Technical support</label>
        </rules>
        <rules>
            <name>Eswatini_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eswatini_CST_CIB_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_0_1_0</targetReference>
            </connector>
            <label>Eswatini CST CIB Team</label>
        </rules>
        <rules>
            <name>Botswana_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Botswana_CST_CIB_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Team_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Botswana CST CIB Team</label>
        </rules>
        <rules>
            <name>Botswana_CST_IS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Botswana_CST_IS_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_0_1</targetReference>
            </connector>
            <label>Botswana CST IS Team</label>
        </rules>
        <rules>
            <name>South_Sudan_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South_Sudan_CST_CIB_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_0_1_0_0</targetReference>
            </connector>
            <label>South Sudan CST  CIB Team</label>
        </rules>
        <rules>
            <name>Kenya_FI_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kenya_CST_CIB_Queries_FI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_0_1_0_0_0_0</targetReference>
            </connector>
            <label>Kenya FI Team</label>
        </rules>
        <rules>
            <name>Kenya_Corporate_Banking_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kenya_CST_CIB_Queries_Corporate_Banking</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_0_1_0_0_0_0_0</targetReference>
            </connector>
            <label>Kenya Corporate Banking Team</label>
        </rules>
        <rules>
            <name>Kenya_Custodial_Queries_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kenya_CST_CIB_Queries_Custodial_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_0_1_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Kenya Custodial Queries Team</label>
        </rules>
        <rules>
            <name>OneHub_Support_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OneHub_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_0_1_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>OneHub Support Team</label>
        </rules>
        <rules>
            <name>Zimbabwe_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zimbabwe_CST_CIB_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_0_1_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Zimbabwe CST CIB Team</label>
        </rules>
        <rules>
            <name>Zimbabwe_CST_IS_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zimbabwe_CST_IS_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_0_1_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Zimbabwe CST IS Team</label>
        </rules>
        <rules>
            <name>Lesotho_CST_CIB_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lesotho_CST_CIB_Queries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_0_1_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Lesotho CST CIB Team</label>
        </rules>
    </decisions>
    <interviewLabel>Set Case Owner Team Value Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Case Owner Team Value Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCaseDetail</name>
        <label>getCaseDetail</label>
        <locationX>13448</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_or_Queue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>vCaseCountry</assignToReference>
            <field>Case_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCaseOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getQueueDetail_0</name>
        <label>getQueueDetail</label>
        <locationX>8102</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Who_is_the_Case_Owner_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Support_Team</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseOwnerID</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vQueueName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeID</name>
        <label>getRecordTypeID</label>
        <locationX>13448</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCaseDetail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cross_Border_CoE_Record_Type</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cross_Border_CoE_Closed_Record_Type</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getUserDetail</name>
        <label>getUserDetail</label>
        <locationX>17606</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CIB_or_IS_Department</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseOwnerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vDepartment</assignToReference>
            <field>Business_Unit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCountry</assignToReference>
            <field>Country</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vUserTeamValueCombination</assignToReference>
            <field>Team_Value_Combination__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Owner_0_1</name>
        <label>Update Case Owner</label>
        <locationX>11402</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Botswana</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-IS-CS-Botswana</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>IS</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_0_1_0</name>
        <label>Update Case Owner</label>
        <locationX>10346</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Swaziland</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-CIB-CS-Eswatini</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>CIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_0_1_0_0</name>
        <label>Update Case Owner</label>
        <locationX>11930</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>South Sudan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-CIB-CS-Kenya</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>CIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_0_1_0_0_0_0</name>
        <label>Update Case Owner</label>
        <locationX>12458</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Kenya</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-CIB-CS-Kenya</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>CIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_0_1_0_0_0_0_0</name>
        <label>Update Case Owner</label>
        <locationX>12986</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Kenya</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-CIB-CS-Kenya</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>CIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_0_1_0_0_0_0_0_0</name>
        <label>Update Case Owner</label>
        <locationX>13514</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Kenya</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-CIB-CS-Kenya</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>CIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_0_1_0_0_0_0_0_0_0</name>
        <label>Update Case Owner</label>
        <locationX>14042</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>CIB Global-Digital-Digital-OneHub Support</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_0_1_0_0_0_0_0_0_0_0</name>
        <label>Update Case Owner</label>
        <locationX>14570</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Zimbabwe</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-CIB-CS-Zimbabwe</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>CIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_0_1_0_0_0_0_0_0_0_0_0</name>
        <label>Update Case Owner</label>
        <locationX>15098</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Zimbabwe</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-IS-CS-Zimbabwe</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>IS</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_0_1_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Case Owner</label>
        <locationX>15626</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Lesotho</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-CIB-CS-Lesotho</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>CIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team</name>
        <label>Update Case Owner Team</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>CIBSA-Transactional Products and Services-International Trade Services-Cross Border CoE</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team00</name>
        <label>Update Case Owner Team</label>
        <locationX>5858</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Tanzania</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-CIB-CS-Tanzania</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>CIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team000</name>
        <label>Update Case Owner Team</label>
        <locationX>5330</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Cote D`Ivoire</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-CIB-CS-Cote d’Ivoire</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>CIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team0000</name>
        <label>Update Case Owner Team</label>
        <locationX>6914</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Malawi</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-CIB-CS-Malawi</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>CIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team00000</name>
        <label>Update Case Owner Team</label>
        <locationX>7442</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Zambia</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-IS-CS-Zambia</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>IS</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team000000</name>
        <label>Update Case Owner Team</label>
        <locationX>7970</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Zambia</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-CIB-CS-Zambia</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>CIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team_0</name>
        <label>Update Case Owner Team</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>CIBSA-Global Markets-Foreign Exchange-Client Experience</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team_000</name>
        <label>Update Case Owner Team</label>
        <locationX>6386</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Uganda</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-CIB-CS-Uganda</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>CIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team_01</name>
        <label>Update Case Owner Team</label>
        <locationX>3746</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Mauritius</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-CIB-CS-Mauritius</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>CIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team_01_01</name>
        <label>Update Case Owner Team</label>
        <locationX>18002</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <elementReference>vUserTeamValueCombination</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team_0_0</name>
        <label>Update Case Owner Team</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>CIBSA-Global Markets-Foreign Exchange-Client Services</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team_0_0_0</name>
        <label>Update Case Owner Team</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Angola</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-PBB-Voice Branch</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>PBB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team_0_0_0_0</name>
        <label>Update Case Owner Team</label>
        <locationX>2162</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Angola</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-CIB-Client Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>CIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team_0_0_0_0_0</name>
        <label>Update Case Owner Team</label>
        <locationX>2690</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Angola</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-Enterprise Direct-Enterprise Direct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Enterprise Direct</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team_0_0_0_0_0_0</name>
        <label>Update Case Owner Team</label>
        <locationX>3218</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Angola</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-Service Team-Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Service Team</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team_0_0_0_0_0_0_0</name>
        <label>Update Case Owner Team</label>
        <locationX>17210</locationX>
        <locationY>878</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <elementReference>vCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <elementReference>vUserTeamValueCombination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>vDepartment</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team_0_0_0_0_0_0_0_0</name>
        <label>Update Case Owner Team</label>
        <locationX>16682</locationX>
        <locationY>878</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <elementReference>vUserTeamValueCombination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>vDepartment</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team_0_0_0_0_0_0_0_0_0</name>
        <label>Update Case Owner Team</label>
        <locationX>10874</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Botswana</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-CIB-CS-Botswana</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>CIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team_0_0_1</name>
        <label>Update Case Owner Team</label>
        <locationX>4274</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Namibia</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-CIB-CS-Namibia</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>CIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team_0_0_2</name>
        <label>Update Case Owner Team</label>
        <locationX>4802</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Namibia</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-IS-CS-Namibia</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>IS</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team_2</name>
        <label>Update Case Owner Team</label>
        <locationX>10082</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Virtual Assistant Technical Support</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team_DRC</name>
        <label>Update Case Owner Team</label>
        <locationX>9554</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Congo, Democratic Republic of the</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-CIB-CS-DRC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>CIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team_Ghana</name>
        <label>Update Case Owner Team</label>
        <locationX>8498</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Ghana</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-CIB-CS-Ghana</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>CIB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_Team_Ghana_IS</name>
        <label>Update Case Owner Team</label>
        <locationX>9026</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Email_Support_Team</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Country__c</field>
            <value>
                <stringValue>Ghana</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Owner_Team__c</field>
            <value>
                <stringValue>Africa Regions-Client Services-IS-CS-Ghana</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>IS</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>13322</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRecordTypeID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Error Handling</description>
        <name>allVariableValues</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error:  {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Date: {!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;Interview start time: {!$Flow.InterviewStartTime}&lt;/p&gt;&lt;p&gt;Current Record: {!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Resource values:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Case ID: {!vCaseID}&lt;/p&gt;&lt;p&gt;Case Owner ID: {!vCaseOwnerID}&lt;/p&gt;&lt;p&gt;Queue Name: {!vQueueName}&lt;/p&gt;&lt;p&gt;Record Type ID: {!vRecordTypeID}&lt;/p&gt;&lt;p&gt;User Team Value Combination: {!vUserTeamValueCombination}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>vCaseCountry</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDepartment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserTeamValueCombination</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
