force-app/main/default/flows/SVC_CaseManualCaseCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Decision to confirm if the case was created from the CTI adapter, if yes, then we always pass the Case Source value as Client Phone to ensure we override any value that users may have selected other than Phone</description>
        <name>SVC_CaseCreatedFromCTIAdapter</name>
        <label>Case Created From CTI Adapter</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>SVC_SCREEN_NavigateToCaseRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SVC_CaseCreatedFromCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SVC_AmazonConnectContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SVC_Origin</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SVC_UpdateCaseSubjectAndSource</targetReference>
            </connector>
            <label>Case Created From CTI</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to determine is the user selected &apos;Client does not exist&apos;. If yes, then create a prospect client record, else just pass through the client&apos;s Salesforce ID.</description>
        <name>SVC_CreateAClient</name>
        <label>Create a Client</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>SVC_CreateAndResolveTheCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Client Exists</defaultConnectorLabel>
        <rules>
            <name>SVC_CreateNewProspectClient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SVC_CMP_ClientDoesNotExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SVC_CreateNewProspectClientRecord</targetReference>
            </connector>
            <label>Create New Prospect Client</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to determine whether the user opted to create and resolve the case or just create the case</description>
        <name>SVC_CreateAndResolveTheCase</name>
        <label>Create and Resolve The Case</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>SVC_GetCaseOpenRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>SVC_CreateAndResolve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SVC_CMP_CreateAndResolveTheCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SVC_GetCaseClosedRecordType</targetReference>
            </connector>
            <label>Create and Resolve</label>
        </rules>
    </decisions>
    <description>SFP-11238 - This flow triggers a screen to allow consultants to capture cases manually.

Update:
- ensured that on creation, the case is populated with a CIB Service Tier value</description>
    <dynamicChoiceSets>
        <name>SVC_VAR_CaseSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Updates the case&apos;s subject to include the case origin and service type that has been selected</description>
        <name>SVC_VAR_CaseSubject</name>
        <dataType>String</dataType>
        <expression>TEXT({!SVC_VAR_CaseSource}) &amp;  &quot; - &quot; &amp; {!SVC_CMP_Subject}</expression>
    </formulas>
    <formulas>
        <name>SVC_VAR_CaseSubjectFromCTI</name>
        <dataType>String</dataType>
        <expression>{!SVC_Origin} &amp;  &quot; - &quot; &amp; {!SVC_CMP_Subject}</expression>
    </formulas>
    <formulas>
        <description>Ensures the root cause long text area only takes in 1000 characters</description>
        <name>SVC_VAR_TrimMyRootCause</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!SVC_CMP_RootCause}, 1000))</expression>
    </formulas>
    <formulas>
        <description>Ensures the root cause resolution long text area only takes in 1000 characters</description>
        <name>SVC_VAR_TrimRootCauseResolution</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!SVC_CMP_RootCauseResolution}, 1000))</expression>
    </formulas>
    <formulas>
        <description>Stores the user&apos;s country</description>
        <name>SVC_VAR_UserCountry</name>
        <dataType>String</dataType>
        <expression>{!$User.Country}</expression>
    </formulas>
    <interviewLabel>SVC Case - Manual Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SVC Case - Manual Case Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>SVC_CreateCase</name>
        <label>Create Case</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <assignRecordIdToReference>SVC_VAR_CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>SVC_CaseCreatedFromCTIAdapter</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>SVC_AccountRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIB_Service_Tier__c</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SVC_CMP_CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SVC_VAR_CaseSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SVC_VAR_CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type_Name__c</field>
            <value>
                <elementReference>SVC_VAR_ServiceTypeRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SVC_VAR_CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>amazonconnect__AC_Contact_Id__c</field>
            <value>
                <elementReference>SVC_AmazonConnectContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>SVC_CreateCaseAndResolve</name>
        <label>Create Case and Resolve</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignRecordIdToReference>SVC_VAR_CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>SVC_CaseCreatedFromCTIAdapter</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>SVC_AccountRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIB_Service_Tier__c</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SVC_CMP_CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SVC_VAR_CaseSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SVC_VAR_CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Root_Cause_Resolution__c</field>
            <value>
                <elementReference>SVC_VAR_TrimRootCauseResolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Root_Cause__c</field>
            <value>
                <elementReference>SVC_VAR_TrimMyRootCause</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type_Name__c</field>
            <value>
                <elementReference>SVC_VAR_ServiceTypeRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SVC_VAR_CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>amazonconnect__AC_Contact_Id__c</field>
            <value>
                <elementReference>SVC_AmazonConnectContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Create new prospect client</description>
        <name>SVC_CreateNewProspectClientRecord</name>
        <label>Create New Prospect Client Record</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>SVC_AccountRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>SVC_CreateAndResolveTheCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SVC_SCREEN_PotentialDuplicate</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SVC_CMP_NewClientName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SVC_VAR_AccountRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <description>Retrieve the Case record type Id for &apos;Cross_Border_CoE_Closed_Record_Type&apos;</description>
        <name>SVC_GetCaseClosedRecordType</name>
        <label>Get Case Closed Record Type</label>
        <locationX>182</locationX>
        <locationY>1178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SVC_CreateCaseAndResolve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cross_Border_CoE_Closed_Record_Type</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SVC_VAR_CaseRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the Case record type Id for &apos;Cross Border CoE Record Type&apos;</description>
        <name>SVC_GetCaseOpenRecordType</name>
        <label>Get Case Open Record Type</label>
        <locationX>446</locationX>
        <locationY>1178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SVC_CreateCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cross_Border_CoE_Record_Type</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SVC_VAR_CaseRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the account record type id of type &apos;Prospect&apos;</description>
        <name>SVC_GetProspectAccountRecordType</name>
        <label>Get Prospect Account Record Type</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SVC_GetServiceTypeDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SVC_VAR_AccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SVC_GetServiceTypeDetails</name>
        <label>Get Service Type Details</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SVC_CreateAClient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SVC_VAR_ServiceTypeRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SVC_UpdateCaseSubjectAndSource</name>
        <label>Update Case Subject And Source</label>
        <locationX>182</locationX>
        <locationY>1634</locationY>
        <connector>
            <targetReference>SVC_SCREEN_NavigateToCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SVC_VAR_CaseRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>SVC_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SVC_VAR_CaseSubjectFromCTI</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>screen to capture case information</description>
        <name>SVC_SCREEN_CreateNewCase</name>
        <label>Create a New Case</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SVC_GetProspectAccountRecordType</targetReference>
        </connector>
        <fields>
            <name>SVC_CMP_CreateNewCaseHeading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Create a New Case&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SVC_SCREEN_CreateNewCase_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SVC_SCREEN_CreateNewCase_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SVC_CMP_ExistingClientName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Client Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>SVC_AccountRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SVC_AccountRecordId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SVC_CMP_ClientDoesNotExist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SVC_CMP_ClientDoesNotExist</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SVC_CMP_ClientDoesNotExist</elementReference>
                    </defaultValue>
                    <fieldText>Client Does Not Exist</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Select this to create a prospect client.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SVC_SCREEN_CreateNewCase_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SVC_SCREEN_CreateNewCase_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SVC_SCREEN_CreateNewCase_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SVC_CMP_CreateClientMessage</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Capture the prospect&apos;s details&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SVC_CMP_NewClientName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SVC_CMP_NewClientName</elementReference>
                    </defaultValue>
                    <fieldText>Client Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SVC_SCREEN_CreateNewCase_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SVC_CMP_ClientDoesNotExist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SVC_SCREEN_CreateNewCase_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SVC_SCREEN_CreateNewCase_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SVC_CMP_CaseDetailsMessage</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Capture the case details&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SVC_CMP_CaseSource</name>
                    <choiceReferences>SVC_VAR_CaseSource</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SVC_Origin</elementReference>
                    </defaultValue>
                    <fieldText>Case Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Select the channel where the case originated from.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SVC_CMP_Subject</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SVC_CMP_Subject</elementReference>
                    </defaultValue>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SVC_CMP_CaseDescription</name>
                    <defaultValue>
                        <stringValue>{!SVC_CMP_CaseDescription}</stringValue>
                    </defaultValue>
                    <fieldText>Case Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SVC_CMP_CreateAndResolveTheCase</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SVC_CMP_CreateAndResolveTheCase</elementReference>
                    </defaultValue>
                    <fieldText>Create and Resolve The Case</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SVC_SCREEN_CreateNewCase_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SVC_SCREEN_CreateNewCase_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SVC_SCREEN_CreateNewCase_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SVC_CMP_RootCauseMessage</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Capture the root cause details&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SVC_CMP_RootCause</name>
                    <defaultValue>
                        <stringValue>{!SVC_CMP_RootCauseMessage}</stringValue>
                    </defaultValue>
                    <fieldText>Root Cause</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;List the reasons for the query.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SVC_CMP_RootCauseResolution</name>
                    <defaultValue>
                        <stringValue>{!SVC_CMP_RootCauseResolution}</stringValue>
                    </defaultValue>
                    <fieldText>Root Cause Resolution</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;List the actions/measures/process that has been put in place to prevent the client from experiencing the same issue again.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SVC_SCREEN_CreateNewCase_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SVC_CMP_CreateAndResolveTheCase</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SVC_SCREEN_NavigateToCaseRecord</name>
        <label>Navigate To Case Record</label>
        <locationX>314</locationX>
        <locationY>1850</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SVC_CMP_CaseCreatedSuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Case Successfully Created&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SVC_NavigateCaseRecord</name>
            <extensionName>c:SVC_NewCaseRecordNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountRecordId</name>
                <value>
                    <elementReference>SVC_AccountRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>calledFrom</name>
                <value>
                    <elementReference>SVC_CalledFrom</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseRecordId</name>
                <value>
                    <elementReference>SVC_VAR_CaseRecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SVC_SCREEN_PotentialDuplicate</name>
        <label>Potential Duplicate</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SVC_SCREEN_CreateNewCase</targetReference>
        </connector>
        <fields>
            <name>SVC_CMP_PotentialDuplicateHeading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Potential Duplicate Client&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SVC_CMP_PotentialDuplicateMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(3, 45, 96); background-color: rgb(255, 255, 255);&quot;&gt;You&apos;re creating a potential duplicate client record. We recommend you use an existing record instead.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SVC_SCREEN_CreateNewCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>stores the Account ID</description>
        <name>SVC_AccountRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Amazon Connect Contact Id value passed by the CTI adapter</description>
        <name>SVC_AmazonConnectContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable is used to determine where the manual case screen flow is called from externally (e.g.: CTI flow, SF console)</description>
        <name>SVC_CalledFrom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Case Id of the external record that triggered the manual case creation</description>
        <name>SVC_CHNWCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SVC_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Origin value passed by the CTI adapter</description>
        <name>SVC_Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the &apos;Prospect&apos; Account record type id value</description>
        <name>SVC_VAR_AccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the case record id</description>
        <name>SVC_VAR_CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the case&apos;s record type Id</description>
        <name>SVC_VAR_CaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the contact&apos;s Id</description>
        <name>SVC_VAR_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the service type record Id value</description>
        <name>SVC_VAR_ServiceTypeRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
