force-app/main/default/flows/SVC_UpdateContactChannelOnCaseCreationFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <description>SFP-10420 - Update Contact channel  when case is getting created.
This is specific to AWS Contact Center for Voice and Chat</description>
    <interviewLabel>Update Contact Channel On Case Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Channel On Case Creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SVC_ACGetContactChannel</name>
        <label>Get AC Contact Channel</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SVC_ACUpdateContactChannel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>amazonconnect__ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.amazonconnect__AC_Contact_Id__c</elementReference>
            </value>
        </filters>
        <object>amazonconnect__AC_ContactChannels__c</object>
        <outputAssignments>
            <assignToReference>ContactChannelID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>SVC_ACUpdateContactChannel</name>
        <label>Update AC Contact Channel</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactChannelID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>amazonconnect__Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>amazonconnect__AC_ContactChannels__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SVC_ACGetContactChannel</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>amazonconnect__AC_Contact_Id__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>amazonconnect__AC_Contact_Id__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactChannelID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
