force-app/main/default/flows/Sync_Policy_with_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Update_Policy_from_Product</name>
        <label>Update Policy from Product</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.SA_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Parent_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Parent_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Grand_Parent_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Grand_Parent_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SourceOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Expiry_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Renewal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Renewal_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Inception_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Inception_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PremiumAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Premium_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.StandardFeeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Fee_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commission_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Commission_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fee_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Fee_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Insurer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Insurer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NeedSyncWithProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.StandardPremiumAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Commission_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Form_Opportunity</name>
        <label>Is Form Opportunity</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SB_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product</targetReference>
            </connector>
            <label>From Opportunity</label>
        </rules>
    </decisions>
    <description>SFP-10316 Syncronise Insurance Policy fields with linked Product&apos;s fields</description>
    <interviewLabel>Sync Policy with Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Policy with Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Policy_from_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SB_Product__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SB_Product__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SA_Product__c</queriedFields>
        <queriedFields>Parent_Product__c</queriedFields>
        <queriedFields>Grand_Parent_Product__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Inception_Date__c</queriedFields>
        <queriedFields>Expiry_Date__c</queriedFields>
        <queriedFields>Renewal_Date__c</queriedFields>
        <queriedFields>Insurer__c</queriedFields>
        <queriedFields>Premium_Amount__c</queriedFields>
        <queriedFields>Commission_Amount__c</queriedFields>
        <queriedFields>Fee_Amount__c</queriedFields>
        <queriedFields>Commission_Frequency__c</queriedFields>
        <queriedFields>Fee_Frequency__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Form_Opportunity</targetReference>
        </connector>
        <object>InsurancePolicy</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
